/*
 * @group breadcrumbs
 */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  position: relative;
  border: 0 solid $bg-grey;
  border-width: 1.125rem 0;

  .currentsection {
    font-weight: bold;
  }

  li:empty {
    display: none;
  }

  li,
  a {
    font-size: 1rem;
  }

  > li > a {
    font-size: 1.125rem;
  }

  > li {
    &:last-child > a {
      font-weight: 700;
    }

    > a::after {
      //font-family: "uos";
      //font-size: 12px;
      color: currentColor;
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      top: 3px;
      right: -5px;
      // content: " \e97b"; // chevron-right
      content: var(--icon-chevron-right);
    }

    &.breadcrumbs__item--has-submenu > a::after {
      //content: " \e981"; // plus
      content: var(--icon-plus);
    }
    &.is-active > a::after {
      //content: " \e979"; // downron
      content: var(--icon-chevron-down);
    }

    ul {
      display: none;
      position: absolute;
      top: 3rem;
      right: 0;
      bottom: auto;
      left: 0;

      list-style: none;
      margin: 0;
      padding: 1rem;
      background-color: $bg-grey;
      z-index: z($z-index-elements, breadcrumbs-submenu);
      border-bottom: 5px solid #ccc;

      li {
        line-height: 1.4;
        margin-bottom: 0.6rem;
      }
    }

    &.is-active ul {
      display: block;
    }

    &:not(.breadcrumbs__item--has-submenu):last-child > a::after {
      content: none;
    }
  }
}

.breadcrumbs--internal {
  border-color: $heritage-green;

  li,
  a {
    color: $white;

    &::after {
      filter: brightness(0) invert(1);
    }
  }

  li ul {
    background-color: $heritage-green;
  }
}

@media screen and (min-width: 64rem) {
  .breadcrumbs {
    border-width: 2.125rem 0;
    gap: 2rem;

    > li {
      position: relative;

      ul {
        min-width: 30ch;
        left: -1rem;
      }
    }
  }
}
