/* 
	Callouts
	Deprecated!! Use the foundation helpers eg callout alert
	or build with utils eg u-bg-heritage-berry u-white--all u-p-1 u-my-2
*/

.callout.alert {
  a {
    color: #fff;

    &:hover {
      border-bottom-color: #fff;
    }
  }
}

.callout.warning {
  background-color: #fdd775;
}

dialog {
  max-width: 70vw;
  border: none;
  padding: 3rem;
  box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.07);
}
