/* 
	Callouts
	Deprecated!! Use the foundation helpers eg callout alert
	or build with utils eg u-bg-heritage-berry u-white--all u-p-1 u-my-2
*/

.callout.alert {
  a {
    color: #fff;

    &:hover {
      border-bottom-color: #fff;
    }
  }
}

.callout.warning {
  background-color: #fdd775;
}

/*
.c-top-edge-callout {
	margin: 0;
	display: none;

	a {
		color: $white;
		border-bottom: 2px solid $white !important;
	}

	.close-button {
		top: auto;
		color: $white;
	}
}

.c-callout {
	border: 2px solid currentColor;
	padding: 1em;
	padding: calc(1em-2px);

	a {
		text-decoration: underline;
	}

	> :last-child {
		margin-bottom: 0;
	}

	&.alert {
		color: #B30000;
	}
	&.info {
		border-color: $heritage-navy;
		strong {
			color: $heritage-navy;
		}
	}
}
*/

/* clone of .callout.warning for convience 
.c-callout.warning{
	@extend .callout.warning;
	border:none;
}
*/
