/*
.c-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: #008894;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
}

@media screen and #{breakpoint(medium up)} {
  .c-initials {
    padding: 30px;
    width: 130px;
    height: 130px;
    font-size: 4.5rem;
  }
}
*/
