/***
Call to Action
***/
/*
.cta {
  border: 2px solid transparent;
  display: inline-block;
  font-size: 1.25rem; /* 20px *
  margin: 0 0 20px 0;
  padding: 23px 64px;
  transition: all 0.3s ease-in-out;
}


.cta__disabled {
    background-color: #B5B0B4;
    color: #3A3C38;
    cursor: default;
    pointer-events: none;
}
*/
/*
Call to Action - Heritage Green
**
.cta--heritage-green {
    background-color: #3B6938;
    color: #FFFFFF;
}

.cta--heritage-green:hover,
.cta--heritage-green__active {
    background-color: #FFFFFF;
    border-color: #3B6938;
    color: #3B6938;
}

/*
Call to Action - Energy Green
**
.cta--energy-green {
    background-color: $energy-green;
    color: #3A3C38;
}

.cta--energy-green:hover,
.cta--energy-green__active {
    background-color: #FFFFFF;
    border-color: $energy-green;
    color: #3A3C38;
}

/*
Call to Action - Heritage Berry
**
.cta--heritage-berry {
    background-color: #662656;
    color: #FFFFFF;
}

.cta--heritage-berry:hover,
.cta--heritage-berry__active {
    background-color: #FFFFFF;
    border-color: #662656;
    color: #662656;
}
*/
