/*
 * Download box
 */

.c-download-box {
  border: #f6f5f4 3px solid;
  margin: 1rem 0 2.5rem;

  .c-dropdown-wrapper {
    margin: 25px 25px 0px 25px;
  }
  img {
    padding: 45px 45px 50px;
    width: 100%;
  }
  p {
    background: #f6f5f4;
    padding: 18px 25px;
    margin-bottom: 0px;
    font-size: 1.125rem;
  }
}

.c-download-box--dark {
  background-color: #3a3c39;
}

.c-download-box.small-download-box {
  p {
    font-size: 1rem;
    padding: 15px 23px;
  }
  .button {
    span {
      display: none;
    }
    padding: 8px 13px 8px 3px;
  }
  img {
    padding: 25px 25px 30px;
  }
}

.c-dropdown-wrapper {
  width: 280px;

  .button--dropdown {
    min-width: auto;

    &:hover {
      background-color: $white;
      border-color: $heritage-green;
      color: $heritage-green;
    }
    &:focus {
      background-color: $white;
      border-color: $heritage-green;
      color: $heritage-green;
    }
  }
}
