/*
    Photo Galleries

.c-photo-gallery__thumb > img {
  object-fit: cover;
  object-position: 50% 10%;
  width: 100%;
  height: 300px;
}
  */

/* New gallery by rk8 Oct 2024 */

.gallery-thumbnail {
  width: 250px;
  height: 180px;
  object-fit: cover;
  object-position: center 20%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 2px 4px 16px #00000029;
}

.gallery-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gallery-overlay.active .gallery-full-image {
  opacity: 1;
}

.gallery-full-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.gallery-overlay svg.closeBtn {
  transition: transform 0.2s ease-in-out;
}

.gallery-overlay svg.closeBtn:hover {
  transform: rotate(180deg);
}
