/*
    Mobile first
*/

.c-half-n-half {
  margin: 0 0 40px 0;

  .u-hook-tr > ::before {
    top: 0;
  }

  .u-hook-bl > ::before {
    bottom: 0;
  }

  .c-half-n-half__content {
    background-color: $bg-grey;
  }

  &.js-animation {
    overflow-x: hidden; /* prevent horizontal scroll (before animation is triggered) */
  }

  &:first-of-type {
    margin: 40px 0;
  }

  .c-half-n-half__image {
    height: 250px;
  }

  .c-half-n-half__copy {
    a {
      color: $heritage-green !important;
    }

    strong {
      color: currentColor !important; /* needs !i to defeat u-white--all */
    }

    // &.c-wysiwyg-content blockquote p {
    //   font-size: 1rem !important;
    // }
  }

  // .c-half-n-half__copy p,
  // .c-half-n-half__copy ul li {
  //   font-size: 1.125rem; /* 18px */
  // }
}

/* 
    Wrapper overrides 
*/

.c-wrapper[class*="u-bg-"] .c-half-n-half {
  .c-half-n-half__content {
    background-color: $white;
  }

  .c-half-n-half__header {
    color: $heritage-green !important;
  }

  .c-half-n-half__copy {
    p,
    ul li {
      color: $black !important;
    }

    a:after {
      color: $black !important;
      background-color: $black !important;
    }
  }
}

.c-wrapper.u-bg-white .c-half-n-half .c-half-n-half__content {
  background-color: $bg-grey;
}

/*
    Medium up
*/

@media screen and #{breakpoint(medium up)} {
  .c-half-n-half .c-half-n-half__image {
    height: 430px;
  }
}

/*
    Large up
*/

@media screen and #{breakpoint(large up)} {
  .c-half-n-half {
    margin: 0 0 64px 0;

    .c-half-n-half__image {
      width: 58%;
      height: 100%;
      max-width: 712px;
    }

    .c-half-n-half__content,
    .c-half-n-half__content-2025 {
      min-height: 333px;
    }

    /* odd and even swaps */
    &:nth-of-type(odd) {
      .c-half-n-half__image {
        left: 0;
        margin-left: 15px;
      }

      .c-half-n-half__content {
        margin: 70px 0 70px 50%;
      }

      .c-half-n-half__content-2025 {
        margin: 40px 0 40px 50%;
      }
    }

    &:nth-of-type(even) {
      .c-half-n-half__image {
        right: 0;
        margin-right: 15px;
      }

      .c-half-n-half__content {
        margin: 70px 50% 70px 0;
      }

      .c-half-n-half__content-2025 {
        margin: 40px 50% 40px 0;
      }
    }

    &:first-of-type {
      margin: 60px 0;
    }
  }
}

/* 
     White out over rides 
 */

.u-white--all .c-half-n-half .c-half-n-half__content {
  h2 {
    color: $heritage-green !important;
  }

  a.c-link {
    color: $heritage-green !important;

    &::before {
      background-color: $heritage-green !important;
    }

    &::after {
      color: $heritage-green !important;
    }
  }
}
