/* 
  New version Aug 2022
  Mostly uses utils now
*/

/* version 1 - Side by side */

.c-home-hook-promo {
  > div[data-objectfit] {
    height: 320px;
  }

  .c-home-hook-promo--content .hook {
    margin: 0 40px 0 0; // margin-right: 40px
    padding: 0 20px 20px 40px;
    font-size: 7.5vw;
  }
}

@media screen and #{breakpoint(medium up)} {
  .c-home-hook-promo {
    div[data-objectfit] {
      height: 520px;
    }

    .c-home-hook-promo--content .hook {
      font-size: 2.8rem;
      margin-right: 60px;
      padding-left: 60px;
    }
  }
}

@media screen and #{breakpoint(large up)} {
  .c-home-hook-promo {
    div[data-objectfit] {
      height: auto;
    }

    .c-home-hook-promo--content {
      height: 690px;

      .hook {
        padding-left: 60px;
        font-size: 2.8rem;
      }
    }
  }
}

/* version 2 - BG Image */

.c-home-hook-promo-bgimg {
  div[data-objectfit] {
    height: 320px;
  }

  .hook {
    padding-right: 40px;
    margin: 0 0 0 20px; // margin-left: 20px
    font-size: 7.5vw;
  }
}

@media screen and #{breakpoint(medium up)} {
  .c-home-hook-promo-bgimg {
    div[data-objectfit] {
      height: 520px;
    }

    .hook {
      font-size: 2.8rem;
      margin-left: 40px;
      padding-right: 60px;
    }
  }
}

@media screen and #{breakpoint(large up)} {
  .c-home-hook-promo-bgimg div[data-objectfit] {
    height: 700px;

    img {
      width: 95%;
    }
  }
}
