.c-icon-link span[class^="uos-facebook"] {
  color: #3b5998;
}

.c-icon-link span[class^="uos-instagram"] {
  color: #262626;
}

.c-icon-link span[class^="uos-twitter"] {
  color: #55acee;
}

.c-icon-link span[class^="uos-youtube"] {
  color: #ff0000;
}

.c-icon-link span[class^="uos-linkedin"] {
  color: #007bb5;
}

.c-icon-link span[class^="uos-snapchat"] {
  color: #373a36;
}

.c-icon-link span[class^="uos-tiktok"] {
  color: #373a36;
}

.c-icon-link span[class^="uos-facebook"],
.c-icon-link span[class^="uos-instagram"],
.c-icon-link span[class^="uos-twitter"],
.c-icon-link span[class^="uos-youtube"],
.c-icon-link span[class^="uos-linkedin"],
.c-icon-link span[class^="uos-tiktok"],
.c-icon-link span[class^="uos-snapchat"] {
  font-size: 3.125rem; /* 50px */
}

@media screen and #{breakpoint(xlarge down)} {
  .c-icon-link span[class^="uos-"] {
    font-size: 3.25rem; /* 52px */
  }
}
