.c-icon-grid {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 8px 16px;
}

/*
    List with icons as bullets
    Now replaced by u-icon
*/

// .icon-list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

//.icon-list__list-item {
// display: flex;
//align-items: center;

// &:last-child {
//   margin-bottom: 0;
// }

//   [class^="uos-"],
//   [class*=" uos-"] {
//     margin-right: 20px;
//     color: $energy-green;
//     font-size: 2.1875rem; /* 35px */
//   }

//   &.icon-list__list-item--small-icon {
//     font-size: 100%;
//   }
// }

// @media screen and #{breakpoint(medium down)} {
//   .icon-list {
//     padding: 0;
//   }
// }
