.c-infographic {
  overflow: hidden;

  .c-infographic__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }

  .c-infographic__image {
    max-height: 130px;
    width: 100%;
    height: 100%;
  }

  .c-infographic__header {
    font-family: FSMaja, serif;
    margin: 0 0 5px 0;
    line-height: 1.5;
    font-size: 2.25rem; /* 36px */
    border: none;
  }

  .c-infographic__line1 {
    font-weight: 700;
    margin: 0 0 15px 0;
    line-height: 1.5;
    font-size: 1.1875rem; /* 19px */
  }

  /* 
      Compact style 
  */
  &.c-infographic-compact {
    .c-infographic__header {
      color: #005e63;
      margin: 0 0 8px 0;
    }

    .c-infographic__line1 {
      color: #3a3c39;
      margin: 0 0 15px 0;
    }
  }

  &.u-padding-y {
    padding-top: 1rem;
    padding-bottom: 0rem;
  }
}

/* Medium up */
@media screen and (min-width: 640px) {
  .c-infographic {
    &.u-padding-y {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .c-infographic__image {
      max-height: 150px;
    }

    .c-infographic__header {
      font-size: 2.625rem;
    }
  }
}

/* Large up */
@media screen and (min-width: 1024px) {
  .c-infographic {
    &.u-padding-y {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .c-infographic__image {
      max-width: 440px;
      max-height: 200px;
    }

    .c-infographic__header {
      font-size: 2.875rem; /* 46px */
    }

    .c-infographic__line1 {
      font-size: 1.375rem; /* 22px */
    }
  }
}

/* X Large up */
@media screen and (min-width: 1440px) {
  .c-infographic {
    &.u-padding-y {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .c-infographic__image {
      max-width: 550px;
      max-height: 250px;
    }

    .c-infographic__header {
      font-size: 4.9375rem; /* 79px */
    }

    .c-infographic__line1 {
      font-size: 2rem; /* 32px */
    }

    /* Compact style font sizes differ at largest breakpoint */
    &.c-infographic-compact {
      .c-infographic__header {
        font-size: 3rem; /* 48px */
      }

      .c-infographic__line1 {
        font-size: 1.4375rem; /* 23px */
      }
    }
  }
}

/* 
  "123" added for Clearing 2024




*/
.c-123 {
  grid-template-columns: auto;
  gap: 1rem;
}

@media screen and (min-width: 640px) {
  .u-grid.c-123 {
    grid-template-columns: 1fr auto;
  }
}

@media screen and (min-width: 975px) {
  .u-grid.c-123 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  .u-grid.c-123 a {
    grid-row: 1;
  }
}

.c-123 > a {
  display: block;
  padding: 2rem;
  text-align: center;
  font-family: "General Sans";
}

.c-123 > a p {
  font-size: 1.75rem;
}

.c-123 p {
  margin: 0;
}

.c-123 svg {
  width: 3.5rem;
  height: 3.5rem;
}

.c-123 a {
  border: 2px solid transparent;
  transition: 0.2s color, 0.2s background-color;

  &.energy-pink {
    color: #fff;
    background-color: $energy-pink;
    &:hover {
      background-color: #fff !important;
      color: $energy-pink;
      border-color: $energy-pink;
      svg path {
        fill: $energy-pink !important;
      }
    }
  }

  &.energy-green {
    &:hover {
      color: $heritage-green; // #67a51e; //was set to #67a51e;
    }
  }

  &.heritage-green {
    background-color: $heritage-green;
    color: #fff;
    &:hover {
      background-color: #fff !important;
      color: $heritage-green;
      border-color: $heritage-green;
      svg path {
        fill: $heritage-green !important;
      }
    }
  }
  &.energy-turq {
    background-color: $energy-turq;
    color: #fff;
    &:hover {
      background-color: #fff !important;
      color: $energy-turq;
      border-color: $energy-turq;
      svg path {
        fill: $energy-turq !important;
      }
    }
  }
  &.web-turq {
    background-color: $web-turq;
    color: #fff;
    &:hover {
      background-color: #fff !important;
      color: $web-turq;
      border-color: $web-turq;
      svg path {
        fill: $web-turq !important;
      }
    }
  }
  &.energy-purple {
    background-color: $energy-purple;
    color: #fff;
    &:hover {
      background-color: #fff !important;
      color: $energy-purple;
      border-color: $energy-purple;
      svg path {
        fill: $energy-purple !important;
      }
    }
  }
  &.heritage-purple {
    background-color: $heritage-purple;
    color: #fff;
    &:hover {
      background-color: #fff !important;
      color: $heritage-purple;
      border-color: $heritage-purple;
      svg path {
        fill: $heritage-purple !important;
      }
    }
  }
}
