/*
    Past Recordings

.c-recording:nth-of-type(2n+1) {
    background-color: tint($light-mink, 15%);
}
.c-recording__details {
    display: flex;
    margin: 0 0 40px 0;
}
.c-recording__details span[class^="uos-"] {
    color: $heritage-green;
    font-size: 3.75rem; /* 60px *
    margin: 0 25px 0 0;
}
.c-recording__author {
    margin: 0 40px 0 0;
}
.c-recording__details p {
    margin: 0;
}
@media screen and #{breakpoint(small down)} {
    .c-recording__details {
        display: block;
    }
    .c-recording__author {
        margin: 0 0 20px 0;
    }
}
*/
