/**
 * Promo box with category label
 * (still in use 2023-09-15)
 */
.c-promo-box_category {
  background-color: $heritage-green;
  color: white;
  position: absolute;
  right: 0;
  top: auto;
  bottom: 1em;
  padding: 0.1em 1em 0.2em;
  text-transform: uppercase;
  font-family: FSMaja, serif;
  font-weight: 100;

  &::after {
    content: "";
    position: absolute;
    height: 0.6em;
    bottom: -0.2em;
    right: 0;
    left: 0;
    width: auto;
    border: 3px solid white;
    border-width: 0 0 3px 3px;
  }
}

.c-promo-box_category {
  &[data-category="Research Spotlight"] {
    background-color: $heritage-teal;
  }

  &[data-category="Impact"] {
    background-color: $heritage-berry;
  }
}
