/* 

  Small (by default) 

*/

cite {
  color: $black;
  font-style: normal;
  font-size: 1rem; /* 16px */
  margin: 0 0 24px 0;
}

cite:before {
  content: "";
}

.pullquote {
  margin: 16px 0;
  background-color: #f0efed; // slightly dif grey to avoid wrapper clashes
}

.pullquote > div {
  padding: 32px;
}

.pullquote .author {
  font-weight: 700;
  font-size: 1.25rem; /* 20px */
}

.pullquote blockquote {
  border: 0;
  margin: 0 0 24px 0;
  padding: 0;
  color: #3a3c39;
  font-size: 1.125rem; /* 18px */
}

.pullquote-grid--2 .pullquote:nth-child(2),
.pullquote-grid--3 .pullquote:nth-child(2),
.pullquote-grid--3 .pullquote:nth-child(3) {
  display: none;
}

// .pullquote-vid > div.responsive-embed {
//   padding-top: 0;
// }

/* 

  Medium up 

*/

@media only screen and (min-width: 640px) {
  .pullquote {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 24px auto 24px;
  }

  .pullquote.pullquote-pic > img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    max-height: 450px;
    width: 100%;
    overflow: hidden;
  }

  /* 1 Quote available */

  .pullquote-grid--1 .pullquote {
    margin-left: 16%;
    margin-right: 16%;
  }

  /* 2 / 3 Quotes Available */

  .pullquote-grid--2,
  .pullquote-grid--3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }

  .pullquote-grid--1 .pullquote > div,
  .pullquote-grid--2 .pullquote > div,
  .pullquote-grid--3 .pullquote > div {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .pullquote-grid--1 .pullquote.pullquote-pic {
    grid-template-rows: 450px auto 24px;
  }

  .pullquote-grid--2 .pullquote.pullquote-pic,
  .pullquote-grid--3 .pullquote.pullquote-pic {
    grid-template-rows: 300px auto 24px;
  }

  .pullquote-grid--1 .pullquote.pullquote-pic > img,
  .pullquote-grid--2 .pullquote.pullquote-pic > img,
  .pullquote-grid--3 .pullquote.pullquote-pic > img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .pullquote-grid--1 .pullquote.pullquote-pic > img {
    max-height: 450px;
  }

  .pullquote-grid--1 .pullquote.pullquote-pic > div,
  .pullquote-grid--2 .pullquote.pullquote-pic > div,
  .pullquote-grid--3 .pullquote.pullquote-pic > div {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 24px;
  }

  .pullquote-grid--2 .pullquote:nth-child(2) {
    display: grid;
    /* Reshow because hidden for small  */
  }

  /* 3 Quotes Available */

  .pullquote-grid--3 .pullquote:nth-child(2) {
    display: grid;
    /* Reshow because hidden for small  */
  }

  /* Video */

  .pullquote-vid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .pullquote-vid > div.responsive-embed {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .pullquote-vid > div.pullquote--text {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .pullquote-grid--3 .pullquote-vid {
    grid-template-rows: 24px 200px 24px;
  }
}

/* 

  Large up 

*/

@media only screen and (min-width: 1024px) {
  /* 2 Quotes Available */

  .pullquote-grid--1 .pullquote {
    margin-left: 0;
    margin-right: 0;
  }

  .pullquote-grid--2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }

  .pullquote-grid--1 .pullquote > div,
  .pullquote-grid--2 .pullquote > div {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .pullquote-grid--1 .pullquote.pullquote-pic,
  .pullquote-grid--2 .pullquote.pullquote-pic {
    grid-template-rows: 1fr 6fr 1fr;
  }

  .pullquote-grid--1 .pullquote.pullquote-pic > img,
  .pullquote-grid--2 .pullquote.pullquote-pic > img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .pullquote-grid--1 .pullquote.pullquote-pic > div,
  .pullquote-grid--2 .pullquote.pullquote-pic > div {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0 32px;
  }

  .pullquote-grid--2 .pullquote.pullquote-pic:nth-child(even) img {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .pullquote-grid--2 .pullquote.pullquote-pic:nth-child(even) div {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /* 3 Quotes Available */

  .pullquote-grid--3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
  }

  .pullquote-grid--3 .pullquote:nth-child(3) {
    display: grid;
    /* Reshow because hidden for medium down */
  }

  /* Video */
  .pullquote-grid--1 .pullquote-vid > div.responsive-embed,
  .pullquote-grid--2 .pullquote-vid > div.responsive-embed {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .pullquote-grid--1 .pullquote-vid > div.pullquote--text,
  .pullquote-grid--2 .pullquote-vid > div.pullquote--text {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .pullquote-grid--2 .pullquote.pullquote-vid:nth-child(even) div.responsive-embed {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .pullquote-grid--2 .pullquote.pullquote-vid:nth-child(even) div.pullquote--text {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* 

  XLarge up 

*/

@media only screen and (min-width: 1240px) {
  .pullquote-grid--1 .pullquote.pullquote-pic > img,
  .pullquote-grid--2 .pullquote.pullquote-pic > img {
    min-height: 350px;
  }
}
