/*
 * Now Tiny Slider (NO LONGER IN USE OCT 2023)
 

.tns-nav {
  text-align: left;
  margin: 10px;

  > {
    [aria-controls] {
      width: 16px;
      height: 16px;
      padding: 0;
      margin: 0 5px;
      background: transparent;
      color: #000;
      border: 3px solid;
      border-color: #3b6938;
    }

    .tns-nav-active {
      background: #3b6938;
      color: #fff;
    }
  }
}

.u-white--all .tns-nav > {
  [aria-controls] {
    color: #fff;
    border: 3px solid #fff;
  }

  .tns-nav-active {
    background: #fff;
    color: #000;
  }
}
*/
