.stir-tabs {
	[role="tablist"]{
		display: none;
	}

	[role="tab"] {
		text-align: center;
		border-width: 5px 0;
		border-style: solid;
		border-color: transparent;
		color: $heritage-green;
		cursor: pointer;

		&[aria-selected="true"] {
			color: $black;
			border-top-color:$energy-green;
			border-bottom-color:#ccc;
			background-color: #f6f5f4;
		}
	}

	details {
		border-bottom: 5px solid transparent;
		
		summary {
			border: 5px solid transparent;
			border-width: 5px 0;
			text-align: center;
			color: $heritage-green;
			background-color: #f6f5f4;
			padding-left: 2rem;
			
			font-size: 1.25rem;
			font-weight: 700;
			line-height: 1.5;
			
			padding: 20px 35px 20px 0;
			cursor: pointer;

			&::after {
				content: "+";
				float: right;
				margin-right: 1rem;
			}

			&::marker {
				content: none;

			}
		}
		&[open] {
			summary {
				border-top-color: $energy-green;
				border-bottom-color: #CCC;
				&::after {
					content: "–";
				}
			}
		}

	}

	[role="tabpanel"]{
		background: #f6f5f4;
		/* margin: 0 auto;
		padding: 0 2rem; */

		[data-behaviour="accordion"] h3 {
			padding: 0;
		}
		h2:first-of-type {
			padding-top: 1rem;
			margin-bottom: 0;
		}
		p {
			font-size: 1rem;
		}
	}

}

@media screen and (min-width: 64em) {
	/* tabs outer wrapper */
	.c-course-tabs {
		width: 90%;
		max-width: 77.5rem;
		margin: 0 auto;
		margin-bottom: 0px;
		margin-bottom: 40px;
	}

	.stir-tabs {
		[role="tablist"]{
			display: flex;
			flex-direction: row;
		}
	
		[role=tab]{
			padding: 1.5rem 2rem;
		}
		[role=tab][aria-selected] {
			border-bottom-width: 0;
		}

		[role="tabpanel"]{
			padding: 0 5rem;
			&[aria-hidden="true"] {
				display: none;
			}
		}

		> details {
			border: 0;
			summary {
				display: none;
			}
		}
	}
}