ol.timeline {
	margin: 1rem 0 2rem 2.5rem;
	list-style: none;
	counter-reset: timeline;

	li {
		position: relative;
		margin-bottom: 0;
		border-left: 2px solid black;
		padding-bottom: 2rem;
		padding-left: 2.5rem;
		counter-increment: timeline 1;

		&:last-child {
			border-color: transparent;
		}

		&::before {
			position: absolute;
			content: counter(timeline);
			font-family: "General Sans","Open Sans",Arial,sans-serif;
			font-size: 1.875rem;
			line-height: 1.225;
			border-radius: 50%;
			width: 2.5rem;
			height: 2.5rem;
			text-align: center;
			left: -2px;
			top: -0.3rem;
			color: white;
			font-weight: bold;
			transform: translateX(-50%);
		}

		&:nth-child(3n+1)::before { background-color: #582B81;}
		&:nth-child(3n+2)::before { background-color: #00A4AB;}
		&:nth-child(3n+3)::before { background-color: #006838;}
	}
}