/*
    WYSIWYG Content Styles
*/

.c-wysiwyg-content {
  overflow-x: auto;

  ul {
    margin-bottom: 16px;
  }

  /*
    Blockquote
  */

  p + blockquote:not(.c-pullquote) {
    margin: 60px auto 0;

    + p:not(.quote-attribute) {
      margin: 60px auto 1rem;
    }
  }

  p img {
    margin: 2rem 0;
  }

  p img:has(+ span.c-image-caption) {
    margin-bottom: 1rem;
  }

  blockquote {
    border-left: 5px solid $energy-green;
    font-weight: 600;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0 0 30px;

    p {
      color: $heritage-green;
      font-size: 1.25rem !important /* 20px */ ;
      line-height: 1.5;

      &::before {
        content: open-quote;
      }
      &::after {
        content: close-quote;
      }
    }
  }

  .quote-attribute {
    font-weight: 600;
    margin: 0 auto 60px;
    max-width: 960px;
    // padding-left: 35px;
  }
}

/*
  Moved from Type
*/
.c-wysiwyg-content h2:first-of-type,
.c-wysiwyg-content h3:first-of-type {
  margin: 0 0 1rem 0;
  padding: 0 0 30px 0;
}

// .c-wysiwyg-content h2,
// .c-wysiwyg-content h3,
// .c-wysiwyg-content > p + h2:first-of-type,
// .c-wysiwyg-content > p + h3:first-of-type,
// .c-wysiwyg-content ul + h2:first-of-type,
// .c-wysiwyg-content ul + h3:first-of-type,
// .c-wysiwyg-content ol + h2:first-of-type,
// .c-wysiwyg-content ol + h3:first-of-type {
//   margin: 40px 0 40px 0;
// }

.c-wysiwyg-content ol:not(.numberlist) > li {
  margin-bottom: 1rem;
}

@media screen and #{breakpoint(xlarge down)} {
  .c-wysiwyg-content {
    p + blockquote {
      margin: 40px auto 0;

      + p:not(.quote-attribute) {
        margin: 40px auto 1rem;
      }
    }

    .quote-attribute {
      margin: 0 auto 40px;
    }
  }
}

/*
    Testimonial - Full 
    Doesnt seem to do anything
*/

// .c-wysiwyg-content .c-blockquote--simple,
// .c-blockquote--simple {
//   border: none;
//   font-weight: normal;
//   max-width: initial;
//   padding: 0;
// }

// .c-wysiwyg-content .c-blockquote--simple p,
// .c-wysiwyg-content .c-blockquote--simple li,
// .c-blockquote--simple li,
// .c-blockquote--simple p {
//   color: $black;
// }
