/*
   Slightly lighten a color
   @access public
   @param {Color} $color - color to tint
   @param {Number} $percentage - percentage of `$color` in returned color
   @return {Color}
*/

@function tint($color, $percentage) {
  @return mix(white, $color, (100% - $percentage));
}

/*
   Slightly darken a color
   @access public
   @param {Color} $color - color to shade
   @param {Number} $percentage - percentage of `$color` in returned color
   @return {Color}
*/

// @function shade($color, $percentage) {
//   @return mix(black, $color, (100% - $percentage)); //percentage((100-$percentage)/100));
// }

// Shorthand colour variables (GREYS ARE IN APP.SCSS)

// DEPRECATED 2025 - these colours are not in the brand palette and should not be used in new work
// IF NOT COMMENTED OUT THEY ARE IN USE SOMEWHERE - so need to be removed from the codebase before we can remove these variables

//$energy-orange: map-get($brand-palette, energy-orange);
//$energy-blue: map-get($brand-palette, energy-blue);
//$heritage-orange: map-get($brand-palette, heritage-orange);
//$heritage-blue: map-get($brand-palette, heritage-blue);
$energy-teal: map-get($brand-palette, energy-teal);
$energy-turq: map-get($brand-palette, energy-turq);
$heritage-berry: map-get($brand-palette, heritage-berry);
$heritage-teal: map-get($brand-palette, heritage-teal);
$heritage-yellow: map-get($brand-palette, heritage-yellow);
$heritage-navy: map-get($brand-palette, heritage-navy);
$energy-pink: map-get($brand-palette, energy-pink);
$pink-medium: map-get($brand-palette, pink-medium);
$pink-tint-40: map-get($brand-palette, pink-tint-40);

// BRAND 2026 colours - these are in the brand palette
// Neutrals
$light-mink: map-get($brand-palette, light-mink);
$medium-mink: map-get($brand-palette, medium-mink);
$dark-mink: map-get($brand-palette, dark-mink);

// Purple / yellow (Important)
$energy-yellow: map-get($brand-palette, energy-yellow);
$tint-purple: map-get($brand-palette, purple-tint);
$energy-purple: map-get($brand-palette, energy-purple);
$heritage-purple: map-get($brand-palette, heritage-purple);

// Greens
$tint-green-7: map-get($brand-palette, green-tint-7);
$tint-green: map-get($brand-palette, green-tint);
$energy-green: map-get($brand-palette, energy-green);
$heritage-green: map-get($brand-palette, heritage-green);
$dark-green: map-get($brand-palette, green-dark);

// Web versions
$web-turq: map-get($brand-palette, web-turq);

// These are variations permitted in the brank bank colours
$variations: (30, 50, 70);

/* 
   University of Stirling supplementary web colours
 */
@each $name, $hex in $uos-web-supplementary {
  // generate the text colour classes e.g. u-primary
  .u-#{$name} {
    color: $hex !important;
  }

  // generate the bg classes e.g. u-bg-primary
  .u-bg-#{$name} {
    background-color: $hex !important;
  }
  .bg-#{$name} {
    border-image-source: linear-gradient($hex, $hex);
  }
}

/*
   University of Stirling brand palette colours
 */
@each $name, $hex in $brand-palette {
  // generate the text colour classes  e.g. u-heritage-green
  .u-#{$name} {
    color: $hex !important;
  }

  // generate the bg classes e.g. u-bg-heritage-green
  .u-bg-#{$name} {
    background-color: $hex !important;
  }

  .bg-#{$name} {
    border-image-source: linear-gradient($hex, $hex);
  }

  // generate the bg variation classes e.g. u-heritage-green--30
  // @each $perc in $variations {
  //   .u-bg-#{$name}--#{$perc} {
  //     background-color: tint($hex, $perc);
  //   }
  // }
}

// this is an exception for the grey section backgrounds
$bg-grey: $light-gray-alt; //tint($light-mink, 15%);

// Used for full width wrappers
.u-bleed {
  border-image-slice: 0 fill;
  border-image-outset: 0 100vw 0 100vw;
}

/*
   white--all 
   will make any text within the element white
 */

.u-white--all {
  * {
    color: $white !important;

    &:after {
      color: $white !important;
    }
  }

  a {
    color: $white !important;

    &:hover {
      //border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    &:before {
      background-color: $white !important; // <-- WHY?
    }

    &.button--back:before {
      background-color: transparent !important;
    }

    &.c-link {
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }
}

.u-white--all {
  // .c-wysiwyg-content li a,
  // li a,
  // p a {
  //   border-bottom: none;
  // }

  // p a:hover {
  //   border-bottom: none;
  // }

  select {
    option,
    &:focus {
      color: #3a3c39 !important;
    }

    color: #3a3c39 !important;
  }
}

[class*="u-bg-"].u-white {
  h2,
  h3,
  a {
    color: $white;
  }
  a:not(.button) {
    border-bottom-width: 1px !important;
  }
}

/*
   u-white--all auto overrides 
   table bg is white/grey, so should be inherited
 */

.u-white--all {
  table,
  td,
  td strong,
  th strong,
  table p,
  table p strong,
  th {
    color: $black !important;

    a {
      color: $heritage-green !important;

      &:hover {
        color: $heritage-green !important;
      }
    }
  }

  input[type="search"] {
    color: $black !important;
  }
}

/*
  Override utility for u-white--all
*/

.u-unwhite--all {
  * {
    color: $black !important;

    &:after {
      color: $heritage-green !important;
    }
    &:before {
      color: $heritage-green !important;
    }
  }

  h1,
  h2 {
    color: $heritage-green;
  }

  a {
    color: $heritage-green !important;

    &:hover {
      color: $heritage-green !important;
    }
  }
}

a:has(img):hover {
  border-bottom: none !important;
}

/*
    Extended palette colours - Backgrounds 
 */

// .u-bg-energy-purple--10 {
//   background-color: tint($energy-purple, 10%);
// }

// .u-bg-energy-turq--10 {
//   background-color: tint($energy-turq, 10%) !important;
// }

// .u-bg-energy-teal--darker {
//   background-color: #017e89;
// }

// .u-bg-heritage-purple--10 {
//   background-color: tint($heritage-purple, 10%) !important;
// }

// .u-bg-energy-pink {
//   background-color: $energy-pink !important;
// }

.u-bg-heritage-green--10 {
  background-color: tint($heritage-green, 10%) !important;
}

.u-bg-grey {
  background-color: $bg-grey !important;
}

.bg-grey {
  border-image-source: linear-gradient($bg-grey, $bg-grey);
}

.u-bg-medium-dark-grey {
  background-color: #aeacac;
}

.u-bg-medium-grey {
  background-color: map-get($brand-palette, neutral-light) !important;
}

.u-bg-light-medium-grey {
  background-color: #eeeeee;
}

// .u-bg-light-grey {
//   background-color: map-get($brand-palette, neutral-tint-7);
// }

/*
    Extended palette colours - Text 
 */

// .u-energy-teal {
//   color: $energy-teal;

//   small {
//     color: #01727d;
//   }
// }

.u-energy-teal--40,
.u-energy-teal--light {
  color: tint($energy-teal, 40%);
}

// .u-heritage-teal {
//   color: $heritage-teal;
// }

// .u-energy-purple {
//   color: $energy-purple;
// }

// .u-heritage-purple {
//   color: $heritage-purple;
// }

.u-grey {
  color: $grey;
}

.u-dark-grey,
.u-grey--dark {
  color: $dark-grey; // #767169
}

/* [a11y] darker dark-grey text when on grey background */
.bg-grey {
  .u-dark-grey,
  .u-grey--dark {
    color: #726f65;
  }
}

.u-heritage-green {
  color: $heritage-green;
}

.u-energy-green {
  color: $energy-green; // Not accessible but can use to colour borders etc
}

// .u-heritage-berry {
//   color: $heritage-berry;
// }

// .u-energy-turq {
//   color: $energy-turq;
// }

.u-opacity-10 {
  opacity: 10%;
}

.u-opacity-20 {
  opacity: 20%;
}

.u-font-icon {
  color: $heritage-green; // default
}

/*

  DEPRCATED 2025 COLOUR PACKS

*/

/*

  End of DEPRCATED 2025 COLOUR PACKS

  */

.u-hook-top-left::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: $heritage-green;
  padding: 30px 10px;
  z-index: 1;
}

.u-hook-top-left::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: $heritage-green;
  padding: 10px 45%;
  z-index: 1;
}

.u-hook-bottom-right::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0px;
  background-color: $heritage-green;
  padding: 30px 10px;
  z-index: 1;
}

.u-hook-bottom-right::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -20px;
  background-color: $heritage-green;
  padding: 10px 45%;
  z-index: 1;
}

@media screen and #{breakpoint(medium up)} {
  .u-hook-top-left::before {
    left: -28px;
    top: -28px;
    padding: 40px 14px;
  }

  .u-hook-top-left::after {
    padding: 14px 100px;
    top: -28px;
  }

  .u-hook-bottom-right::before {
    right: -28px;
    bottom: -28px;
    padding: 40px 14px;
  }
  .u-hook-bottom-right::after {
    padding: 14px 240px;
    bottom: -28px;
  }
}

.u-hook-energy::after,
.u-hook-energy::before {
  background-color: $energy-green;
}

.u-hook-important::after,
.u-hook-important::before {
  background-color: $energy-purple;
}

.c-wrapper-2026 {
  h2,
  h3,
  h4 {
    color: $black;
  }

  .u-font-icon,
  svg {
    color: $energy-green;
  }

  // Energy green
  &.c-wrapper-energy {
    background-color: $tint-green;
    border-image-source: linear-gradient($tint-green, $tint-green);

    .button {
      color: $white;
      &:hover {
        color: $heritage-green;
      }

      svg {
        color: $energy-green;
      }
    }

    .u-font-icon,
    svg {
      color: $heritage-green;
    }

    a {
      color: $dark-green;
    }
  }

  // Heritage green
  &.c-wrapper-heritage {
    background-color: $heritage-green;
    border-image-source: linear-gradient($heritage-green, $heritage-green);

    .button::after {
      filter: brightness(0);
    }

    .button {
      border-color: $tint-green;
      background: linear-gradient(to top, $tint-green 50%, #fff 50%);
      color: $black;
      background-size: 100% 200%;
      background-position: bottom;
      transition: all 0.2s ease-out;

      svg {
        color: $black;
      }

      &:hover {
        color: $black;
        border-color: $tint-green;
        background-position: top;
      }
    }
  }

  // Important - Purple / yellow
  &.c-wrapper-important {
    background-color: $heritage-purple;
    border-image-source: linear-gradient($heritage-purple, $heritage-purple);

    .u-font-icon,
    svg {
      color: $white;
    }

    a:hover {
      border-color: $tint-purple;
      text-decoration-color: $tint-purple;
    }

    .button::after {
      filter: brightness(0);
    }

    .button {
      border-color: $energy-yellow;
      background: linear-gradient(to top, $energy-yellow 50%, #fff 50%);
      color: $black;
      background-size: 100% 200%;
      background-position: bottom;
      transition: all 0.2s ease-out;

      svg {
        color: $black;
      }

      &:hover {
        color: $black;
        border-color: $energy-yellow;
        background-position: top;
      }
    }
  }

  // Neutral
  &.c-wrapper-neutral {
    background-color: $grey;
    border-image-source: linear-gradient($grey, $grey);
  }

  // secondary button style
  .button.neutral {
    border-color: $medium-gray;
    background: linear-gradient(to top, $medium-gray 50%, #fff 50%);
    color: $black;
    background-size: 100% 200%;
    background-position: bottom;
    transition: all 0.2s ease-out;

    svg {
      color: $black;
    }

    &:hover {
      color: $black;
      border-color: $medium-gray;
      background-position: top;
    }
  }

  // Neutral Strong
  &.c-wrapper-neutral-strong {
    background-color: $light-mink;
    border-image-source: linear-gradient($light-mink, $light-mink);

    .u-font-icon,
    svg {
      color: $heritage-green;
    }

    .button {
      svg {
        color: $energy-green;
      }
    }

    .button.neutral {
      border-color: $light-gray-alt;
      background: linear-gradient(to top, $light-gray-alt 50%, #fff 50%);
      color: $black;
      background-size: 100% 200%;
      background-position: bottom;
      transition: all 0.2s ease-out;

      svg {
        color: $black;
      }

      &:hover {
        color: $black;
        border-color: $light-gray-alt;
        background-position: top;
      }
    }
  }

  &.dark {
    color: $white;

    h2,
    h3,
    h4 {
      color: $white;
    }

    a {
      color: $white;

      &.c-link::before {
        background-color: #fff;
      }

      &.c-link::after {
        filter: brightness(0) invert(1);
      }
    }
  }
}
