/**
 * Campaign style for Clearing landing pages only.
 * Not to be used on organic pages.
 **/

main h1,
main h2:not(.u-header--secondary-font),
.c-infographic__line1,
.button.u-sticky,
.c-course-search-widget__form button,
.c-course-search-widget__form .c-course-search-widget__search-input::placeholder
{
	font-family: "General Sans", "Open Sans", sans-serif;
	font-weight: 600;
}

.button.u-sticky,
.c-course-search-widget__form button {
	font-size: 1.375rem; /* 22px */
}

.c-svg-banner-reactive svg {
	display: block;
}

.svg-stat svg {
	display: block;
}

main h1 {
  padding-top: 80px;
  font-size: 3rem;
}

.c-infographic__line1 {
  text-transform: uppercase;
  font-size: 2.25rem !important; /* 36px */
  line-height: 1.17 !important; // 42px
  margin: 10px 0 10px 0 !important;
}

@media screen and (max-width: 39.9375em) {
	.u-sticky.button.offsetup {
		margin-top: -1rem;
	}
}

@media screen and (min-width: 64rem) {
	.button.u-sticky {
		font-size: 1.75rem; /* 28px */
	}
	/* Header intro text panels */
	section.c-wrapper:first-of-type .cell .c-wysiwyg-content h2:first-of-type {
		margin: 50px 0 20px 0;
		padding-bottom: 0;
	}
}

.c-footer__header,
.c-promo-box__header {
  font-family: "Open Sans", sans-serif !important;
  text-transform: none !important;
}

/* *** C O L O U R S *** */ 
.c-promo-box__header {
	color: #3a3c39;
}
.c-wysiwyg-content li::marker {
	color: #67a51e;
}
/* *** *** *** *** *** */


/* .button.energy-pink:hover {
	background-color: #e80068;
} */
/* Header CTA Button */
/* .button[id^="cta-"]:first-of-type {
  background: #006938;
  border: 1px solid #006938;
  color: #fff !important;
}
.button[id^="cta-"]:first-of-type {
  color: #fff !important;
} */

/* Half and Half Squiggle */
/* removed by request 2020-06-04 */
/* 
.c-half-n-half__content {
background-image: url(/webcomponents/dist/images/campaigns/ug/ug-squiggle-2.svg);
background-position: left 0px bottom 10px ; 
background-repeat:no-repeat;
background-size: 100%;
padding-bottom: 120px !important;
}
*/
/* Dots */
/* removed by request 2020-06-04 */
/* 
#d\.en\.64577, #d\.en\.64704, #d\.en\.64775, #d\.en\.64813, #d\.en\.65336, #d\.en\.65627, #d\.en\.65986, #d\.en\.66161, #d\.en\.66278, #d\.en\.68115, #d\.en\.68237{
background-image: url(/webcomponents/dist/images/campaigns/ug/ug-dots-2.svg);
background-position: left 0px bottom 10px ; 
background-repeat:no-repeat;
background-size: 100%;
padding-bottom: 180px !important;
}
*/
/* Header Doodle */
/* removed by request 2020-06-04 */
/* section.c-wrapper:first-of-type {
background-image: url(/webcomponents/dist/images/campaigns/ug/ug-doodle.svg);
background-position: left center;
background-repeat: repeat-x;
background-size: 290%;
} */
