/* Colours */

:root {
  --hover-color: 58, 60, 57;
}

.u-heritage-green {
  color: rgba(var(--main-color), 1) !important;
}

/* Headings */

h1 {
  color: #14315e; // fallback
  color: rgba(var(--safe-color), 1);
  max-width: 30ch;
}

h2,
h3,
h4,
h5,
h6 {
  color: #3a3c39;
  margin: 30px 0;
}

h2:after,
h3:after {
  background-color: rgba(var(--main-color), 1);
  bottom: 15px;
}

h3 a {
  border-bottom: 2px solid rgba(var(--main-color), 1);

  &:hover {
    border-bottom-color: rgba(var(--main-color), 0.5);
    color: rgba(var(--hover-color), 1);
  }
}

/* Tables */

table {
  border-top: none;
}

/* Links */

.c-news__single-article li a,
table a,
p a,
a {
  border-bottom: 2px solid rgba(var(--main-color), 1);
  color: #3a3c39; // black
}

a:hover {
  // border-bottom: 0;
  border-bottom-color: rgba(var(--main-color), 0.5);
  color: rgba(var(--hover-color), 1);
}

/* Main Sections */

.c-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.c-header {
  padding: 20px 0;
}

/*
 * FOOTER STYLES
 * Original DTP footer styles (non-grid)
 */
.c-footer {
  background-color: #3a3c39;
  color: #fff;
  overflow: hidden;
  padding: 55px 0 0 0;
}
.c-footer .cell {
  padding: 0 15px;
}
.c-footer .grid-x.grid-padding-x {
  position: relative;
  padding: 0px 0 53px;
}
.c-footer__header {
  color: #fff;
  font-family: "General Sans", sans-serif;
  font-size: 1rem; /* 16px */
  margin: 0 0 32px 0;
  padding: 0;
}
.c-footer__header:after {
  background-color: transparent;
  position: relative;
}
.c-footer__link:hover {
  color: #76bd22;
}
.t4Edit-page,
.c-copyright p,
.c-footer__link,
.c-footer p {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem; /* 12px */
  text-decoration: none;
}
.c-footer li {
  line-height: 19px;
}
.c-footer .c-footer__address span {
  display: block;
}
.c-footer__link:hover {
  text-decoration: underline;
}
.c-footer__contact .c-footer__link {
  font-weight: 700;
}
.c-footer__contact {
  background-image: url("../../dist/css/images/maps/footer-map-scotland.svg");
  background-position: 75% center;
  background-repeat: no-repeat;
  background-size: 200px;
  min-height: 254px;
}
.c-footer__contact li {
  margin: 0 0 10px 0;
}
.c-follow__link {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.c-footer__link--social:hover {
  text-decoration: none;
}
.c-follow__link:last-child {
  margin: 0 0 10px 0;
}
.c-footer [class*="uos-"] {
  font-size: 1.5rem; /* 24px */
}
.c-footer__link--facebook:hover {
  color: #3b5998;
}
.c-footer__link--instagram:hover {
  color: #125688;
}
.c-footer__link--twitter:hover {
  color: #1da1f2;
}
.c-footer__link--youtube:hover {
  color: #ff0000;
}
.c-footer__link--linkedin:hover {
  color: #007bb5;
}
.c-footer__btd {
  position: absolute;
  right: 0;
  bottom: 0;
}
.c-footer__btd:after {
  content: "";
  position: absolute;
  background-color: #76bd22;
  height: 4px;
  width: 9999px;
  bottom: 0;
  left: 0;
}

.c-footer__accreditations img.portrait {
  max-width: 90px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.c-copyright {
  padding: 0 0 70px 0;
}
.t4Edit-page:hover {
  color: #fff;
  cursor: default;
  text-decoration: none;
}

//@media screen and #{breakpoint(xlarge down)} {
@media only screen and (max-width: 1239px) {
  .c-footer__contact {
    background-position: 75% 10px;
    background-size: 155px;
  }
}
//@media screen and #{breakpoint(medium down)} {
@media only screen and (max-width: 1023px) {
  .c-footer .cell {
    padding: 0 30px;
  }
  .c-footer__header {
    margin: 20px 0;
  }
  .c-copyright {
    padding: 40px 0;
  }
}
//@media screen and #{breakpoint(small down)} {
@media only screen and (max-width: 639px) {
  .c-footer {
    padding: 50px 0 0 0;
  }
  .c-footer__accreditations {
    margin-top: 20px;
  }
  .c-footer__btd {
    position: relative;
    margin: 40px 0 0 15px;
    width: 100%;
    text-align: right;
  }
  .c-footer__btd:after {
    content: initial;
  }
  .c-copyright {
    padding: 0 0 40px;
  }
}

/* Microsite specific */

.c-footer {
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  h2 {
    font-size: 1.875rem; /* 30px */
  }

  p {
    font-size: 0.875rem; /* 14px */
    display: block;

    a {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }

  a {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  a:focus {
    outline-color: #fff !important;
  }

  .input-group {
    input {
      &[type="email"] {
        &::placeholder {
          color: #585858;
        }

        &:focus {
          background: #fff;
          outline-color: #fff !important;
        }
      }

      &[type="submit"] {
        &:hover {
          color: #fff;
          border-color: #385dae;
          background-color: #385dae !important;
        }

        &:focus {
          outline-color: #fff !important;
        }
      }
    }
  }
}

.micrositenav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #14315e; // fallback
  background-color: rgba(var(--safe-color), 1);

  a {
    color: #fff;
    margin: 15px;
    font-weight: bold;

    &:focus {
      outline-color: #fff !important;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-left: 0;
  }

  li {
    font-size: 1.25rem; /* 20px */
  }
}

nav.micrositenav .burger--internal-main-menu span {
  background-color: #fff;

  &::before {
    background-color: #fff;
  }
  &::after {
    background-color: #fff;
  }
}

.c-masthead__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  max-height: 260px;
  min-height: 260px;
  position: relative;
}

.c-masthead .c-masthead__callout-text {
  color: rgba(var(--main-color), 1);

  &:after {
    border-right: 7px solid rgba(var(--main-color), 1);
    border-bottom: 7px solid rgba(var(--main-color), 1);
    border-right: 0px solid rgba(var(--main-color), 1);
    border-bottom: 7px solid rgba(var(--main-color), 1);
  }
}

.c-wysiwyg-content {
  li a {
    border-bottom: 2px solid rgba(var(--main-color), 1) !important;

    &:hover {
      border-bottom-color: rgba(var(--main-color), 0.5) !important;
      color: rgba(var(--hover-color), 1) !important;
    }
  }

  blockquote {
    border-left: 5px solid rgba(var(--main-color), 1);
    font-weight: 600;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0 0 30px;
  }

  p {
  }
}

/* Buttons */

.button {
  background-color: rgba(var(--safe-color), 1) !important;

  &.heritage-green:hover {
    border: 2px solid rgba(var(--safe-color), 1) !important;
  }
}

a.button:hover {
  text-decoration: underline;
  filter: brightness(85%);
}

.button.heritage-green {
  background-color: rgba(var(--safe-color), 1) !important;
  color: #fff !important;
}

.input-group-button {
  a,
  input,
  button,
  label {
    height: 2.7rem !important;
  }
}

/* Targetted stuff */

.main-content-header a {
  border-bottom: 0;
}

.main-content-header li {
  list-style: none;
}

.c-scroll-to-top {
  background-color: rgba(var(--main-color), 1);
  color: #fff !important;
}

#cookiebanner {
  border-top: 2px solid rgba(var(--main-color), 1);

  p a {
    font-weight: bold;

    &:hover {
      color: rgba(var(--hover-color), 1);
      border-bottom: 2px solid #9e9f9e;
    }
  }

  button {
    font-weight: bold;
    background-color: #444444 !important;
  }
}

.internal-sidebar-menu {
  //border-right: 1px solid rgba(var(--main-color), 1);
  padding-top: 30px;
  padding-bottom: 45px;

  a {
    color: #333333;
  }
}

.internal-page-main-content {
  padding: 30px 15px 30px 30px !important;
}

.internal-page-main-content-header h1 {
  margin: 40px 0 40px 0;
}

.c-events-box__details {
  background-color: #efefef;
  padding: 15px;
}

.c-events-box span[class^="uos-"],
.c-events-box__details span[class^="uos-"] {
  color: rgba(var(--main-color), 1) !important;
}

/* Helper classes */

.small {
  font-size: 0.875rem; /* 14px */
  font-weight: normal;
}

article {
  padding-bottom: 30px;
}

p.text-center {
  width: 100%;
  text-align: center;
}

.u-text-uppercase {
  text-transform: none;
}

/* Error handling */

.error {
  background-color: red;
}

p.has-error,
.form-group.has-error span {
  color: red;
}

.has-error input[type="text"] {
  border-color: red;
}

.help-block {
  color: red;
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}

/* Forms */

.c-form {
  button {
    float: left;
    display: block;
    width: auto;
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(var(--main-color), 1);
    color: #fefefe;
    line-height: 28px;
    padding: 18px 28px;
    border: 2px solid transparent;
    position: relative;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
    vertical-align: middle;
    margin: 0 0 20px 0;
    font-family: inherit;
    font-size: 1.25rem; /* 20px */

    &:hover {
      background-color: #fff;
      border-color: rgba(var(--main-color), 1);
      color: rgba(var(--main-color), 1);
    }

    &:after {
      content: "\e97b";
      font-family: "uos";
      margin: 0 0 0 10px;
      position: relative;
    }

    &.has-error {
      background-color: red;
      color: white;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  .radio,
  .checkbox {
    float: left;
    margin-right: 4%;
  }
}

.js-required {
  font-size: 1rem;
  color: red;
}

.control-label {
  margin-bottom: 10px;
}

.form-group select {
  background-size: 16px;
  background-position: right -0.5rem center;
}

.burger--internal-main-menu {
  margin: 0;
}

/* Medium Down - TODO Get rid of this and make mobile first   */

@media screen and (max-width: 63.9375em) {
  .burger--internal-sidebar-menu {
    margin-top: 50px;
  }

  .micrositenav {
    a {
      color: #fff !important;
      margin-left: 0;
    }

    li {
      a {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        margin: 0px;
        font-size: 1.3rem;
        display: block;
      }

      &:first-child {
        border-top: 1px solid #fff;
        margin-top: 15px;
      }

      a:hover {
        box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
        //border-bottom: 1px solid #fff;
        text-decoration: none;
      }
    }

    span a {
      font-size: 1.3rem;
    }
  }

  .internal-pages-mobile-menu {
    //display: none;
    background-color: #f6f5f4;
    padding: 0px;
    margin: 0 0 35px 0;

    li:first-of-type a {
      // font-size: 16px;
      font-weight: 700;
    }

    ul[class*="multi"] li:first-of-type a {
      // font-size: 16px;
      font-weight: 400;
    }
  }

  .internal-sidebar-menu {
    span.currentbranch0 {
      padding: 0px;
      // font-size: 16px;
      color: rgba(var(--main-color), 1) !important;
      font-weight: 700 !important;
    }

    ul {
      &[class*="multi"] span[class*="current"] {
        padding: 0px;
        // font-size: 16px;
        color: rgba(var(--main-color), 1) !important;
        font-weight: 700 !important;
      }

      &[class*="multilevel"] {
        padding: 0px;
        // font-size: 16px;
      }
    }

    .multilevel-linkul-1 span[class*="current"] {
      &:before {
        border: none !important;
      }

      padding: 0px;
      // font-size: 16px;
    }

    span {
      &.currentbranch0 a,
      &.currentbranch1 a {
        color: rgba(var(--main-color), 1) !important;
        font-weight: 700 !important;
        // font-size: 16px;
      }
    }
  }
}

/* Medium up */

@media screen and (min-width: 40em) {
  .c-masthead__image {
    max-height: 360px;
    min-height: 360px;
  }

  .c-masthead {
    border-bottom: 1px solid rgba(var(--main-color), 1) !important;

    .c-masthead__callout-text {
      color: #fff;

      &:after {
        border-right: 7px #fff;
        border-bottom: 7px solid #fff;
        border-right: 0px solid #fff;
        border-bottom: 7px solid #fff;
      }
    }
  }
}

/* Large up */

@media screen and (min-width: 64em) {
  .c-masthead__image {
    max-height: 460px;
    min-height: 460px;
  }

  .micrositenav {
    a {
      color: #fff !important;
      margin: 15px;
    }

    li a {
      padding: 0px;
      border: none;
    }

    ul li {
      list-style: none;
      float: left;
      display: inline-block;
      position: relative;
    }
  }

  .no-style li:first-of-type a {
    color: #333333;
    font-weight: 700;
    // font-size: 16px;
  }

  .multilevel-linkul-0 li:first-of-type a {
    color: #333333;
    font-weight: 400;
    // font-size: 16px;
  }

  .internal-sidebar-menu {
    > nav {
      border-right: 1px solid rgba(var(--main-color), 1);
      padding-right: 10px;
    }

    .multilevel-linkul-1 span[class*="current"] {
      // font-size: 16px;
      padding: 0px;
      text-decoration: underline;

      a {
        text-decoration: underline;
        // font-size: 16px;
        padding: 0px;
        font-weight: 700 !important;
      }

      &:before {
        border: none !important;
      }
    }

    span {
      &.currentbranch0 a,
      &.currentbranch1 a {
        color: #333333 !important;
        font-weight: 700 !important;
        text-decoration: underline;
      }
    }

    ul[class*="multilevel"] {
      padding-left: 30px;
    }

    a {
      border-bottom: none !important;
    }

    a:hover {
      border-bottom: 2px solid rgba(var(--main-color), 1) !important;
    }
  }
}
