@import "hide-search";

main {
  /* Text */

  h1 {
    font-size: 3.25rem;
    font-family: "General Sans", sans-serif !important;
  }

  /* Wrappers */

  .ug-campaign.dark {
    border-image-source: linear-gradient(rgb(0, 94, 99), rgb(0, 94, 99));
    background-color: rgb(0, 94, 99) !important;
  }

  /* Buttons */

  .button {
    &.u-sticky {
      font-weight: normal;
      font-size: 2.25rem !important;
      padding: 0.75rem !important;
      font-family: "General Sans", sans-serif !important;
      border-color: rgb(0, 165, 172);
      background-color: rgb(0, 165, 172) !important;
      background: linear-gradient(to top, rgb(0, 165, 172) 50%, rgb(0, 165, 172) 50%) !important;

      &:hover {
        border-color: rgb(0, 165, 172);
        background: linear-gradient(to top, #fff 50%, #fff 50%) !important;
        color: rgb(0, 165, 172) !important;
      }
    }

    &.energy-teal {
      border-color: rgb(0, 165, 172);
      background-color: rgb(0, 165, 172) !important;
      background: linear-gradient(to top, rgb(0, 165, 172) 50%, rgb(255, 255, 255) 50%) 0px 99% / 100% 220%;

      &:hover {
        background-color: rgb(255, 255, 255);
        background-position: center top;
      }
    }
  }

  /* Course Search widget */

  /* Course Search widget */

  #course-search-widget {
    #course-search-widget__search-input {
      background-image: none !important;
      border-bottom: 5px solid #cdcdcd !important;
      border-left-width: 0 !important;
      border-top-width: 0 !important;
      border-right-width: 0 !important;

      &:focus {
        border-bottom: 5px solid rgb(0, 165, 172) !important;
        background-color: #fff !important;
        outline: 2px solid #fff !important;
      }

      &::placeholder {
        text-transform: lowercase;
      }
    }
    button {
      background-color: #6d6d6d !important;

      &:focus {
        outline: 2px solid #fff !important;
      }
    }
  }
}
