.c-header-nav--primary,
.c-header-nav--secondary,
header nav .hide-for-xlarge,
#header-portal__button {
  display: none;
}

/*
    General Sans

 */

@font-face {
  font-family: "General Sans";
  src: url('<t4 type="media" id="173668" formatter="path/*" />') format("woff"), url("../../fonts/general-sans/GeneralSans-Regular.ttf") format("OpenType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url('<t4 type="media" id="173667" formatter="path/*" />') format("woff"), url("../../fonts/general-sans/GeneralSans-Bold.ttf") format("OpenType");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

main {
  font-family: "General Sans", sans-serif !important;
  h1,
  h2,
  h2 strong:not(.u-header--secondary-font),
  h3,
  h4,
  .c-course-search-widget__search-input::placeholder {
    font-family: "General Sans", sans-serif !important;
  }

  h1 {
    font-size: 3.25rem;
  }

  h2 strong {
    font-weight: bold;
  }

  .u-sticky.button {
    font-weight: normal;
    font-size: 2.25rem !important;
    padding: 0.75rem !important;
    font-family: "General Sans", sans-serif !important;
  }

  .u-bg-web-turq button {
    background-color: #592c82 !important;
    border-color: #592c82 !important;
    font-weight: normal;
  }

  .c-course-search-widget__search-input {
    background-image: none !important;
    border-bottom: 5px solid #cdcdcd !important;
  }

  .c-course-search-widget__search-input:focus {
    border-bottom: 5px solid #592c82 !important;
  }

  .c-course-search-widget__search-input::placeholder {
    text-transform: lowercase;
    color: #00a5ac !important;
  }
}
