.c-header-nav--primary,
.c-header-nav--secondary,
header nav .hide-for-xlarge,
#header-portal__button {
  display: none;
}

body,
h1,
h2,
h2 strong,
h3,
h4,
.c-course-search-widget__search-input::placeholder {
  font-family: "General Sans", sans-serif !important;
}

h1 {
  font-size: 3.25rem;
}

h2 strong {
  font-weight: bold;
}

.u-sticky.button {
  font-weight: normal;
}

.u-bg-web-turq button {
  background-color: #592c82 !important;
  border-color: #592c82 !important;
  font-weight: normal;
}

.c-course-search-widget__search-input {
  background-image: none !important;
}

.c-course-search-widget__search-input:focus {
  border-bottom: 5px solid #592c82 !important;
}

.c-course-search-widget__search-input::placeholder {
  text-transform: lowercase;
  color: #00a5ac !important;
}
