/* 
     Animations
 */

.u-animate-hover-scale {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

@keyframes u-horz-slide-in-out {
  0% {
    transform: translateX(-100%);
  }
}

.u-fadein {
  opacity: 1;
  transform: translateX(0%);
  animation: fadein 1s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.u-fadeinout {
  animation: fadeinout 2.5s;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
  Mega Menu 
*/

/* 2023-11-24 [RWM2] we've disable the animation, it seems *that* is what's
	causing the issues in Safari. Zero-height is not sucessfully hiding the
	element's contents when it's interacting with all the other stuff on the
	page. 
 */

/* .animation__slidedown {
  transform-origin: top;
  animation: 0.66s slideDown ease-in;
  animation-fill-mode: forwards;
} */

.animation-slide {
  /* transform-origin: top;
  animation-duration: 0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; */
  /* max-height: 0; */
  /* transform: scaleY(0); */
  overflow-y: hidden;
  display: none;
}

.animation-slide__down {
  /* animation-name: slideDown;
  animation-duration: 0.33s; */
  display: block;
}

.animation-slide__up {
  /* animation-name: slideUp;
  animation-duration: 0.33s; */
  display: none;
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes slideDown {
  0% {
    max-height: 0;
  }
  99% {
    max-height: 100vh;
  }
  100% {
    max-height: 5000px;
  }
}
@keyframes slideUp {
  0% {
    max-height: 5000px;
  }
  1% {
    max-height: 100vh;
  }
  100% {
    max-height: 0;
  }
}

/* 
  Replacements for AOS half n half animations 
*/

.fadein-slide-left {
  opacity: 1;
  transform: translateX(0%);
  animation: fadein-slide-left 1s ease-in-out;
  animation-fill-mode: forwards;
}

.fadein-slide-right {
  opacity: 1;
  transform: translateX(0%);
  animation: fadein-slide-right 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadein-slide-left {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-slide-right {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 
  Concierge 
*/

.stir__slideup,
.stir__slidedown {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 1.4s ease-in-out;
}

.stir__slidedown {
  max-height: 560px; // 3560px
}

/* 
  Homepage search box 
*/

.u-focuswithin-dark:focus-within {
  background-color: black;
}
.hasfocus-dim {
  /* transition: filter 0.15s ease; */
  transition: opacity 0.15s ease;
}
:focus-within > .hasfocus-dim {
  /* note: do not use filter, there's bug in Safari 16 */
  /* update 2023-11-24: appears this isn't the bug after all */
  /* … to be reviewed!  */
  /* filter: brightness(70%) saturate(0.666); */
  opacity: 0.7;
}

.u-animate-in-view {
  animation-timeline: view(block 50% 12%);
}
