/*
  BRAND
  --- 

  Also

  button.no-arrow

*/

.u-arrow:after {
  content: "\e97b";
  font-family: "uos";
  margin: 0 0 0 10px;
  position: relative;
}

.u-header-line::after {
  content: "";
  background-color: $energy-green;
  bottom: -20px;
  left: 0;
  position: absolute;
  width: 60px;
  height: 8px;
}

/* 
  Brand border lines 
  default 3px width but you can use u-border-width-4 / u-border-width-5 to overide
*/

/* energy */
.u-energy-line-top,
.u-green-line-top {
  border-top: 3px solid $energy-green;
}

.u-energy-line-bottom {
  border-bottom: 3px solid $energy-green;
}

.u-energy-line-left {
  border-left: 3px solid $energy-green;
}

/* heritage */

.u-heritage-line-top {
  border-top: 3px solid $heritage-green;
}

.u-heritage-line-bottom {
  border-bottom: 3px solid $heritage-green;
}

.u-heritage-line-left {
  border-left: 3px solid $heritage-green;
}

/* grey */
.u-grey-line-bottom {
  border-bottom: 3px solid #f6f5f4;
}

.u-grey-line-left {
  border-left: 1px solid #eae9e8;
}

/*
  General Borders
*/

.u-border {
  border: 1px solid #eee;
}

.u-border-none {
  border: none;
}

.u-border-solid {
  border: 1px solid currentColor;
}

.u-border-bottom-solid,
.u-underline {
  border-bottom: 1px solid currentColor;
}

.u-border-top-solid {
  border-top: 1px solid currentColor;
}

.u-border-width-4 {
  border-width: 4px;
}

.u-border-width-5 {
  border-width: 5px;
}

/* Borders for medium down */

@media screen and #{breakpoint(medium down)} {
  .u-no-border-medium {
    border: none;
  }
}

/*
  Icons
  To control size best to use with one of the foundation helper font size classes eg h3
  eg <span class="uos-money u-icon h3"></span>
*/

.u-icon {
  color: $heritage-green;
  margin: 0;

  &::before {
    color: $heritage-green;
  }
}

svg.u-icon {
  width: 1.125rem;
  height: 1.125rem;
  display: inline-block;
}

.u-white--all .u-icon {
  &::before {
    color: $white;
  }
}

.u-svg-icon-24 {
  width: 24px;
  height: 24px;
}

.u-svg-icon-36 {
  width: 36px;
  height: 36px;
}

/* 
  Icon labels
  Eg on search results 
*/
[data-label-icon]::before {
  font-family: "uos" !important;
  font-size: 1rem;
  position: absolute;
  left: -30px;
  color: #fff;
  background-color: #006938;
  top: 0;
  padding: 0.3rem 0;
  text-align: center;
  width: 30px; /* should match Foundation's grid-container gutter width */
}

[data-label-icon="pin"]::before {
  content: "\e964";
}

[data-label-icon="startdates"]::before {
  content: "\e99b";
}

[data-label-icon="course"]::before {
  content: "\e9a1";
}

[data-label-icon="news"]::before {
  content: "\e9a3";
}

[data-label-icon="event"]::before {
  content: "\e9a2";
}

[data-label-icon*="output"]::before {
  content: "\e9a4";
}

[data-label-icon*="person"]::before {
  content: "\e9a5";
}

[data-label-icon="document"]::before {
  content: "\e92a";
}
