/*

    New brand 2025 hooks
    ---
    These are used to create a hook effect on the top right, top left, bottom left and bottom right of a component.

    Current used on components:

    - Image frame

    Vars are in layout.scss

  --hook-border-thickness: 30px; // changed 2026
  --hook-border-thickness-medium: 30px;
  --gutter-offset: -24px;
  --gutter-offset-medium: -40px;
  --gutter-offset-large: -50px;
  --hook-height: 80px;
  --hook-height-medium: 100px;
  --hook-offset: 2px;

*/

.u-hook {
  position: relative;
}

.u-hook > *::before {
  content: "";
  position: absolute;
  z-index: 2;
  height: var(--hook-height);
  width: 100%;
}

.u-hook > *::after {
  content: "";
  position: absolute;
  z-index: 2;
  height: 20%;
}

// Top Right positioning
.u-hook-tr > *::before {
  top: calc(var(--hook-offset) - var(--hook-border-thickness)); // changed
  border-top: var(--hook-border-thickness) solid map-get($greens, "medium");
  border-right: var(--hook-border-thickness) solid map-get($greens, "medium");
}

// Bottom left positioning
.u-hook-bl > *::before {
  bottom: calc(var(--hook-offset) - var(--hook-border-thickness));
  border-bottom: var(--hook-border-thickness) solid map-get($greens, "medium");
  border-left: var(--hook-border-thickness) solid map-get($greens, "medium");
}

// Media queries for responsive adjustments - Medium up
@include breakpoint(medium up) {
  // Define common variables inside the breakpoint
  $neg-border-medium: calc(var(--hook-offset) - var(--hook-border-thickness-medium));

  .u-hook-bl > *::after {
    height: var(--hook-height);
  }

  .u-hook-tr > *::before {
    top: $neg-border-medium;
  }

  .u-hook-bl > *::before {
    bottom: $neg-border-medium;
  }
}

// Colour generator for hooks
// This will generate the hooks for each colour in the uos-colour-group-palette
.u-hook {
  @each $name, $color in $uos-colour-group-palette {
    &.#{$name} {
      > *::after {
        border-color: map-get($color, "hook");
      }

      > *::before {
        border-color: map-get($color, "hook");
      }
    }
  }
}

/*

    Border Bleed (u-border bleed)
    ---
    This utility is used to create a border bleed effect on the left or right side of a full width component.
    It uses a gradient background to create the effect of a border that fades into the content bg
   
*/

// mixin for border-bleed gradients
@mixin border-bleed($direction, $color) {
  @if $direction == "left" {
    background-image: linear-gradient(90deg, $color 30%, transparent 70%);
  } @else if $direction == "right" {
    background-image: linear-gradient(90deg, transparent 70%, $color 30%);
  }
}

.u-border-bleed {
  display: block;
  height: var(--hook-border-thickness);
  background-origin: border-box;
  background-clip: border-box;
  position: relative;
}

@include breakpoint(medium up) {
  .u-border-bleed {
    height: var(--hook-border-thickness-medium);
  }
}

@each $name, $color-map in $uos-colour-group-palette {
  .u-border-bleed-left.#{$name} {
    @include border-bleed("left", map-get($color-map, "hook"));
  }
  .u-border-bleed-right.#{$name} {
    @include border-bleed("right", map-get($color-map, "hook"));
  }
}
