/*
    Layout
    --- 
  
    Some utility classes are bundled with Foundation

    https://get.foundation/sites/docs/flexbox-utilities.html

    - flex-container
    - flex-dir-column
    - flex-dir-column large-flex-dir-row (responsive)
    - flex-dir-column-reverse
    - flex-dir-row-reverse

    - flex-child-auto

    - small-order-1 medium-order-2 

    Horizontal Alignment

    - align-left
    - align-right
    - align-center
    - align-justify
    - align-spaced

    Vertical Alignment

    - align-top
    - align-middle
    - align-bottom
    - align-stretch
*/

.u-flex {
  display: flex;
}

.u-flex-wrap,
.flex-wrap {
  flex-wrap: wrap;
}

.u-flex1 {
  flex: 1;
}

.u-grid {
  display: grid;
}

@media screen and #{breakpoint(medium up)} {
  .u-grid-equal-cols {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.u-grid-cols-3_1 {
  grid-template-columns: 3fr 1fr;
}

.u-justify-content-center {
  justify-content: center;
}

@media screen and #{breakpoint(medium up)} {
  .u-flex-medium-up {
    display: flex;
  }
  .u-grid-medium-up {
    display: grid;
  }
}

@media screen and #{breakpoint(large up)} {
  .u-flex-large-up {
    display: flex;
  }
  .u-grid-large-up {
    display: grid;
  }
}

@media screen and #{breakpoint(small down)} {
  .u-items-start-small {
    align-items: start;
  }
}

@media screen and #{breakpoint(large up)} {
  .u-flex1-large-up {
    flex: 1;
  }
}

/* Gap - Default */

.u-gap {
  gap: 16px;
}

.u-gap-x {
  gap: 0 16px;
}

.u-gap-y {
  gap: 16px 0;
}

/* Gap - Alternatives */

.u-gap-4 {
  gap: 4px;
}

.u-gap-8 {
  gap: 8px;
}

.u-gap-x-8 {
  gap: 0 8px;
}

.u-gap-16 {
  gap: 16px;
}

.u-gap-24 {
  gap: 24px;
}

.u-gap-40 {
  gap: 40px;
}

@media screen and #{breakpoint(medium up)} {
  .u-gap-8-medium-up {
    gap: 8px;
  }
  .u-gap-32-medium-up {
    gap: 32px;
  }
}

@media screen and #{breakpoint(large up)} {
  .u-gap-64-large-up {
    gap: 64px;
  }
}

/* Visibilty */

.u-opacity-0 {
  opacity: 0;
}

/* Positioning */

.u-relative {
  position: relative;
}

.u-absolute {
  position: absolute;
}

.u-fixed {
  position: fixed;
}

.u-center-fixed-horz {
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

@media screen and #{breakpoint(medium up)} {
  .u-relative-medium-up {
    position: relative;
  }

  .u-absolute-medium-up {
    position: absolute;
  }
}

@media screen and #{breakpoint(large up)} {
  .u-relative-large-up {
    position: relative;
  }

  .u-absolute-large-up {
    position: absolute;
  }
}

@media screen and #{breakpoint(medium down)} {
  .u-absolute-medium-down {
    position: absolute;
  }
}

.u-top-0 {
  top: 0;
}

.u-top--16 {
  top: -16px;
}

.u-top--70 {
  top: -70px;
}

.u-top--100 {
  top: -100px;
}

.u-right-0 {
  right: 0;
}

.u-bottom-0 {
  bottom: 0;
}

.u-left-0 {
  left: 0;
}

.u-left-32 {
  left: 32px;
}

/* Offset - eg jump links under a sticky nav */

// .u-scroll-offset::before {
//   content: "";
//   display: block;
//   height: 90px;
//   margin-top: -90px;
//   visibility: hidden;
// }

/* Z-indexs */

.u-z-50 {
  z-index: 50;
}

/* Display */

.u-inline {
  display: inline;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-overflow-hidden {
  overflow: hidden;
}

/* Object fit */

.u-object-cover,
.u-object-cover > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.u-object-contain {
  object-fit: contain;
}
.u-object-fill {
  object-fit: fill;
}
.u-object-none {
  object-fit: none;
}
.u-object-scale-down {
  object-fit: scale-down;
}

/* Widths / Heights */

.u-w-16,
.u-width-16 {
  width: 16px;
  min-width: 16px;
  flex-basis: 16px;
}

.u-w-32,
.u-width-32 {
  width: 32px;
  min-width: 32px;
  flex-basis: 32px;
}

.u-w-48,
.u-width-48 {
  width: 48px;
  min-width: 48px;
  flex-basis: 48px;
}

.u-w-64,
.u-width-64 {
  width: 64px;
  min-width: 64px;
  flex-basis: 64px;
}

.u-w-half {
  width: 50%;
}

.u-w-3quarters,
.cell.u-w-3quarters {
  width: 75%;
}

.u-w-full,
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

@media screen and #{breakpoint(small down)} {
  .u-w-full-small {
    width: 100%;
  }
}

.u-max-w-none,
.u-max-width-none {
  max-width: none;
}

.u-min-w-none {
  min-width: auto;
}

.u-max-w-350 {
  max-width: 350px;
}

.u-h-full {
  height: 100%;
}

.u-trans-up {
  transform: translateY(-100%);
}

@media screen and #{breakpoint(medium up)} {
  .u-columns-2 {
    column-count: 2;
  }
}

.u-basis-20 > * {
  flex-basis: 20px;
  width: 20px;
  min-width: 20px;
}

/* 
  Common aspect ratios 
*/

.u-aspect-ratio-1-1 {
  aspect-ratio: 1/1;
}

.u-aspect-ratio-3-2 {
  aspect-ratio: 3/2;
}
/* Homepage news */
.u-aspect-ratio-4-3 {
  aspect-ratio: 4/3;
}

.u-whitespace-nowrap {
  white-space: nowrap;
}

.u-scroll-snap-x {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

// .u-scroll-snap-x > * {
//   // scroll-snap-align: center;
// }
