<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Course search widgets | Templates, Testing and Training | University of Stirling</title>

    <meta property="og:site_name" content="University of Stirling">
    <meta property="og:url"
        content="https://www.stir.ac.ukhttps://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/28908">
    <meta property="og:title"
        content="Course search widgets | Templates, Testing and Training | University of Stirling">
    <meta property="og:image"
        content="https://www.stir.ac.uk/media/stirling/global-assets/landscape/og-airthrey-loch-1200x630.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="">


    <meta name="Page last modified" content="2022-06-27" />
    <link rel="canonical"
        href="https://www.stir.ac.ukhttps://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/28908">
    <meta name="stir.breadcrumb"
        content="Home > Templates, Testing and Training > Kitchen Sink > Search > Course search widgets">
    <meta name="sid" content="28908">
    <meta name="chid" content="1">
    <meta name="t4name" content="Course search widgets">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@StirUni">
    <meta name="twitter:title"
        content="Course search widgets | Templates, Testing and Training | University of Stirling">
    <meta name="twitter:description" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#006938">



    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/fsmaja/FSMajaWeb-Regular.woff?v=0.1" as="font"
        type="font/woff" crossorigin>
    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/open-sans/OpenSans-Regular.ttf?v=0.1" as="font"
        type="font/ttf" crossorigin>
    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/open-sans/OpenSans-Bold.ttf?v=0.1" as="font"
        type="font/ttf" crossorigin>
    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/fonts.css?v=2.1" as="style">
    <link rel="stylesheet" href="../../../medias/Categorised/Dist/fonts/fonts.css?v=2.1">


    <link rel="preload" href="../../../medias/Categorised/Dist/css/app.min.css?v=41.1" as="style">
    <link rel="stylesheet" href="../../../medias/Categorised/Dist/css/app.min.css?v=41.1">




    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NLVN8V');</script>
</head>

<body class="external-pages">
    <!--beginnoindex-->
    <nav class="skip-nav-btn" aria-label="Skip to content navigation"><a href="#content">skip to main content</a></nav>

    <!--
         MOBILE NAV
      -->
    <nav id="mobile-menu-2" class="c-mobile-menu u-bg-grey " aria-label="Mobile navigation">
        <a href="#" id="close_mobile_menu" class="closebtn" title="Close mobile menu">&times;</a>
        <ul class="sitemenu-2 no-bullet u-bg-white">
            <li class="u-underline u-energy-teal--light">
                <a href="/" class="button no-arrow button--left-align clear expanded u-m-0 text-left" data-action="go">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">Home</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/courses/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            Find a course</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/subjects/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">University courses by subject</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/study/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">Study</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/international/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">International</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/research/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">Research</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/about/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">About</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/student-life/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">Student life</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>

            <li class="u-underline u-energy-teal--light">
                <a href="/clearing/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            Clearing</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/scholarships/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            Scholarships</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/news/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            News</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/events/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            Events</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
        </ul>

        <ul class="slidemenu__other-links no-bullet u-p-3 flex-container flex-dir-column u-gap-16">
            <li class="slidemenu__other-links-portal text-sm"><a href="https://portal.stir.ac.uk/my-portal.jsp"
                    rel="nofollow">My Portal</a></li>
            <li class="slidemenu__other-links-contact text-sm"><a href="/about/contact-us/">Contact</a></li>
            <li class="slidemenu__other-links-search text-sm"><a href="/search/">Search our site</a></li>
            <li class="slidemenu__other-links-microsite text-sm"><a href="http://stirlinguni.cn/"
                    data-microsite="cn">中文网</a>
            </li>
        </ul>
    </nav>

    <!--
         MAIN HEADER
        -->
    <header class="c-header" id="layout-header" aria-label="Main header">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-4 medium-4 small-8">
                    <a href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/260"
                        title="University of Stirling"><img
                            src="https://stiracuk-cms01-production.terminalfour.net/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=31c78785a677293a8c39b22aa2cf29d019509d54"
                            alt="University of Stirling logo" class="c-site-logo"></a>
                </div>

                <nav aria-label="primary" class="cell large-8 medium-8 small-4 flex-container align-right">
                    <div class="c-header-nav flex-container flex-dir-column align-bottom align-center">
                        <ul class="c-header-nav c-header-nav--secondary u-font-semibold flex-container align-middle">
                            <li class="c-header-nav__item show-for-medium">
                                <a href="https://stirlinguni.cn/" class="c-header-nav__link" data-microsite="cn">中文网</a>
                            </li>
                            <li class="c-header-nav__item show-for-large">
                                <a href="https://portal.stir.ac.uk/my-portal.jsp" rel="nofollow"
                                    class="c-header-nav__link" id="header-portal__button">My Portal</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" id="header-search__button"
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/2652">
                                    <span class="show-for-medium">Site search</span>
                                    <span class="c-header-nav__icon uos-magnifying-glass u-font-semibold"></span>
                                </a>
                            </li>
                        </ul>
                        <ul class="c-header-nav c-header-nav--primary u-font-bold show-for-xlarge">
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__study" aria-controls=mm__study
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/265">Study</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__international"
                                    aria-controls=mm__international
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/6820">International</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__research" aria-controls=mm__research
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/264">Research</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__about" aria-controls=mm__about
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/262">About</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__student-life"
                                    aria-controls=mm__student-life
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/263">Student
                                    life</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hide-for-xlarge flex-container align-middle align-center flex-dir-column">
                        <a href="#" id="open_mobile_menu" class="c-header-burger flex-container align-middle">
                            <span class="show-for-sr">Show/hide mobile menu</span>
                            <span class="c-header-burger__bun"></span>
                        </a>
                        <span>Menu</span>
                    </div>
                </nav>

            </div>
        </div>
        <form id="header-search" class="c-header-search" aria-hidden="true" aria-label="Popup for site search field"
            method="get" action="https://search.stir.ac.uk/s/search.html?collection=stir-main"
            data-js-action="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/2652">
            <!--  <input type="hidden" name="collection" value="external">-->
            <!-- <input type="hidden" name="meta_group_not" value="internal"> -->

            <div class="overlay"></div>
            <div class="content">
                <div class="grid-container">
                    <div class="grid-x">
                        <div class="small-12 small-12 cell c-header-search__input-wrapper">

                            <label class="show-for-sr" for="header-search__query">Site search</label>
                            <input type="search" name="query" id="header-search__query" class="c-header-search__query"
                                autocomplete="off" placeholder="Site search" tabindex="-1">

                            <button class="button no-arrow" type="submit" title="submit search term" aria-label="submit"
                                tabindex="-1">
                                <span class="uos-magnifying-glass"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="u-bg-grey">
                    <div class="grid-container">
                        <div class="grid-x">
                            <div class="small-12 small-12 cell u-relative">

                                <div id="header-search__wrapper" class="c-header-search__wrapper hide-for-small-only"
                                    aria-hidden="true">
                                    <div id="header-search__results" class="grid-x c-header-search__results">
                                        <div class="cell medium-4 c-header-search__column c-header-search__suggestions">
                                        </div>

                                        <div class="cell medium-4 c-header-search__column c-header-search__news">
                                        </div>

                                        <div class="cell medium-4 c-header-search__column c-header-search__courses">
                                        </div>
                                    </div>
                                    <div id="header-search__loading" class="c-search-loading">
                                        <div class="c-search-loading__spinner"></div>
                                        <span class="show-for-sr">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <nav id="megamenu__container" aria-label="primary navigation submenu"></nav>
    </header>

    <!-- 
				 BREADCRUMB 
				-->


    <nav aria-label="breadcrumb" class="breadcrumbs-container u-bg-grey show-for-large">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">

                    <ul class="breadcrumbs">
                        <li><a
                                href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/260">Home</a>
                        </li>
                        <li><a href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/742">Templates,
                                Testing and Training</a>
                            <ul>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/6142">Kitchen
                                        Sink</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26140">Homepage
                                        assets</a></li>
                            </ul>
                        </li>
                        <li><a href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/6142">Kitchen
                                Sink</a>
                            <ul>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/25372">Accordion</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/25254">Banner
                                        mastheads</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/745">Basic
                                        text (headings, blockquotes and tables)</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/24916">Clearing</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26209">Contact
                                        CTAs and maps </a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26365">CPD</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/24797">Creating
                                        accessible content</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26205">CTAs
                                        (links, buttons, icons)</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26212">Eventbrite
                                        and Gecko embeds</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/25159">Faqs</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/3175">Feature
                                        promos (full width)</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/32493">Homepage</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/27278">Icons</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26213">Image
                                        gallery</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/5911">Infographics</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/25353">List
                                        widgets</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26654">News</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/13876">Page
                                        templates</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/25516">Printable
                                        image</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26208">Promo
                                        blocks</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26215">Search</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26207">SEO
                                        configuration</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/24877">Tabs</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/20537">Testimonial
                                        widgets</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/25196">Video
                                        embed</a></li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26203">Webinar</a>
                                </li>
                                <li><a
                                        href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26214">ZONKED</a>
                                </li>
                            </ul>
                        </li>
                        <li><a
                                href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/26215">Search</a>
                            <ul>
                                <li><span class="currentsection">Course search widgets</span></li>
                            </ul>
                        </li>
                        <li><a
                                href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/28908">Course
                                search widgets</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>

    <!--endnoindex-->

    <!-- 
				 MAIN CONTENT 
		-->
    <main class="wrapper-content" aria-label="Main content" id="content">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">


                <div class="cell main-content-header large-10 medium-10 small-12 u-padding-y">
                    <h1 class="c-automatic-page-heading c-page-heading u-heritage-green">Course search widgets</h1>
                </div>

                <!--beginnoindex-->
                <div class="cell">
                    <form class="u-py-2 u-padding-bottom c-course-search-widget__form " action="/s/search.html"
                        data-js-action="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        method="get"
                        data-courses-path="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        data-courses-search-path="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        id="course-search-widget">
                        <div class="grid-x grid-padding-x align-bottom u-gap-y">
                            <div class="cell large-9 medium-8 small-12"> <input type="hidden" name="meta_faculty"
                                    value=""> <input type="hidden" name="meta_level" value="undergraduate"> <label
                                    for="course-search-widget__search-input" class="show-for-sr">Search undergraduate
                                    courses</label> <input id="course-search-widget__search-input"
                                    title="Search courses" type="search" class="c-course-search-widget__search-input"
                                    name="query" autocomplete="off" placeholder="Search undergraduate courses" /> </div>
                            <div class="cell large-3 medium-4 small-12"> <button
                                    class="button u-m-0 heritage-green expanded show-for-medium" type="submit">Find a
                                    course</button> </div>
                            <div class="cell small-12 flex-container flex-dir-column medium-flex-dir-row u-gap "> <a
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727?meta_level=undergraduate"
                                    class="c-link">View all undergraduate courses</a><a
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727?meta_level=undergraduate&meta_delivery=online"
                                    class="c-link">View all online undergraduate courses</a> </div>
                        </div>
                    </form>
                </div><!--endnoindex--><!--beginnoindex-->


                <div class="cell">
                    <form
                        class="u-py-2 u-padding-y c-course-search-widget__form darkmode u-bg-heritage-green u-bleed bg-heritage-green"
                        action="/s/search.html"
                        data-js-action="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        method="get"
                        data-courses-path="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        data-courses-search-path="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        id="course-search-widget">
                        <div class="grid-x grid-padding-x align-bottom u-gap-y">
                            <div class="cell large-9 medium-8 small-12"> <input type="hidden" name="meta_faculty"
                                    value=""> <input type="hidden" name="meta_level" value="postgraduate"> <label
                                    for="course-search-widget__search-input" class="show-for-sr">Search postgraduate
                                    courses</label> <input id="course-search-widget__search-input"
                                    title="Search courses" type="search" class="c-course-search-widget__search-input"
                                    name="query" autocomplete="off" placeholder="Search postgraduate courses" /> </div>
                            <div class="cell large-3 medium-4 small-12"> <button
                                    class="button u-m-0  expanded show-for-medium" type="submit">Find a course</button>
                            </div>
                            <div class="cell small-12 flex-container flex-dir-column medium-flex-dir-row u-gap "> <a
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727?meta_level=postgraduate"
                                    class="c-link">View all postgraduate courses</a> </div>
                        </div>
                    </form>
                </div><!--endnoindex--><!--beginnoindex-->


                <div class="cell">
                    <form
                        class="u-py-2 u-padding-top c-course-search-widget__form darkmode u-bg-heritage-purple  u-bleed bg-heritage-purple"
                        action="/s/search.html"
                        data-js-action="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        method="get"
                        data-courses-path="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        data-courses-search-path="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        id="course-search-widget">
                        <div class="grid-x grid-padding-x align-bottom u-gap-y">
                            <div class="cell large-9 medium-8 small-12"> <input type="hidden" name="meta_faculty"
                                    value=""> <input type="hidden" name="meta_level" value="postgraduate"> <label
                                    for="course-search-widget__search-input" class="show-for-sr">Search postgraduate
                                    courses</label> <input id="course-search-widget__search-input"
                                    title="Search courses" type="search" class="c-course-search-widget__search-input"
                                    name="query" autocomplete="off" placeholder="Search postgraduate courses" /> </div>
                            <div class="cell large-3 medium-4 small-12"> <button
                                    class="button u-m-0 heritage-green expanded show-for-medium" type="submit">Find a
                                    course</button> </div>
                            <div class="cell small-12 flex-container flex-dir-column medium-flex-dir-row u-gap "> <a
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727?meta_level=postgraduate"
                                    class="c-link">View all postgraduate courses</a> </div>
                        </div>
                    </form>
                </div><!--endnoindex--><!--beginnoindex-->


                <div class="cell">
                    <form class="u-py-2 u-padding-y c-course-search-widget__form u-bg-grey u-bleed bg-grey"
                        action="/s/search.html"
                        data-js-action="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        method="get"
                        data-courses-path="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        data-courses-search-path="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727"
                        id="course-search-widget">
                        <div class="grid-x grid-padding-x align-bottom u-gap-y">
                            <div class="cell large-9 medium-8 small-12"> <input type="hidden" name="meta_faculty"
                                    value=""> <input type="hidden" name="meta_level" value="undergraduate"> <label
                                    for="course-search-widget__search-input" class="show-for-sr">Search undergraduate
                                    courses</label> <input id="course-search-widget__search-input"
                                    title="Search courses" type="search" class="c-course-search-widget__search-input"
                                    name="query" autocomplete="off" placeholder="Search undergraduate courses" /> </div>
                            <div class="cell large-3 medium-4 small-12"> <button
                                    class="button u-m-0 heritage-green expanded show-for-medium" type="submit">Find a
                                    course</button> </div>
                            <div class="cell small-12 flex-container flex-dir-column medium-flex-dir-row u-gap "> <a
                                    href="https://stiracuk-cms01-production.terminalfour.net/terminalfour/preview/1/en/727?meta_level=undergraduate"
                                    class="c-link">View all undergraduate courses</a> </div>
                        </div>
                    </form>
                </div><!--endnoindex-->
            </div>
        </div>
    </main>

    <!--beginnoindex-->
    <!-- 
				 MAIN FOOTER 
				-->


    <!--endnoindex-->

    <!-- app.min.js -->
    <script type="text/javascript" src="../../../medias/Categorised/Dist/js/app.min.js?v=58.1"></script>

    <!-- unibuddy.min.js -->
    <script type="text/javascript" src="../../../medias/Categorised/Dist/js/other/unibuddy.js?v=2.1"></script>




    <!-- [removed] course-module-search-widget.js --><!-- [removed] course-module-search-widget.js --><!-- [removed] course-module-search-widget.js --><!-- [removed] course-module-search-widget.js -->

</body>

</html>