<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About the University of Stirling | About | University of Stirling</title>

    <meta property="og:site_name" content="University of Stirling">
    <meta property="og:url" content="https://www.stir.ac.uk/about/">
    <meta property="og:title" content="About | About | University of Stirling">
    <meta property="og:image"
        content="https://www.stir.ac.uk/media/stirling/global-assets/landscape/og-airthrey-loch-1200x630.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="">

    <meta name="description" content="About the University of Stirling" />
    <meta name="Page last modified" content="2023-02-15" />
    <link rel="canonical" href="https://www.stir.ac.uk/about/">
    <meta name="stir.breadcrumb" content="Home > About">
    <meta name="sid" content="262">
    <meta name="chid" content="1">
    <meta name="t4name" content="About">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@StirUni">
    <meta name="twitter:title" content="About | About | University of Stirling">
    <meta name="twitter:description" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#006938">


    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/fsmaja/FSMajaWeb-Regular.woff?v=0.1" as="font"
        type="font/woff" crossorigin>
    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/open-sans/OpenSans-Regular.ttf?v=0.1" as="font"
        type="font/ttf" crossorigin>
    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/open-sans/OpenSans-Bold.ttf?v=0.1" as="font"
        type="font/ttf" crossorigin>
    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/fonts.css?v=3.1" as="style">
    <link rel="stylesheet" href="../../../medias/Categorised/Dist/fonts/fonts.css?v=3.1">


    <link rel="preload" href="../../../medias/Categorised/Dist/css/app.min.css?v=122.1" as="style">
    <link rel="stylesheet" href="../../../medias/Categorised/Dist/css/app.min.css?v=122.1">


    <script>
        var stir = stir || {};
        stir.vimeo = stir.vimeo || {};
        stir.vimeo['video362740219'] = {};
        stir.vimeo['video362740219'].id = '362740219';
        stir.vimeo['video362740219'].name = 'University of Stirling Brand Film 2019';
        stir.vimeo['video362740219'].description = 'University of Stirling Brand Film 2019';
        stir.vimeo['video362740219'].uploadDate = '2019-09-27T08:14:09+00:00';
        stir.vimeo['video362740219'].thumbnailUrl = 'https://i.vimeocdn.com/video/831197916-2af3ca4825c32b851b4a1662989cb2fc5e55efa1a31c4b2e6346f0a49849dfc7-d_1280x720?r=pad'; 
    </script>
    <link rel="stylesheet" href="../../../medias/Categorised/Dist/css/infographics.css?v=1.1">





    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NLVN8V');</script>
</head>

<body class="external-pages">
    <!--beginnoindex-->
    <nav class="skip-nav-btn" aria-label="Skip to content navigation"><a href="#content">skip to main content</a></nav>

    <!--
         MOBILE NAV
      -->
    <nav id="mobile-menu-2" class="c-mobile-menu u-bg-grey " aria-label="Mobile navigation">
        <a href="#" id="close_mobile_menu" class="closebtn" title="Close mobile menu">&times;</a>
        <ul class="sitemenu-2 no-bullet u-bg-white">
            <li class="u-underline u-energy-teal--light">
                <a href="/" class="button no-arrow button--left-align clear expanded u-m-0 text-left" data-action="go">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">Home</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/courses/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            Find a course</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/subjects/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">University courses by subject</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/study/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">Study</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/international/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">International</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/research/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">Research</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/about/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">About</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/student-life/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">Student life</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>

            <li class="u-underline u-energy-teal--light">
                <a href="/clearing/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            Clearing</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/scholarships/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            Scholarships</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/news/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            News</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
            <li class="u-underline u-energy-teal--light">
                <a href="/events/" class="button no-arrow button--left-align clear expanded u-m-0 text-left">
                    <div class="flex-container align-middle u-gap-16">
                        <span class="u-flex1">
                            Events</span>
                        <span class="uos-chevron-right u-icon"></span>
                    </div>
                </a>
            </li>
        </ul>

        <ul class="slidemenu__other-links no-bullet u-p-3 flex-container flex-dir-column u-gap-16">
            <li class="slidemenu__other-links-portal text-sm"><a href="https://portal.stir.ac.uk/my-portal.jsp"
                    rel="nofollow">My Portal</a></li>
            <li class="slidemenu__other-links-contact text-sm"><a href="/about/contact-us/">Contact</a></li>
            <li class="slidemenu__other-links-search text-sm"><a href="/search/">Search our site</a></li>
            <li class="slidemenu__other-links-microsite text-sm"><a href="http://stirlinguni.cn/"
                    data-microsite="cn">中文网</a>
            </li>
        </ul>
    </nav>

    <!--
         MAIN HEADER
        -->
    <header class="c-header" id="layout-header" aria-label="Main header">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-4 medium-4 small-8">
                    <a href="/" title="University of Stirling"><img
                            src="../../../medias/Categorised/Dist/css/images/logos/logo.svg"
                            alt="University of Stirling logo" class="c-site-logo"></a>
                </div>

                <nav aria-label="primary" class="cell large-8 medium-8 small-4 flex-container align-right">
                    <div class="c-header-nav flex-container flex-dir-column align-bottom align-center">
                        <ul class="c-header-nav c-header-nav--secondary u-font-semibold flex-container align-middle">
                            <li class="c-header-nav__item show-for-medium">
                                <a href="https://stirlinguni.cn/" class="c-header-nav__link" data-microsite="cn">中文网</a>
                            </li>
                            <li class="c-header-nav__item show-for-large">
                                <a href="https://portal.stir.ac.uk/my-portal.jsp" rel="nofollow"
                                    class="c-header-nav__link" id="header-portal__button">My Portal</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" id="header-search__button" href="/search/">
                                    <span class="show-for-medium">Site search</span>
                                    <span class="c-header-nav__icon uos-magnifying-glass u-font-semibold"></span>
                                </a>
                            </li>
                        </ul>
                        <ul class="c-header-nav c-header-nav--primary u-font-bold show-for-xlarge">
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__study" aria-controls=mm__study
                                    href="/study/">Study</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__international"
                                    aria-controls=mm__international href="/international/">International</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__research" aria-controls=mm__research
                                    href="/research/">Research</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__about" aria-controls=mm__about
                                    href="/about/">About</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__student-life"
                                    aria-controls=mm__student-life href="/student-life/">Student life</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hide-for-xlarge flex-container align-middle align-center flex-dir-column">
                        <a href="#" id="open_mobile_menu" class="c-header-burger flex-container align-middle">
                            <span class="show-for-sr">Show/hide mobile menu</span>
                            <span class="c-header-burger__bun"></span>
                        </a>
                        <span>Menu</span>
                    </div>
                </nav>

            </div>
        </div>
        <form id="header-search" class="c-header-search" aria-hidden="true" aria-label="Popup for site search field"
            method="get" action="https://search.stir.ac.uk/s/search.html?collection=stir-main"
            data-js-action="/search/">
            <!--  <input type="hidden" name="collection" value="external">-->
            <!-- <input type="hidden" name="meta_group_not" value="internal"> -->

            <div class="overlay"></div>
            <div class="content">
                <div class="grid-container">
                    <div class="grid-x">
                        <div class="small-12 small-12 cell c-header-search__input-wrapper">

                            <label class="show-for-sr" for="header-search__query">Site search</label>
                            <input type="search" name="query" id="header-search__query" class="c-header-search__query"
                                autocomplete="off" placeholder="Site search" tabindex="-1">

                            <button class="button no-arrow" type="submit" title="submit search term" aria-label="submit"
                                tabindex="-1">
                                <span class="uos-magnifying-glass"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="u-bg-grey">
                    <div class="grid-container">
                        <div class="grid-x">
                            <div class="small-12 small-12 cell u-relative">

                                <div id="header-search__wrapper" class="c-header-search__wrapper hide-for-small-only"
                                    aria-hidden="true">
                                    <div id="header-search__results" class="grid-x c-header-search__results">
                                        <div class="cell medium-4 c-header-search__column c-header-search__suggestions">
                                        </div>

                                        <div class="cell medium-4 c-header-search__column c-header-search__news">
                                        </div>

                                        <div class="cell medium-4 c-header-search__column c-header-search__courses">
                                        </div>
                                    </div>
                                    <div id="header-search__loading" class="c-search-loading">
                                        <div class="c-search-loading__spinner"></div>
                                        <span class="show-for-sr">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <nav id="megamenu__container" aria-label="primary navigation submenu"></nav>
    </header>

    <!-- 
				 BREADCRUMB 
				-->


    <nav aria-label="breadcrumb" class="breadcrumbs-container u-bg-grey show-for-large">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">

                    <ul class="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a>
                            <ul>
                                <li><a href="/about/our-reputation/">Our reputation</a></li>
                                <li><a href="/about/our-vision/">Our vision</a></li>
                                <li><a href="/about/our-history/">Our history</a></li>
                                <li><a href="/about/our-people/">Our people</a></li>
                                <li><a href="/about/faculties/">Faculties</a></li>
                                <li><a href="/about/work-at-stirling/">Jobs at Stirling</a></li>
                                <li><a href="/about/business/">Business and enterprise</a></li>
                                <li><a href="/about/professional-services/">Professional services</a></li>
                                <li><a href="/about/scotlands-international-environment-centre/">Scotland's
                                        International Environment Centre</a></li>
                                <li><a href="/about/city-region-deal/">City Region Deal</a></li>
                                <li><a href="/news/">News</a></li>
                                <li><a href="/events/">Events</a></li>
                                <li><a href="/about/publications/">Publications</a></li>
                                <li><a href="/about/art-collection/">Art Collection</a></li>
                                <li><a href="/about/psychology-kindergarten/">Psychology Kindergarten</a></li>
                                <li><a href="/about/university-of-stirling-and-cop26/">University of Stirling and
                                        COP26</a></li>
                                <li><a href="/about/getting-here/">Getting here</a></li>
                                <li><a href="/about/contact-us/">Contact us</a></li>
                            </ul>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>

    <!--endnoindex-->

    <!-- 
				 MAIN CONTENT 
		-->
    <main class="wrapper-content" aria-label="Main content" id="content">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">

                <!-- 

                <div class="cell main-content-header large-10 medium-10 small-12 u-padding-y"> 
                    <h1 class="c-automatic-page-heading c-page-heading u-heritage-green">About</h1>     		
                </div>
                -->
                <!-- Alternative Page Heading -->




            </div>
        </div> <!-- Banner -->
        <section class="grid-x c-banner-masthead" id="d.en.25890" aria-label="Banner masthead (25890)">
            <div class="cell large-12">
                <div class="u-object-cover " data-objectfit="true"><img
                        src="/media/stirling/global-assets/people/banners/graduate-smiling1920x689.jpg" width="1920"
                        height="689" alt="Graduate smiling" loading="lazy" /> </div>
                <div class="grid-container grid-x u-padding-y u-gap-40">
                    <h1 class="cell large-10 u-callout-text u-m-0 u-font-primary u-heritage-green">About us</h1>
                </div>
            </div>
        </section><!-- End Banner -->
        <div class="grid-container">
            <div class="grid-x grid-padding-x"><!-- Wrapper Start -->
                <div class="cell" id="d.en.26251">
                    <div class="c-wrapper grid-x grid-padding-x u-bg-white u-bleed bg-white " data-ct="wrapper">

                        <!-- Text with Heading -->
                        <div class="cell small-12 u-padding-bottom medium-12   " id="d.en.24">
                            <div class="c-wysiwyg-content">
                                <p><strong>At the University of Stirling, being the difference is in our DNA – providing
                                        education with a purpose and carrying out research that helps to shape
                                        society.&nbsp;</strong></p>
                                <p>We are an international university with pioneering spirit and a global reputation for
                                    high-quality teaching and research. We are passionate about creating impact in
                                    everything we do.</p>
                                <p>Stirling is a place where ability – not background – is valued.</p>
                            </div>
                        </div>
                        <!-- End Text with Heading -->

                        <!-- Video Embed -->
                        <div id="d.en.78176"
                            class="cell small-12 medium-10 large-10 medium-offset-1 large-offset-1 u-padding-bottom">
                            <div class="responsive-embed widescreen" data-lazy-container data-videoschema>
                                <noscript data-load="lazy"><iframe title="Vimeo: Be Stirling"
                                        src="https://player.vimeo.com/video/362740219" width="640" height="564"
                                        frameborder="0" allow="autoplay; fullscreen" allowfullscreen
                                        loading="lazy"></iframe></noscript>
                            </div>
                        </div>
                        <!-- End Video Embed -->

                    </div>
                </div>
                <!-- Wrapper End -->

            </div>
        </div>

        <!-- Block: Feature: Text over Full Width Bg Image -->
        <section id="d.en.25913" class="c-image-text-block " aria-label="Large image promo: Our vision (25913)"
            data-objectfit="true">
            <img src="/media/stirling/services/faculties/natural-sciences/images/banners/christian-schroder-mars-rover-model-1920x689.jpg"
                width="1920" height="689" alt="Man with model of Mars rover" loading="lazy" />

            <div class="grid-container  ">
                <div class="c-image-text-block__content">
                    <!-- HEADER -->
                    <h2>Our vision</h2>
                    <!-- TEXT -->
                    <div class="c-wysiwyg-content">
                        <p>We aim to be recognised across the world as a University that addresses the needs of society
                            through innovative and interdisciplinary research, learning and teaching of the highest
                            quality, and by sharing our knowledge with the world.</p>
                    </div>
                    <div class="flex-container flex-dir-column u-gap">
                        <a class="button" href="/about/our-vision/">See more of our vision and strategy</a>


                    </div>
                </div>
            </div>
        </section>
        <!-- END Block: Feature: Text over Full Width Bg Image -->


        <style>



        </style>

        <div class="grid-container">
            <div class="grid-x grid-padding-x"><!-- Wrapper Start -->
                <div class="cell" id="d.en.26385">
                    <div class="c-wrapper grid-x grid-padding-x u-bg-white u-bleed bg-white u-padding-y"
                        data-ct="wrapper">


                        <!-- Block: Text with image aside -->
                        <div class="cell c-half-n-half u-relative js-animation  " data-name="Our people"
                            id="d.en.25911">
                            <div class="c-half-n-half__image " data-objectfit="true"><img
                                    src="mario-vallejo-marin760x470.jpg" width="760" height="470"
                                    alt="Mario Vallejo-Marin" loading="lazy" />
                            </div>
                            <div class="c-half-n-half__content ">
                                <h2 class="c-half-n-half__header header-stripped ">Our people</h2>
                                <div class="c-half-n-half__copy">
                                    <p>The core strength of the University of Stirling is our people. To build on our
                                        success, we invest in the best staff from around the world to deliver on our
                                        ambitious strategies for research, teaching and our international partnerships.
                                    </p>
                                </div>
                                <a class="c-link" href="/about/our-people/">Discover more about our people</a>
                            </div>
                        </div>



                        <!-- Block: Text with image aside -->
                        <div class="cell c-half-n-half u-relative js-animation  " data-name="Work at Stirling"
                            id="d.en.25908">
                            <div class="c-half-n-half__image" data-objectfit="true"><img
                                    src="mario-vallejo-marin760x470.jpg" width="760" height="470"
                                    alt="Dr Katherine Champion Lecturer in Media and Communications" loading="lazy" />
                            </div>
                            <div class="c-half-n-half__content">
                                <h2 class="c-half-n-half__header header-stripped ">Work at Stirling</h2>
                                <div class="c-half-n-half__copy">
                                    <p>At Stirling, we are always on the lookout for people who have the talent and the
                                        skills to make a real difference to society. Could that be you?</p>
                                </div>
                                <a class="c-link" href="/about/work-at-stirling/">Join our vibrant community</a>
                            </div>
                        </div>



                        <!-- Block: Text with image aside -->
                        <div class="cell c-half-n-half u-relative js-animation  " data-name="Faculties and services"
                            id="d.en.26208">
                            <div class="c-half-n-half__image" data-objectfit="true"><img
                                    src="/media/stirling/global-assets/campus-life/medium/students-studying-in-group760x470.JPG"
                                    width="760" height="470" alt="Students studying in a group" loading="lazy" />
                            </div>
                            <div class="c-half-n-half__content">
                                <h2 class="c-half-n-half__header header-stripped ">Faculties and services</h2>
                                <div class="c-half-n-half__copy">
                                    <p>The University of Stirling is organised for learning, teaching and research into
                                        five faculties, each of which comprises multiple departments, institutes and
                                        centres. There are also a number of professional services directorates within
                                        the University.</p>
                                </div>
                                <a class="c-link" href="/about/faculties/">See more about our structure</a>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Wrapper End -->

            </div>
        </div>

        <section class="u-padding-bottom c-getting-here" aria-label="Getting here map and info (25914)">
            <div class="grid-container">
                <div class="grid-x grid-padding-x ">
                    <div class="cell small-12">
                        <h2>Getting here</h2>
                    </div>
                    <div class="cell large-8 medium-12 small-12">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4445.294030763912!2d-3.918879!3d56.145917!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd01cc2607ea63d05!2sUniversity+of+Stirling!5e0!3m2!1sen!2suk!4v1515429475824"
                            title="University of Stirling location Google map" width="100%" height="480" frameborder="0"
                            style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="cell large-4 medium-10 small-12">
                        <h3 class="header-stripped c-getting-here__header">Stirling campus</h3>
                        <p>University of Stirling<br>
                            Stirling<br>
                            FK9 4LA<br>
                            Scotland UK</p>
                        <a href="/about/getting-here/" class="button heritage-green expanded">Getting here guide</a>
                        <a href="https://www.google.com/maps?ll=56.145917,-3.918879&z=15&t=m&hl=en-GB&gl=GB&mapclient=embed&cid=14996074578934381829"
                            class="button heritage-green expanded">View on Google Maps</a>
                        <a href="" class="button heritage-green expanded">Stay on campus</a>
                        <!-- a href="#" class="button heritage-green expanded">Coming from further away?</a -->
                    </div>
                </div>
            </div>
        </section>

        <div class="grid-container">
            <div class="grid-x grid-padding-x "><!-- Wrapper Start -->
                <div class="cell" id="d.en.25919">
                    <div class="c-wrapper grid-x grid-padding-x u-bg-grey u-bleed bg-grey  u-padding-top"
                        data-ct="wrapper">

                        <!-- Text with Heading -->
                        <div class="cell small-12  medium-10   " id="d.en.26224">
                            <h2 class=" header-stripped ">Contact us</h2>
                        </div>
                        <!-- End Text with Heading -->
                        <!-- Promo Box  -->
                        <div class="cell small-12 medium-4 u-my-1 large-6 medium-6 u-padding-bottom  " id="d.en.26225"
                            data-component="promo-standard">
                            <div class="u-energy-line-top u--line-top flex-container u-gap u-p-1 ">
                                <div><span class="uos-call-centre text-lg u-heritage-green"></span></div>
                                <div>
                                    <div class="flex-container u-gap flex-dir-column u-h-full align-stretch">
                                        <div class="u-h-full">
                                            <div class="flex-container u-gap flex-dir-column u-overflow-hidden ">
                                                <h2
                                                    class="u-header--secondary-font u-text-regular u-black header-stripped u-m-0 ">
                                                    Ask a question </h2>
                                                <div class="text-sm u-p-last-mb-0">
                                                    <p>If you have any questions about studying with us at the
                                                        University of Stirling please get in touch using our 'Ask a
                                                        question' form.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=""> <a href="https://portal.stir.ac.uk/student/enquiry/ask.jsp"
                                                class="heritage-green  c-link">Ask us a question</a></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Promo Box --><!-- Promo Box  -->
                        <div class="cell small-12 medium-4 u-my-1 large-6 medium-6 u-padding-bottom  " id="d.en.26228"
                            data-component="promo-standard">
                            <div class="u-energy-line-top u--line-top flex-container u-gap u-p-1 ">
                                <div><span class="uos-phone text-lg u-heritage-green"></span></div>
                                <div>
                                    <div class="flex-container u-gap flex-dir-column u-h-full align-stretch">
                                        <div class="u-h-full">
                                            <div class="flex-container u-gap flex-dir-column u-overflow-hidden ">
                                                <h2
                                                    class="u-header--secondary-font u-text-regular u-black header-stripped u-m-0 ">
                                                    All contacts </h2>
                                                <div class="text-sm u-p-last-mb-0">
                                                    <p>Go to our contact page for useful phone numbers and email
                                                        addresses throughout the University.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=""> <a href="/about/contact-us/"
                                                class="heritage-green  c-link">Contact us</a></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Promo Box -->
                    </div>
                </div>
                <!-- Wrapper End -->


            </div>
        </div>
    </main>

    <!--beginnoindex-->
    <!-- 
				 MAIN FOOTER 
				-->
    <footer aria-label="Main footer">
        <div class="u-bg-black u-clip u-padding-top">
            <div class="stir-grid site-footer" data-lazy-container>
                <!-- Contact -->
                <div class="site-footer__contact">
                    <h2><a href="/about/contact-us/">Contact us</a></h2>
                    <ul>
                        <li><a href="https://portal.stir.ac.uk/student/enquiry/ask.jsp">Ask us a question &#10217;</a>
                        </li>
                        <li><a href="tel:+44(0)1786473171">Tel: +44 (0) 1786 473171</a></li>
                        <li class="site-footer__address u-font-bold"><span>University of Stirling</span>
                            <span>Stirling</span> <span>FK9 4LA</span> <span>Scotland UK</span>
                        </li>
                    </ul>
                </div>
                <figure class="site-footer__map">
                    <a href="/about/getting-here/">
                        <img src="../../../medias/Categorised/Dist/css/images/maps/footer-map-scotland.svg"
                            alt="Map of the UK with a marker indicating the location of the University of Stirling"
                            loading=lazy>
                    </a>
                    <figcaption class="show-for-sr">Map of the United Kingdom of Great Britain and Northern Ireland
                    </figcaption>
                </figure>
                <!-- Social -->
                <div class="site-footer__follow">
                    <h2>Follow us</h2>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/universityofstirling/">
                                <span class="show-for-sr">Facebook</span>
                                <span class="uos-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/universityofstirling/">
                                <span class="show-for-sr">Instagram</span>
                                <span class="uos-instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/StirUni">
                                <span class="show-for-sr">Twitter</span>
                                <span class="uos-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/UniversityOfStirling">
                                <span class="show-for-sr">YouTube</span>
                                <span class="uos-youtube-old"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/school/university-of-stirling/">
                                <span class="show-for-sr">LinkedIn</span>
                                <span class="uos-linkedin"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Popular links -->
                <div class="site-footer__popular-links">
                    <h2>Popular links</h2>
                    <ul>
                        <li><a href="/about/faculties/">Faculties</a></li>
                        <li><a href="/about/professional-services/">Professional services</a></li>
                        <li><a href="/about/our-people/alumni/">Alumni</a></li>
                        <li><a href="/about/work-at-stirling/">Jobs at Stirling</a></li>
                        <li><a href="/about/getting-here/">Getting here</a></li>
                        <li><a href="/student-life/students-union/">Students’ Union</a></li>
                        <li><a href="https://shop.stir.ac.uk/">Online shop</a></li>
                        <li><a href="https://blog.stir.ac.uk/ ">Blog</a></li>
                        <li><a aria-label="Information for current students" id="footer-link-students" rel="nofollow"
                                href="/internal-students/">Current students</a></li>
                        <li><a aria-label="Information for current staff" id="footer-link-staff" rel="nofollow"
                                href="/internal-staff/">Staff</a></li>
                    </ul>
                </div>
                <!-- Site information -->
                <div class="site-footer__site-info">
                    <h2>Site information</h2>
                    <ul>
                        <li><a href="/about/policy-legal-and-cookies/">Policy, Legal and Cookies</a></li>
                        <li><a href="/about/accessibility/">Accessibility statement</a></li>
                        <li><a href="/sitemap/">Sitemap</a></li>
                        <li><a href="/about/modern-slavery-statement/">Modern Slavery Statement</a></li>
                        <li><a href="/about/">Scottish Charity No SC011159</a></li>
                    </ul>
                </div>
                <!-- Accreditations -->
                <div class="site-footer__awards">
                    <a
                        href="/news/news-archive/../2019/11/university-of-stirling-wins-the-uks-highest-academic-honour/"><img
                            src="../../../medias/Categorised/Dist/images/accreditations/qap-2019.svg"
                            alt="The Queen's Anniversary Prizes for Higher and Further Education 2019" loading=lazy></a>
                </div>
                <div class="site-footer__accreditations">
                    <a href="/about/our-reputation/facts-and-figures/" aria-label="University facts and figures"><img
                            src="../../../medias/Categorised/Dist/images/accreditations/accreditations-cluster.png"
                            srcset="../../../medias/Categorised/Dist/images/accreditations/accreditations-cluster2x.png 2x"
                            width="250" height="38" alt="UK QAA, Athena Swan Bronze Award, SCQF" loading=lazy></a>
                </div>
                <div class="site-footer__lockup">
                    <img src="../../../medias/Categorised/Dist/images/btd-strap-energy.svg" alt="Be the difference"
                        loading=lazy>
                </div>
            </div>
        </div>
        <!-- Copyright Footer -->
        <div class="c-copyright u-bg-black">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell large-12 medium-12 small-12">
                        <p>&copy; University of Stirling</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Back to top button -->
        <a href="#" id="c-scroll-to-top-button" class="c-scroll-to-top flex-container align-middle align-center"><span
                class="show-for-sr">Scroll back to the top</span><span class="uos-arrows-up"></span></a>
    </footer>
    <!--endnoindex-->


    <!-- app.min.js -->
    <script type="text/javascript" src="../../../medias/Categorised/Dist/js/app.min.js?v=83.1"></script>

    <!-- unibuddy.min.js -->
    <script type="text/javascript" src="../../../medias/Categorised/Dist/js/other/unibuddy.js?v=2.1"></script>


    <script type="text/javascript" src="../../../medias/Categorised/Dist/js/other/infographics.js?v=1.1"></script>




</body>

</html>