<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Half n half | University of Stirling</title>

    <meta property="og:title" content="BAcc (Hons) Accountancy | Find a course | University of Stirling" />
    <meta property="og:image"
        content="https://www.stir.ac.uk/media/stirling/global-assets/landscape/og-airthrey-loch-1200x630.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description"
        content="Study Accountancy at the University of Stirling and discover why our quadruple-accredited course ranks among the best in the UK." />

    <meta name="description"
        content="Study Accountancy at the University of Stirling and discover why our quadruple-accredited course ranks among the best in the UK. " />
    <meta name="Page last modified" content="2020-07-02" />
    <meta name="stir.breadcrumb"
        content="Home > Find a course > Undergraduate > Stirling Management School > BAcc (Hons) Accountancy" />
    <meta name="sid" content="886" />
    <link rel="canonical" href="https://www.stir.ac.uk/courses/ug/stirling-management-school/accountancy/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@StirUni" />
    <meta name="twitter:title" content="BAcc (Hons) Accountancy | Find a course | University of Stirling" />
    <meta name="twitter:description"
        content="Study Accountancy at the University of Stirling and discover why our quadruple-accredited course ranks among the best in the UK." />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#006938" />
    <meta name="theme-color" content="#006938" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="../../../medias/Categorised/Dist/fonts/fonts.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../medias/Categorised/Dist/css/app.min.css?v=202006181347" />

    <meta name="stir.pullquote" content="Denise Kaufmann" />
    <meta name="stir.pullquote" content="Akhil Rawal" />
    <meta name="stir.pullquote" content="Kelly Dawson" />

    <!-- temp CSS -->
    <link rel="stylesheet"
        href="../../../medias/Categorised/Dist/css/campaigns/course-spring-2020.css?v=202005281413" />

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                "gtm.start": new Date().getTime(),
                event: "gtm.js",
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NLVN8V");
    </script>
</head>

<body class="external-pages">
    <nav class="show-for-sr" aria-label="Skip-header-navigation"><a href="#content">Skip header navigation</a></nav>
    <!--
         MOBILE NAV
        -->
    <nav id="mobile-menu" class="c-mobile-menu" aria-label="mobile-navigation">
        <a href="#" id="close_mobile_menu" class="closebtn hide">&times;</a>
        <ul class="sitemenu">
            <li>
                <a href="/">Home</a>
                <ul class="visible">
                    <li>
                        <a href="/study/" data-sectId="study" class="mobMenuBreadcrumb">Study</a>
                    </li>
                    <li>
                        <a href="/international/" data-sectId="international"
                            class="mobMenuBreadcrumb">International</a>
                    </li>
                    <li>
                        <a href="/research/" data-sectId="research" class="mobMenuBreadcrumb">Research</a>
                    </li>
                    <li>
                        <a href="/about/" data-sectId="about" class="mobMenuBreadcrumb">About</a>
                    </li>
                    <li>
                        <a href="/student-life/" data-sectId="student-life" class="mobMenuBreadcrumb">Student life</a>
                    </li>
                    <li>
                        <a href="/courses/" data-sectId="courses" class="mobMenuBreadcrumb">Find a course</a>
                    </li>
                    <li>
                        <a href="/clearing/" data-sectId="clearing" class="mobMenuBreadcrumb">Clearing</a>
                    </li>
                    <li>
                        <a href="/coronavirus/" data-sectId="coronavirus" class="mobMenuBreadcrumb">Coronavirus</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="slidemenu__other-links">
            <li class="slidemenu__other-links-portal"><a href="https://portal.stir.ac.uk/my-portal.jsp"
                    rel="nofollow">My Portal</a></li>
            <li class="slidemenu__other-links-contact"><a href="/about/contact-us/">Contact</a></li>
            <li class="slidemenu__other-links-search"><a href="/search/">Search our site</a></li>
            <li class="slidemenu__other-links-microsite"><a href="http://stirlinguni.cn/" data-microsite="cn">中文网</a>
            </li>
        </ul>
    </nav>

    <!--
         MAIN HEADER
        -->
    <header class="c-header" id="layout-header" aria-label="main-site-header">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-4 medium-4 small-8">
                    <a href="/" title="University of Stirling"><img
                            src="../../../medias/Categorised/Dist/css/images/logos/logo.svg"
                            alt="University of Stirling logo" class="c-site-logo" /></a>
                </div>

                <nav aria-label="primary-navigation" class="cell large-8 medium-8 small-4 flex-container align-right">
                    <div role="menu" class="c-header-nav flex-container flex-dir-column align-bottom align-center">
                        <ul role="menubar"
                            class="c-header-nav c-header-nav--secondary u-font-semibold flex-container align-middle">
                            <li class="c-header-nav__item show-for-medium" role="none">
                                <a href="http://stirlinguni.cn/" role="menuitem" class="c-header-nav__link"
                                    data-microsite="cn">中文网</a>
                            </li>
                            <li class="c-header-nav__item show-for-large" role="none">
                                <a href="https://portal.stir.ac.uk/my-portal.jsp" rel="nofollow" role="menuitem"
                                    class="c-header-nav__link" id="header-portal__button">My Portal</a>
                            </li>
                            <li class="c-header-nav__item" role="none">
                                <a role="menuitem" class="c-header-nav__link" id="header-search__button" href="#">
                                    <span class="show-for-medium">Site search</span>
                                    <span class="c-header-nav__icon uos-magnifying-glass u-font-semibold"></span>
                                </a>
                            </li>
                        </ul>
                        <ul role="menubar" class="c-header-nav c-header-nav--primary u-font-bold show-for-xlarge">
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__study" href="/study/"
                                    role="menuitem">Study</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__international" href="/international/"
                                    role="menuitem">International</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__research" href="/research/"
                                    role="menuitem">Research</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__about" href="/about/"
                                    role="menuitem">About</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__student-life" href="/student-life/"
                                    role="menuitem">Student life</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hide-for-xlarge flex-container align-middle align-center flex-dir-column">
                        <a href="#" id="open_mobile_menu" class="c-header-burger flex-container align-middle">
                            <span class="show-for-sr">Show/hide mobile menu</span>
                            <span class="c-header-burger__bun"></span>
                        </a>
                        <span>Menu</span>
                    </div>
                </nav>
            </div>
        </div>
        <form id="header-search" class="c-header-search" aria-hidden="true" aria-label="Popup for site search field"
            method="get" action="/s/search.html?collection=external" data-js-action="/search/">
            <!--  <input type="hidden" name="collection" value="external">-->
            <!-- <input type="hidden" name="meta_group_not" value="internal"> -->

            <div class="overlay"></div>
            <div class="content">
                <div class="grid-container">
                    <div class="grid-x">
                        <div class="small-12 small-12 cell c-header-search__input-wrapper">
                            <label class="show-for-sr" for="header-search__query">Site search</label>
                            <input type="text" name="query" id="header-search__query" class="c-header-search__query"
                                autocomplete="off" placeholder="Site search" />

                            <button class="button no-arrow" type="submit">
                                <span class="show-for-sr">Submit</span>
                                <span class="uos-magnifying-glass"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="u-bg-grey">
                    <div class="grid-container">
                        <div class="grid-x">
                            <div class="small-12 small-12 cell u-relative">
                                <div id="header-search__wrapper" class="c-header-search__wrapper hide-for-small-only"
                                    aria-hidden="true">
                                    <div id="header-search__results" class="grid-x c-header-search__results">
                                        <div class="cell medium-4 c-header-search__column c-header-search__suggestions">
                                            <h3 class="c-header-search__title header-stripped">Suggestions</h3>
                                        </div>
                                        <div class="cell medium-4 c-header-search__column c-header-search__courses">
                                            <h3 class="c-header-search__title header-stripped">Courses</h3>
                                        </div>
                                        <div class="cell medium-4 c-header-search__column c-header-search__news">
                                            <h3 class="c-header-search__title header-stripped">News</h3>
                                        </div>
                                    </div>
                                    <div id="header-search__loading" class="c-search-loading">
                                        <div class="c-search-loading__spinner"></div>
                                        <span class="show-for-sr">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <nav id="megamenu__container" aria-label="Primary navigation"></nav>
    </header>

    <!-- 
				 BREADCRUMB 
				-->
    <!--beginnoindex-->

    <nav aria-label="breadcrumb" class="breadcrumbs-container u-bg-grey show-for-large">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <ul class="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="/courses/">Find a course</a>
                            <ul>
                                <li><a href="/courses/ug/">Undergraduate</a></li>
                                <li><a href="/courses/pg-taught/">Postgraduate taught</a></li>
                                <li><a href="/courses/cpd/">Continuing Professional Development (CPD)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/courses/ug/">Undergraduate</a>
                            <ul>
                                <li><a href="/courses/ug/arts-humanities/">Arts and Humanities</a></li>
                                <li><a href="/courses/ug/health-sciences/">Health Sciences</a></li>
                                <li><a href="/courses/ug/natural-sciences/">Natural Sciences</a></li>
                                <li><a href="/courses/ug/social-sciences/">Social Sciences</a></li>
                                <li><a href="/courses/ug/sport/">Sport</a></li>
                                <li><a href="/courses/ug/stirling-management-school/">Stirling Management School</a>
                                </li>
                                <li><a href="/courses/ug/university-of-stirling-and-heriot-watt-joint-degrees/">University
                                        of Stirling and Heriot-Watt joint degrees</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/courses/ug/stirling-management-school/">Stirling Management School</a>
                            <ul>
                                <li><span class="currentsection">BAcc (Hons) Accountancy</span></li>
                                <li><a href="/courses/ug/stirling-management-school/accountancy-finance/">BAcc (Hons)
                                        Accountancy and Finance</a></li>
                                <li><a href="/courses/ug/stirling-management-school/business-studies/">BA (Hons)
                                        Business Studies</a></li>
                                <li><a href="/courses/ug/stirling-management-school/economics/">BA (Hons) Economics</a>
                                </li>
                                <li><a href="/courses/ug/stirling-management-school/finance/">BA (Hons) Finance</a></li>
                                <li><a href="/courses/ug/stirling-management-school/human-resource-management/">BA
                                        (Hons) Human Resource Management</a></li>
                                <li><a href="/courses/ug/stirling-management-school/management/">BSc (Hons)
                                        Management</a></li>
                                <li><a href="/courses/ug/stirling-management-school/marketing/">BA (Hons) Marketing</a>
                                </li>
                                <li><a href="/courses/ug/stirling-management-school/professional-accountancy/">BA (Hons)
                                        Professional Accountancy</a></li>
                                <li><a href="/courses/ug/stirling-management-school/retail-marketing/">BA (Hons) Retail
                                        Marketing</a></li>
                                <li><a href="/courses/ug/stirling-management-school/sport-business-management/">BA
                                        (Hons) Sport Business Management</a></li>
                                <li><a href="/courses/ug/stirling-management-school/events-management/">BA (Hons) Events
                                        Management</a></li>
                            </ul>
                        </li>
                        <li><a href="/courses/ug/stirling-management-school/accountancy/">BAcc (Hons) Accountancy</a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!--endnoindex-->

    <!-- 
				 MAIN CONTENT 
		-->

    <main class="wrapper-content" aria-label="main-content">
        <a id="content"></a>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell main-content-header large-10 medium-10 small-12 u-padding-y">
                    <h1 class="c-automatic-page-heading c-page-heading u-heritage-green">Half n half
                    </h1>
                </div>

                <div class="cell u-margin-bottom">

                    <div class="c-wrapper grid-x grid-padding-x u-bg-white u-bleed bg-white u-padding-y"
                        data-ct="wrapper">

                        <!-- Block: Text with image aside -->
                        <div class="cell c-half-n-half u-relative js-animation" data-name="Our people">
                            <div class="c-half-n-half__image u-absolute-large-up u-top-0" data-objectfit="true">
                                <img src="image.JPG" width="760" height="470" alt="Mario Vallejo-Marin"
                                    loading="lazy" />
                            </div>
                            <div
                                class="c-half-n-half__content u-bg-grey u-p-3 u-flex u-relative flex-dir-column align-center">
                                <h2 class="header-stripped u-m-0 u-p-0 u-mb-1 ">Our people</h2>
                                <div class="c-half-n-half__copy">
                                    <p>The core strength of the University of Stirling is our people. To build on our
                                        success, we invest in the best staff from around the world to deliver on our
                                        ambitious strategies for research, teaching and our international partnerships.
                                    </p>
                                </div>
                                <a class="c-link" href="/about/our-people/">Discover more about our people</a>
                            </div>
                        </div>



                        <!-- Block: Text with image aside -->
                        <div class="cell c-half-n-half u-relative js-animation" data-name="Our people">
                            <div class="c-half-n-half__image u-absolute-large-up u-top-0" data-objectfit="true">
                                <img src="image.JPG" width="760" height="470" alt="Mario Vallejo-Marin"
                                    loading="lazy" />
                            </div>
                            <div
                                class="c-half-n-half__content u-bg-grey u-p-3 u-flex u-relative flex-dir-column align-center">
                                <h2 class="header-stripped u-m-0 u-p-0 u-mb-1 ">Our people two</h2>
                                <div class="c-half-n-half__copy">
                                    <p>The core strength of the University of Stirling is our people. To build on our
                                        success, we invest in the best staff from around the world to deliver on our
                                        ambitious strategies for research, teaching and our international partnerships.
                                    </p>
                                </div>
                                <a class="c-link" href="/about/our-people/">Discover more about our people</a>
                            </div>
                        </div>

                        <!-- Block: Text with image aside -->
                        <div class="cell c-half-n-half u-relative js-animation" data-name="Our people">
                            <div class="c-half-n-half__image u-absolute-large-up u-top-0" data-objectfit="true">
                                <img src="image.JPG" width="760" height="470" alt="Mario Vallejo-Marin"
                                    loading="lazy" />
                            </div>
                            <div
                                class="c-half-n-half__content u-bg-grey u-p-3 u-flex u-relative flex-dir-column align-center">
                                <h2 class="header-stripped u-m-0 u-p-0 u-mb-1 ">Our people</h2>
                                <div class="c-half-n-half__copy">
                                    <p>The core strength of the University of Stirling is our people. To build on our
                                        success, we invest in the best staff from around the world to deliver on our
                                        ambitious strategies for research, teaching and our international partnerships.
                                    </p>
                                </div>
                                <a class="c-link" href="/about/our-people/">Discover more about our people</a>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>


    </main>

    <script src="../../../medias/Categorised/Dist/js/app.js"></script>
    <script src="../../../medias/Categorised/Dist/js/other/unibuddy.js?v=201912101340"></script>


</body>

</html>