.u-clip {
  overflow: hidden;
}

/* Scroll To Top Button */

.c-scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  background-color: rgba($heritage-green, 0.9);
  color: $white;
  font-size: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

.c-scroll-to-top__visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out;
}

/* New Footer Jan 2025 rk8 */

#site-footer {
  color: #f5f3f3;

  *:focus {
    outline: 1px solid #fff !important;
  }

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  .u-grid-5-cols > div {
    margin-bottom: 32px;
  }

  .site-footer__map {
    color: $white;

    a {
      display: block;
    }
    img {
      max-height: 12em;
    }
  }

  .site-footer_follow {
    a {
      &:hover {
        text-decoration: none;
      }

      &[href*="facebook"]:hover {
        color: #3b5998;
      }

      &[href*="instagram"]:hover {
        color: #125688;
      }

      &[href*="twitter"]:hover {
        color: #1da1f2;
      }

      &[href*="youtube"]:hover {
        color: #ff0000;
      }

      &[href*="linkedin"]:hover {
        color: #007bb5;
      }

      &[href*="tiktok"]:hover {
        color: rgb(255, 59, 92);
      }
    }
  }
}

@media screen and (max-width: 639px) {
  #site-footer #imgBeTheDiff {
    margin: 48px 0;
  }
}

@media screen and (min-width: 640px) {
  .u-grid-5-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .u-grid-5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
}
