/*
 * INTERNAL HOMEPAGE STYLES
 *

.header--internal {
    background-color: #f6f5f4;
}

.header--internal a,
.header--internal .uos-magnifying-glass {
    color: #8a8a8a;
    font-size: 22px;
    font-weight: 700;
}

.header--internal .search-button {
    margin: 0 25px 0 10px;
}

// .header--internal .uos-magnifying-glass {
//     font-size: 25px;
// }
@media screen and #{breakpoint(xlarge down)} {
    .header--internal .search-button {
        margin: 0 20px 0 0;
    }
}
*/

/*
 * INTERNAL HEADER MENU
 * SHORTCUTS TO EXTERNAL AREAS DROPDOWN NAV 
 *
.header--internal-menu {
    background-color: #f6f5f4;
    display: none;
    position: absolute;
    width: 100%;

    ul {
        border-top: 3px solid #D4D2CC;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    a {
        color: #757774;
        display: inline-block;
        margin: 0 0 30px 0;
    }

    .hidden-links li {
        display: inline-block;
        margin: 0 20px 20px 0;

        &:last-child {
            margin: 0 0 20px 0;
        }
    }
}

@media screen and (max-width: 639px) {
    .header--internal-menu a {
        color: $black;
        font-size: 18px;
        margin: 0 0 10px 0;
    }

    .internal-pages .header--internal-menu .internal-index-columns {
        column-count: 2;
    }
}
*/

/*
 * INTERNAL BREADCRUMBS
 */

// .internal-pages .breadcrumbs span.uos-location,
// .internal-pages .breadcrumbs,
// .internal-pages .breadcrumbs nav a,
// .internal-pages .breadcrumbs > li a,
// .internal-pages .breadcrumbs > li,
// .internal-pages .breadcrumbs > li:not(:last-child)::after {
//     //color: #95989A;
//     color: $white;
//     padding: 14px 0;
// }
// .internal-pages .breadcrumbs__current--is-closed::after {
//     color: $white;
// }
// .internal-breadcrumb-wrapper .breadcrumbs > li:last-child > a + ul.breadcrumbs__current-submenu {
//     background-color: $heritage-green;
//     top: 47px;
// }
// .internal-pages .breadcrumbs a.active {
//     font-weight: 700;
// }
//
// @media screen and (max-width: 639px) {
//     .internal-pages .breadcrumbs,
//     .internal-pages .breadcrumbs nav a {
//         font-size: 16px;
//     }
//     .internal-pages .breadcrumbs a.active {
//         color: $heritage-green;
//     }
// }


/***
BURGER MENU STYLES
Styles the burger menus.
IS THIS IN USE??
**
.burger {
    width: 28px;
    height: 25px;
    position: relative;
    cursor: pointer;

    //margin: 0.7rem 0 0.7em 1rem;

    span {
        transition: width 0.1s ease-in-out 0.3s;
        width: 100%;
        height: 5px;
        background-color: $heritage-green;

        &:before,
        &:after {
            width: 100%;
            height: 5px;
            background-color: $heritage-green;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
        }

        &:before {
            top: 0;
            transform: rotate(0);
            transition: top 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out;
        }

        &:after {
            bottom: 0;
            transform: rotate(0);
            transition: bottom 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out;
        }
    }

    &.nav-is-open span {
        width: 0;
        transition: width 0.1s ease-in-out 0.3s;

        &:before {
            top: 11px;
            transform: rotate(45deg);
            transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
        }

        &:after {
            bottom: 9px;
            transform: rotate(-45deg);
            transition: bottom 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
        }
    }
} */
