<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dialog component | University of Stirling</title>

    <meta property="og:site_name" content="University of Stirling" />
    <meta property="og:url" content="https://www.stir.ac.ukhttps://t4cms.stir.ac.uk/terminalfour/preview/1/en/13033" />
    <meta property="og:title" content="Webinars | About | University of Stirling" />
    <meta property="og:image"
        content="https://www.stir.ac.uk/media/stirling/global-assets/landscape/og-airthrey-loch-1200x630.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description"
        content="Thinking about studying at the University of Stirling? Join one of our webinars to find out more about our exciting courses." />

    <meta name="description"
        content="Thinking about studying at the University of Stirling? Join one of our webinars to find out more about our exciting courses." />
    <meta name="Page last modified" content="2022-05-24" />
    <link rel="canonical" href="https://www.stir.ac.ukhttps://t4cms.stir.ac.uk/terminalfour/preview/1/en/13033" />
    <meta name="stir.breadcrumb" content="Home > About > Events > Webinars" />
    <meta name="sid" content="13033" />
    <meta name="chid" content="1" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@StirUni" />
    <meta name="twitter:title" content="Webinars | About | University of Stirling" />
    <meta name="twitter:description"
        content="Thinking about studying at the University of Stirling? Join one of our webinars to find out more about our exciting courses." />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#006938" />
    <meta name="theme-color" content="#006938" />

    <!-- link rel="preload" href="../../../medias/Categorised/Dist/fonts/fsmaja/FSMajaWeb-Bold.woff" as="font" type="font/woff" crossorigin />
	<link rel="preload" href="../../../medias/Categorised/Dist/fonts/fsmaja/FSMajaWeb-Italic.woff" as="font" type="font/woff" crossorigin />
	<link rel="preload" href="../../../medias/Categorised/Dist/fonts/fsmaja/FSMajaWeb-BoldItalic.woff" as="font" type="font/woff" crossorigin -->

    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/fsmaja/FSMajaWeb-Regular.woff" as="font"
        type="font/woff" crossorigin />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap"
        rel="stylesheet" />

    <link rel="preload" href="../../../medias/Categorised/Dist/fonts/fonts.css" as="style" />
    <link rel="stylesheet" href="../../../medias/Categorised/Dist/fonts/fonts.css" type="text/css" />

    <link rel="preload" href="../../../medias/Categorised/Dist/css/app.min.css?v=20220524" as="style" />
    <link rel="stylesheet" href="../../../medias/Categorised/Dist/css/app.min.css?v=20220524" type="text/css" />

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NLVN8V");
    </script>
</head>

<body class="external-pages">
    <script id="__bs_script__">
        //<![CDATA[
        document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.26.12'><\/script>".replace("HOST", location.hostname));
      //]]>
    </script>

    <!--beginnoindex-->
    <nav class="skip-nav-btn" aria-label="Skip to content navigation"><a href="#content">skip to main content</a></nav>

    <!--
         MOBILE NAV
        -->
    <nav id="mobile-menu" class="c-mobile-menu" aria-label="Mobile navigation">
        <a href="#" id="close_mobile_menu" class="closebtn hide">&times;</a>
        <span class="mobMenuLoading hide">Loading...</span>
        <ul class="sitemenu">
            <li>
                <a href="/">Home</a>
                <ul class="visible">
                    <li>
                        <a href="/study/" data-sectId="study" class="mobMenuBreadcrumb">Study</a>
                    </li>
                    <li>
                        <a href="/international/" data-sectId="international"
                            class="mobMenuBreadcrumb">International</a>
                    </li>
                    <li>
                        <a href="/research/" data-sectId="research" class="mobMenuBreadcrumb">Research</a>
                    </li>
                    <li>
                        <a href="/about/" data-sectId="about" class="mobMenuBreadcrumb">About</a>
                    </li>
                    <li>
                        <a href="/student-life/" data-sectId="student-life" class="mobMenuBreadcrumb">Student life</a>
                    </li>
                    <li>
                        <a href="/courses/" data-sectId="courses" class="mobMenuBreadcrumb">Find a course</a>
                    </li>
                    <li>
                        <a href="/clearing/" data-sectId="clearing" class="mobMenuBreadcrumb">Clearing</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="slidemenu__other-links">
            <li class="slidemenu__other-links-portal"><a href="https://portal.stir.ac.uk/my-portal.jsp"
                    rel="nofollow">My Portal</a></li>
            <li class="slidemenu__other-links-contact"><a href="/about/contact-us/">Contact</a></li>
            <li class="slidemenu__other-links-search"><a href="/search/">Search our site</a></li>
            <li class="slidemenu__other-links-microsite"><a href="https://stirlinguni.cn/" data-microsite="cn">中文网</a>
            </li>
        </ul>
    </nav>

    <!--
         MAIN HEADER
        -->
    <header class="c-header" id="layout-header" aria-label="Main header">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-4 medium-4 small-8">
                    <a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/260" title="University of Stirling"><img
                            src="../../../medias/Categorised/Dist/css/images/logos/logo.svg"
                            alt="University of Stirling logo" class="c-site-logo" /></a>
                </div>

                <nav aria-label="primary" class="cell large-8 medium-8 small-4 flex-container align-right">
                    <div class="c-header-nav flex-container flex-dir-column align-bottom align-center">
                        <ul class="c-header-nav c-header-nav--secondary u-font-semibold flex-container align-middle">
                            <li class="c-header-nav__item show-for-medium">
                                <a href="https://stirlinguni.cn/" class="c-header-nav__link" data-microsite="cn">中文网</a>
                            </li>
                            <li class="c-header-nav__item show-for-large">
                                <a href="https://portal.stir.ac.uk/my-portal.jsp" rel="nofollow"
                                    class="c-header-nav__link" id="header-portal__button">My Portal</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" id="header-search__button"
                                    href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/2652">
                                    <span class="show-for-medium">Site search</span>
                                    <span class="c-header-nav__icon uos-magnifying-glass u-font-semibold"></span>
                                </a>
                            </li>
                        </ul>
                        <ul class="c-header-nav c-header-nav--primary u-font-bold show-for-xlarge">
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__study" aria-controls="mm__study"
                                    href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/265">Study</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__international"
                                    aria-controls="mm__international"
                                    href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/6820">International</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__research" aria-controls="mm__research"
                                    href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/264">Research</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__about" aria-controls="mm__about"
                                    href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/262">About</a>
                            </li>
                            <li class="c-header-nav__item">
                                <a class="c-header-nav__link" data-menu-id="mm__student-life"
                                    aria-controls="mm__student-life"
                                    href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/263">Student life</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hide-for-xlarge flex-container align-middle align-center flex-dir-column">
                        <a href="#" id="open_mobile_menu" class="c-header-burger flex-container align-middle">
                            <span class="show-for-sr">Show/hide mobile menu</span>
                            <span class="c-header-burger__bun"></span>
                        </a>
                        <span>Menu</span>
                    </div>
                </nav>
            </div>
        </div>
        <form id="header-search" class="c-header-search" aria-hidden="true" aria-label="Popup for site search field"
            method="get" action="https://search.stir.ac.uk/s/search.html?collection=stir-main"
            data-js-action="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/2652">
            <!--  <input type="hidden" name="collection" value="external">-->
            <!-- <input type="hidden" name="meta_group_not" value="internal"> -->

            <div class="overlay"></div>
            <div class="content">
                <div class="grid-container">
                    <div class="grid-x">
                        <div class="small-12 small-12 cell c-header-search__input-wrapper">
                            <label class="show-for-sr" for="header-search__query">Site search</label>
                            <input type="search" name="query" id="header-search__query" class="c-header-search__query"
                                autocomplete="off" placeholder="Site search" tabindex="-1" />

                            <button class="button no-arrow" type="submit" aria-label="submit" tabindex="-1">
                                <span class="uos-magnifying-glass"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="u-bg-grey">
                    <div class="grid-container">
                        <div class="grid-x">
                            <div class="small-12 small-12 cell u-relative">
                                <div id="header-search__wrapper" class="c-header-search__wrapper hide-for-small-only"
                                    aria-hidden="true">
                                    <div id="header-search__results" class="grid-x c-header-search__results">
                                        <div class="cell medium-4 c-header-search__column c-header-search__suggestions">
                                        </div>

                                        <div class="cell medium-4 c-header-search__column c-header-search__news"></div>

                                        <div class="cell medium-4 c-header-search__column c-header-search__courses">
                                        </div>
                                    </div>
                                    <div id="header-search__loading" class="c-search-loading">
                                        <div class="c-search-loading__spinner"></div>
                                        <span class="show-for-sr">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <nav id="megamenu__container" aria-label="primary navigation submenu"></nav>
    </header>

    <!-- 
				 BREADCRUMB 
				-->

    <nav aria-label="breadcrumb" class="breadcrumbs-container u-bg-grey show-for-large">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <ul class="breadcrumbs">
                        <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/260">Home</a></li>
                        <li>
                            <a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/262">About</a>
                            <ul>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/377">Our reputation</a>
                                </li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/2486">Our vision</a>
                                </li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/16624">Scotland's
                                        International Environment Centre</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/388">Our history</a>
                                </li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/391">Our people</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/460">Faculties</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/266">Business
                                        services</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/18777">Professional
                                        services</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/440">Jobs at
                                        Stirling</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/16612">City Region
                                        Deal</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/3933">Art Collection</a>
                                </li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/576">Contact us</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/397">Getting here</a>
                                </li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/9516">Publications</a>
                                </li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/1092">News</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/297">Events</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/27997">University of
                                        Stirling and COP26</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/29208">Psychology
                                        Kindergarten</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/297">Events</a>
                            <ul>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/740">Calendar of
                                        events</a></li>
                                <li><span class="currentsection">Webinars</span></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/787">Graduation</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/1402">Recordings of past
                                        events</a></li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/789">Submit an event</a>
                                </li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/788">Contact Events</a>
                                </li>
                                <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/5916">Dumyat Hill
                                        Race</a></li>
                            </ul>
                        </li>
                        <li><a href="https://t4cms.stir.ac.uk/terminalfour/preview/1/en/13033">Webinars</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!--endnoindex-->

    <!-- 
				 MAIN CONTENT 
		-->
    <main class="wrapper-content" aria-label="Main content" id="content">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <!-- 

                <div class="cell main-content-header large-10 medium-10 small-12 u-padding-y"> 
                    <h1 class="c-automatic-page-heading c-page-heading u-heritage-green">Webinars</h1>     		
                </div>
                -->
                <!-- Alternative Page Heading -->
            </div>
        </div>

        <style>

        </style>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <!-- Text with Heading -->
                <div class="cell small-12 u-padding-y medium-10 large-10" id="d.en.38660">
                    <h2>Html Dialogs with foundation reveal fallback</h2>

                    <ol>
                        <li>Add a dialog element to the page with a data-dialog="myId" attribute.
                        </li>

                        <li>Add a button with attribute data-opendialog="myId".
                        </li>
                    </ol>
                    <p>Content can also be chnaged on the fly with setContent() function. See footer JS (dialog 2).</p>

                    <p>&nbsp;</p>



                    <dialog data-dialog="dialog1">
                        <h3>One</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sunt incidunt,
                            temporibus soluta, ut modi placeat doloribus eveniet repellat ullam sit nemo laboriosam
                            beatae eos molestiae laudantium cupiditate explicabo autem?</p>
                        <p class="u-mb-sm"><a href="https://www.stir.ac.uk">A link</a></p>

                        <button data-closedialog class="close-button">&times;</button>
                    </dialog>

                    <dialog data-dialog="dialog2">
                        <h3>Two</h3>
                        <p>This one is being changed on the fly. Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Repellendus sunt incidunt,
                            temporibus soluta, ut modi placeat doloribus eveniet repellat ullam sit nemo laboriosam
                            beatae eos molestiae laudantium cupiditate explicabo autem?</p>
                        <p class="u-mb-sm"><a href="https://www.stir.ac.uk">A link</a></p>

                        <button data-closedialog class="close-button">&times;</button>
                    </dialog>

                    <div id="dialogBtns">
                        <button class="button u-mt-sm" data-opendialog="dialog1">Open a native dialog 1</button>
                        <button class="button u-mt-sm" data-opendialog="dialog2">Open a native dialog 2</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../../../medias/Categorised/Dist/js/app.js"></script>
    <script src="../../../medias/Categorised/Dist/js/other/unibuddy.js?v=201912101340"></script>

    <script>
        // Update content of existing dialog on the fly
        const dialog = stir.t4Globals.dialogs.filter((item) => item.getId() === "dialog2");

        dialog.length && dialog[0].setContent("<p>Dynamically updating data!</p>");

        // Create a new dialog on the fly
        const myDialog = stir.Dialog();
        myDialog.setId('flyID');

        myDialog.setContent('Hello from JS');
        stir.t4Globals.dialogs.push(myDialog);

        //const main = document.querySelector("main");
        const btnArea = document.querySelector("#dialogBtns");
        btnArea && btnArea.insertAdjacentElement("beforeend", myDialog.getDialog());
        btnArea && btnArea.insertAdjacentElement("beforeend", myDialog.renderOpenBtn('Open dialog built in JS'));

        myDialog.listen();


    </script>
</body>

</html>