.c-partners__copy {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 0 0 50px;
    width: 100%;
}
.c-partners-stat {
    padding: 145px 0 95px;
    margin: 159px 0 0;
}

.c-partners__group1,
.c-partners__group2,
.c-partners__group3,
.c-partners__group4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: top 0.3s cubic-bezier(.05, .69, .14, 1);
}
.c-partners-stat.animate .c-partners__group1 {
    top: -127px;
    z-index: 1;
}
.c-partners-stat.animate .c-partners__group2,
.c-partners-stat.animate .c-partners__group3 {
    top: -110px;
    transition-delay: 0.3s;
}
.c-partners__group2 {
    left: -300px;
}
.c-partners__group3 {
    right: -300px;
}
.c-partners-stat.animate .c-partners__group4 {
    top: -150px;
    transition-delay: 0.6s;
}