$c-course-search-widget__button-min-width: 219px;

/* 
    Course Search Widget Form 
*/

/*
      Mobile first
*/
.c-course-search-widget__form {
  margin: 0;

  .c-course-search-widget__search-input {
    border: none;
    border-bottom: 5px solid #cdcdcd;
    box-shadow: none;
    font-size: 1.3125rem;
    height: 100%;
    max-width: 880px;
    margin: 0;
    background-color: #fff;
    background-image: url('<t4 type="media" id="163605" formatter="path/*"/>');
    background-repeat: no-repeat;
    background-position: 5px 17px;
    background-size: 20px;
    padding: 7px 0 7px 35px;
    transition: border-bottom 0.3s ease-in-out;

    &[type="search"]:focus {
      border: none;
      border-bottom: 5px solid $energy-green;
      background-color: #fff;
    }

    &::placeholder {
      color: $heritage-green;
      font-family: "FSMaja", serif;
      font-weight: 300;
      font-size: 1.3125rem;
      transition: color 0.3s ease-in-out;
    }

    &[type="search"]:focus::placeholder {
      color: #cdcdcd;
    }
  }
}
/* 
    Medium Up 
*/
@media screen and #{breakpoint(medium up)} {
  .c-course-search-widget__form {
    .c-course-search-widget__search-input {
      margin: 0 45px 0 0;
      font-size: 1.688rem; //27px;
      padding: 12px 0 12px 45px;
      background-size: 27px;
      background-position-y: 22px;
    }
    .c-course-search-widget__search-input::placeholder {
      font-size: 1.688rem;
    }
  }
}

/* 
    Large Up 
*/
@media screen and #{breakpoint(large up)} {
  .c-course-search-widget__form {
    .c-course-search-widget__search-input {
      margin: 0 45px 0 0;
      font-size: 1.813rem;
      padding: 13px 0 13px 45px;
      background-position-y: 27px;
    }

    .c-course-search-widget__search-input::placeholder {
      font-size: 1.813rem;
    }
  }
}

/* 
    Dark mode Version 
    ie Dark green version
*/

.c-course-search-widget__form.darkmode {
  .c-link {
    color: #fff;

    &:before {
      background-color: white;
    }
  }

  .c-course-search-widget__search-input {
    background-position: 12px 15px;
    border-bottom: 5px solid #76bd22;
    padding-left: 40px;
  }

  .c-course-search-widget__search-input::placeholder {
    color: rgba(0, 105, 56, 0.7);
  }

  /* 
    Medium up 
  */
  @media screen and #{breakpoint(medium up)} {
    .c-course-search-widget__search-input {
      padding-left: 50px;
      background-position-y: 22px;
    }
  }

  /* 
    Large up 
  */
  @media screen and #{breakpoint(large up)} {
    .c-course-search-widget__search-input {
      padding-left: 60px;
      background-position-y: 27px;
    }
  }
}
