/*
    SEARCH NAV TAB BUTTONS
 */

.slide-tabs-2 {
  background: rgba(245, 245, 245, 1);

  .carousel > button {
    height: 100px;
  }

  .carousel-slides {
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    button {
      width: 100px;
    }
  }
}

/*
      SEARCH RESULTS
  */

.c-search-results-area {
  /*  
    Results summary  eg Showing 1-10 of 3969 results
  */
  .c-search-results-summary,
  .c-search-result__body {
    p {
      margin: 0;
    }
    .c-tag {
      padding: 0.3rem;
      border: 1px solid #ccc;
      cursor: pointer;
      &:hover {
        border-color: heritage-green-a11y;
      }
    }
  }

  /*
       Default result box styles
  */
  .c-search-result {
    background-color: #fff;
    padding: 1.5rem;
    position: relative;
    margin: 0 0 3rem 0;

    // a {
    //   border-bottom: 1px solid $heritage-green;
    //   &:hover {
    //     border-bottom: 1px solid tint($energy-green, 70%);
    //   }
    // }

    li,
    p:not(.u-text-regular) {
      font-size: 1rem;
    }

    &[data-result-type="news"] {
      .c-search-result__image {
        img {
          aspect-ratio: 4/3;
          object-fit: cover;
          /* make images square */
        }
      }
    }
    &[data-result-type="person"] {
      .c-search-result__image {
        img {
          aspect-ratio: 1;
          object-fit: cover;
          /* make images square */
        }
      }
    }
    &[data-result-group=research] {
      /* Research Hub lacks proper breadcrumb meta data
       * and the default data is all lowercase. We can
       * safely 'Sentence case-ify' it with CSS.
       * (That is not so true for general pages) .
      */
      .c-search-result__trail {
        a {
          display: inline-block; /* needed for ::first-letter */
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }

    /*
        POP UP result
    */
    &.c-popout-result {
      border-left: 0px !important;
      padding: 0;
      background-color: #fff;

      a {
        display: flex;
        gap: 0.7rem;
        margin: 0 0 0 0;
        padding: 30px;
        background-color: #fff;
        border-left: 5px solid $heritage-green;
        color: $heritage-green;
        position: relative;

        > div {
          > p:first-of-type {
            font-size: 2rem;
            border-bottom: 1px solid $heritage-green;
            margin-bottom: 0.5rem;
            display: inline-block;
          }

          [class^="uos-"],
          [class*=" uos-"]::before {
            font-size: 3rem;
            top: 7px;
            position: relative;
          }

          .uos-chevron-right::before {
            font-size: 3rem;
          }
        }

        > div:nth-of-type(2) {
          flex-grow: 1;
        }
        > div:nth-of-type(3) {
          align-self: center;
        }
      }
      &.u-heritage-berry {
        a {
          border-color: $heritage-berry;
          color: $heritage-berry;
          > div {
            > p:first-of-type {
              border-color: $heritage-berry;
            }
          }
        }
      }
      &.u-web-turq {
        a {
          border-color: $web-turq;
          color: $web-turq;
          > div {
            > p:first-of-type {
              border-color: $web-turq;
            }
          }
        }
      }
    }
    /* End POP UP result */

    .c-search-result__tags {
      position: absolute;
      top: -15px;
    }
    
    .c-search-result__trail {
      a {
        border: 0;
        font-size: .875rem; /* 14px */
        color: $black;
        text-decoration-thickness: 1px;
        
        &:hover {
          color: $heritage-green;
        }
        
      }
      + .c-search-taggroup {
        margin-top: 2rem;
      }
    }
  }

  .c-search-result-curated {
    position: relative;
    margin: 0 0 3rem 0;

    .c-search-result a {
      border-bottom: none; // Fix
    }
  }

  /* 
      Aside content panel eg recommended panel
  */
  aside.c-search-results-asides {
    p:not(.u-text-regular) {
      font-size: 1rem;
    }
  }

  /*  
    Aside Filters content panel 
  */
  aside.search-filters-area,
  aside.c-search-results-filters {
    > div:first-of-type {
      margin-bottom: 40px;
    }

    .c-search-filters-header {
      margin-bottom: 0;
      font-size: 1.2rem;
      background-color: #fff;
      padding: 1rem;

      button {
        cursor: pointer;
        border: 1px solid $energy-green;
      }

      span {
        margin-right: 10px;
        color: $heritage-green;
      }
    }
    fieldset.c-search-filters-subgroup {
      label:not(:last-child) input {
        margin-bottom: 0;
      }
    }
    .stir-accordion {
      border-bottom: 3px solid #f6f5f4;
      background-color: #fff;
      padding: 0 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      ul li {
        margin: 0 0 1em 0;

        label {
          display: flex;
          align-content: flex-start;
          align-items: flex-start;
          line-height: 1.5;
          margin-bottom: 0.75rem;

          input {
            margin-top: 5px;
            margin-bottom: 0;
          }
        }
      }

      > accordion-summary {
        margin-top: 0;

        button {
          font-size: 1rem;
        }
      }

      ul {
        padding-left: 0;
        margin-left: 0;

        li {
          list-style: none;
          margin-bottom: 0;

          input {
            margin-right: 10px;
          }
        }
      }
    }
    form[data-filters] {
		[data-facet] [role="region"] ul:empty::after {
			content: "No filter options available";
			font-size: 1rem;
		}
		label > span:last-of-type {
			/* number-of-results label for facets: */
			margin-left: auto;
			background: #14315e;
			color: white;
			text-align: center;
			padding: 0.5rem;
			font-size: 0.5rem;
			border-radius: 50%;
			min-width: 1.5rem;
			height: 1.5rem;
			line-height: 0.5rem;
			font-weight: bold;
		}
	}
  }

  span.c-search-tag {
    background-color: #e6eeea;
    display: inline-block;
    padding: 0.3rem 0.7rem;
  }

  .c-search-tag {
    font-size: 0.75rem; /*12px*/
    margin: 2px 4px 2px 0;
  }

  /*
        RESULTS - generic or tab-agnostic stuff
  */
  .c-search-result[data-result-type="course"] {
    .stir-accordion {
      border-top: 1px solid #ede9e9;

      button {
        color: heritage-green-a11y;
        padding-top: 10px;

        &::before {
          background-color: #fff; //heritage-green-a11y;
          color: heritage-green-a11y; //#fff;
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          right: 0;
        }
      }

      ul {
        //column-count: 2;
        li {
          break-inside: avoid-column;
        }
      }

      > p {
        margin-top: 0;
        button.stir-accordion--btn {
          font-size: 1.125rem;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* 
       All results tab
  */
  .c-search-results-all {
    .c-search-result::before {
      font-family: "uos" !important;
      font-size: 1.375rem;
      position: absolute;
      left: -30px;
      color: #fff;
      background-color: $heritage-green;
      top: 0;
      padding: 0.2rem 0;
      text-align: center;
      width: 30px; /* should match Foundation's grid-container gutter width */
    }

    .c-course-search-result > div {
      display: grid;
      gap: 20px 30px;
    }
    
    [data-as-type="PINNED"]::before {
      content: "\e964"
    }

    .c-course-search-result::before,
    [data-result-type="course"]::before {
      content: "\e9a1";
    }

    .c-news-search-result::before,
    [data-result-type="news"]::before {
      content: "\e9a3";
    }

    .c-internal-search-result::before {
      content: "\e95d";
    }

    .c-internal-locked-search-result::before {
      content: "\e95c";
    }

    .c-event-search-result::before,
    [data-result-type="event"]::before {
      content: "\e9a2";
    }

    .c-research-search-result::before,
    [data-result-type*="output"]::before {
      content: "\e9a4";
    }

    [data-result-type="scholarship"]::before {
      content: "\e947";
    }

    [data-result-type*="person"]::before {
      content: "\e9a5";
    }

    [data-result-type="studentstory"]::before {
      content: "\e991";
    }

    [data-result-type="document"]::before {
      content: "\e92a";
    }

    [data-result-type="blog"]::before {
      content: "\e908";
    }
  }

  /* 
      Courses panel results
  */
  .c-search-result[data-delivery="online"] {
    &::after {
      /* content: "\e998"; */ /* videochat */
      content: "\e907"; /* laptop */
      font-family: uos;
      position: absolute;
      top: 1.3rem;
      right: 2.4rem;
      font-size: 2.4rem;
      color: heritage-green-a11y;
    }
  }

  .c-search-results-courses {
    .c-search-ordered-filters button {
      background-color: #e6eeea;
    }
  }

  /* 
      Staff, Events, News panel results
  */
  .c-search-result {
    &[data-result-type="news"],
    &[data-result-type="event"],
    &[data-result-pin],
    &[data-result-type="studentstory"],
    &[data-result-type="person"] {
      > div {
        > div.c-icon-image {
          //background: rgb(230, 230, 230);
          /* background: linear-gradient(342deg, rgba(230, 230, 230, 1) 46%, rgba(238, 238, 238, 1) 46%); */
          //background: repeating-radial-gradient(circle at 0 0, #eee, #e6e6e6 50px);
          //height: 100%;
          display: flex;
          justify-content: center;
          //align-items: center;
          font-size: 6rem;
          //text-shadow: -3px -3px #c1c1c1, -6px -6px #f1f1f1;
          color: #838383;
        }
      }
    }
  }
}

.c-search-results__loadmore button[disabled] {
  display: none;
}

/* Visual indicator for Clearing courses */
.c-search-result__seasonal {
  color: $energy-purple;
}

/* Fix title case on delivery and study mode only */
fieldset[data-facet*="mode"] span::first-letter {
  text-transform: capitalize;
}

/*
  Medium up
*/
@media screen and #{breakpoint(medium up)} {
  .c-search-results-area {
    .c-search-result {
      padding: 2.25rem;

      .c-search-result__meta > div {
        border-left: 1px solid #ede9e9;
        padding: 0 15px;

        &:first-of-type {
          border-left: 0;
          padding-left: 0;
        }
      }
    }

    .c-search-results-all {
      .c-search-result::before {
        font-family: "uos" !important;
        font-size: 1.5rem;
        position: absolute;
        left: -45px;
        color: #fff;
        background-color: $heritage-green;
        top: 0;
        padding: 0.6rem;
        width: auto;
      }
    }
  }
}

/*
    LARGE UP
 */
@media screen and #{breakpoint(large up)} {
  /* 
        Staff, Events, News panel results
  */
  .c-search-results-area {
    .c-search-results-panel {
      display: grid;
      gap: 0 30px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "A A A A A A" "B B B B C C" "B B B B D D" "B B B B . .";

      > div {
        &:nth-of-type(1) {
          grid-area: A;
        }

        &:nth-of-type(2) {
          grid-area: B;
        }
      }

      > aside {
        &:nth-of-type(1) {
          grid-area: C;
        }

        &:nth-of-type(2) {
          grid-area: D;
        }
      }
    }

    .c-search-result {
      &[data-result-type="news"],
      &[data-result-type="event"],
      &[data-result-type="person"] {
        display: grid;
        gap: 20px 30px;
        grid-template-columns: 1fr 1fr 1fr;

        .c-search-result__tags {
          grid-column-start: 1;
          grid-column-end: 4;
        }
        .c-search-result__body {
          grid-row: 1;
          grid-column-start: 1;
          grid-column-end: -1;
        }
        &.c-search-result__with-thumbnail .c-search-result__body {
          grid-column-end: 3;
        }
        .c-search-result__image {
          grid-row: 1;
          grid-column: 3/4;
        }
        .c-search-result__footer {
          grid-row: 2;
          grid-column: 1 / 4;
        }
      }
      &[data-result-type="person"] {
        .c-search-result__image {
          justify-self: end; /* people images are smaller so need right justification */
        }
      }

      &[data-result-type="studentstory"] {
        display: grid;
        gap: 20px 30px;
        grid-template: "a a a" "b b c";

        > div:nth-child(1) {
          grid-area: a;
        }
        > div:nth-child(2) {
          grid-area: b;
        }
        > div:nth-child(3) {
          grid-area: c;
        }
      }
    }
    .c-search-results-events {
      .c-search-result {
        .c-search-result__body {
          grid-column-end: 4;
        }
      }
    }
  }
}

/*
   Large Down
 */

@media screen and #{breakpoint(large down)} {
  .c-search-results-area {
    aside.c-search-results-filters {
      margin-bottom: 40px;

      .c-search-filters-header button {
        border: none;
        width: 100%;
        text-align: left;
        position: relative;

        &::before {
          content: "+";
          position: absolute;
          right: 15px;
        }

        &[aria-expanded="true"]::before {
          content: "-";
        }
      }
    }

    .c-search-result.c-popout-result a > div {
      > p:first-of-type {
        font-size: 1.4rem;
      }

      [class^="uos-"],
      [class*=" uos-"]::before {
        font-size: 2rem;
      }
    }
  }
}

/*
   Small only
 */

@media screen and #{breakpoint(small down)} {
  .c-search-results-area {
    .c-search-result[data-delivery="online"] {
      &::after {
        top: -0.4rem;
        right: 0.4rem;
      }
    }
  }

  .c-search-result[data-result-type="course"] {
    .stir-accordion {
      column-count: 1;
    }
  }
}

/* debug */

pre.debug {
  white-space: pre-wrap;
  position: relative;
  padding: 1rem;
  background: #eee;
  border: 2px dashed #ccc;

  &::before {
    content: "Debug data: " attr(data-label);
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 10px;
  }
}

.c-search-results details.debug {
  margin-bottom: 3rem;
}
