/***
International Section - This styles the India Carousel Promos
***

.c-international-section {
    margin-top: 130px;
    overflow: hidden;
}
.c-international__text-container {
    // background-color: #FFFFFF;
    color: #3B693D;
    // position: relative;
    padding: 50px 60px;
    min-width: 475px;
    max-width: 475px;
    // margin: 140px 15px 0;
}
.c-international__text {
    font-size: 1.125rem; // 18px;
}
.c-international__icon {
    max-height: 80px;
}
.c-international__background-overlay {
    min-height: 700px;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: -1;
}
.c-international__header {
    font-size: 3.4375rem; // 55px;
    line-height: 1;
}
.c-international__link {
    margin-top: 40px;
}
.c-bleed-feature__flag{
    display: inline-block !important;
}
@media screen and (max-width: 639px) {
    .c-international-section {
        margin-top: 60px;
    }
    .c-international__text-container {
        min-width: initial;
        max-width: initial;
    }
    .c-international__background-overlay {
        min-height: inherit;
        height: 100%;
        top: 0;
    }
    .c-international__header {
        font-size: 2.8125rem; // 45px;
    }
    .c-international__text {
        font-size: 0.9375rem; // 15px;
    }
    .c-international__link {
        margin-top: 20px;
    }
}
*/
