/*

  NEW !!!! 
  Part of the utils based News and Event promo

*/

@media screen and (max-width: 1023px) {
  .c-news-event .large-8 .large-6:nth-child(2) {
    display: none;
  }

  .c-news-event__news article:nth-child(3) {
    display: none;
  }
}

/*

    OLD!!!
    Homepage News and Events


.c-homepage-news-events img {
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .c-homepage-news-events .c-news-events__news .c-news-events__article:last-child {
    display: none;
  }
}
*/

/*
    News and Events

.c-news-events {
    margin: 130px 0;
}
.c-news-events img {
    width: 100%;
}

.c-news-events__header {
  display: inline-block;
  margin: 0 20px 31px 0;
}

.c-news-events-header > .link {
  display: inline-block;
}

.c-news-events__title {
  font-size: 1.25rem; //  20px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
}

.c-news-events__title:after {
  background-color: transparent;
  position: relative;
}

.c-news-events__summary {
  font-size: 1rem; // 16px;
}

.c-news-events__article-meta,
.c-news-events__news .c-news-events__time,
.c-news-events__title {
  display: block;
  margin: 16px 0;
}

.c-news-events__time,
.c-news-events__event-location {
  color: #5b564e;
}

@media screen and (max-width: 1023px) {
  // .c-news-events {
  //     margin: 80px 0;
  // }
  .c-news-events__news .c-news-events__article:last-child {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  // .c-news-events {
  //     margin: 60px 0;
  // }
  .c-news-events__news .c-news-events__article:first-child {
    margin-bottom: 30px;
  }
  // .c-homepage-news-events .c-news-events__news {
  //     margin: 0 0 30px 0;
  // }
  // .c-news-events__article {
  //     padding: 20px 0;
  // }
}
*/
