/* 2022-10-07 */
/* Combined banner image, search box, and promo bar */

.x-promobar-bg {
	background: linear-gradient(transparent 50%, white 50%);
}

.x-promobar-bg {
	p.u-font-primary {
		font-size: 1.625rem;
		transform: translate(0, -1rem);
	}
}

.x-promobar-video {
	max-width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	z-index: 1;
	transform: translateY(50%);

	a {
		display: block;
	}

	video {
		display: block;
		max-width: 100%;
		min-height: 4rem;
		object-fit: cover;
	}

	.u-safety-glass {
		position: absolute;
		background: none;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	  }
}


@media screen and (min-width: 640px) {
	.x-promobar-bg {
		p.u-font-primary {
			font-size: 2rem;
			transform: translate(0, -1.333rem);
		}
	}
}

@media screen and (min-width: 1024px) {
	.x-promobar-bg {
		p.u-font-primary {
			font-size: 3rem;
			transform: translate(0, -0.333rem);
		}
	}

}
