/***
Statistics
***/
/*
.c-statistic-block {
    padding: 67px 0;
}
.c-statistic {
    color: #FFFFFF;
    font-size: 26px;
}
.c-statistic__text {
    font-size: 26px;
}
.c-statistic__text {
    margin: 0;
}
.c-statistic__callout-text {
    font-size: 140px;
    line-height: 0.7;
    margin: 0 0 10px 0;
}
.c-statistic__callout-text--smaller {
    font-size: 88px;
}
.c-statistic__reference-text {
    font-size: 16px;
}
.c-statistic__icon {
    margin: 0 0 0 20px;
}
.c-statistic [class*="uos-"] {
    font-size: 140px;
}
@media screen and #{breakpoint(medium down)} {
    
}
*/