/*
	Homepage Study Route CTAS
*/

.c-study-route-cta {
  padding: 0px 32px 24px;
}

@media screen and #{breakpoint(large up)} {
  .c-study-route-cta .button {
    padding: 8px 24px;
  }
}

@media screen and #{breakpoint(xlarge up)} {
  .c-study-route-cta {
    padding: 8px 32px 32px;
  }

  .c-study-route-cta .button {
    margin-bottom: 16px;
    padding: 24px 32px;
  }
}
