/*
	Homepage Study Route CTAS
*/

.c-study-route-cta {
  padding: 0px 32px 24px;
}

@media screen and #{breakpoint(large up)} {
  .c-study-route-cta .button {
    padding: 8px 24px;
  }
}

@media screen and #{breakpoint(xlarge up)} {
  .c-study-route-cta {
    padding: 8px 32px 32px;
  }

  .c-study-route-cta .button {
    margin-bottom: 16px;
    padding: 24px 32px;
  }
}

// .c-study-route {
//     margin: 110px 0;
// }

// .c-study-route__button {
//     // display: block;
//     // font-size: 28px;
//     padding: 69px 20px;
//     margin: 0;
//     width: 100%;
//     // height: 100%;
// }

// // this adds a modifier that will partially layer it above
// // not sure how often this might be used, having a fixed -250px
// // seems a little problematic, but can't put it inside a content
// // type so hopefully it can remain outside
// .c-study-route--overlay {
//     .c-study-route__wrapper {
//         position: relative;
//     }

//     .c-study-route__body {
//         position: absolute;
//         width: 100%;
//         top: -250px;
//     }
// }

// @media screen and (min-width: 1024px) and (max-width: 1050px) {
//     .c-study-route__button {
//         height: 100%;
//     }

//     .c-study-route__button {
//         padding: 49px 20px;
//     }
// }

// @media screen and #{breakpoint(xlarge down)} {
//     .c-study-route {
//         margin: 70px 0;
//     }
// }

// // @media screen and (max-width: 1023px) {
// @media screen and #{breakpoint(medium down)} {
//     .c-study-route {
//         margin: 60px 0;
//     }

//     .c-study-route__button {
//         // font-size: 25px;
//         padding: 34px 20px;
//         margin: 0 0 20px 0;
//         // width: initial;
//     }
// }

// .c-study-route.reduce-top-margin {
//     margin-top: 0px;
// }

// @media screen and #{breakpoint(small only)} {
//     .c-study-route {
//         margin: 40px 0 20px 0;
//     }

//     .c-study-route.reduce-top-margin {
//         margin-top: 20px;
//     }

//     .c-study-route__button {
//         margin: 10px 0;
//     }

//     .c-study-route--overlay {
//         .c-study-route__body {
//             position: static;
//         }
//     }
// }
