/*
   Accommodation
 */

.c-accommodation-map {
  position: relative;
  padding-bottom: 28%;
  height: 0;
  overflow: hidden;
}

@media screen and #{breakpoint(xlarge down)} {
  .c-accommodation-map {
    padding-bottom: 50%;
  }
}

@media screen and #{breakpoint(small down)} {
  .c-accommodation-map {
    padding-bottom: 75%;
  }
}
