/*
   Accommodation
 */

.c-accommodation-map {
  position: relative;
  padding-bottom: 28%;
  height: 0;
  overflow: hidden;
}

@media screen and #{breakpoint(xlarge down)} {
  .c-accommodation-map {
    padding-bottom: 50%;
  }
}

@media screen and #{breakpoint(small down)} {
  .c-accommodation-map {
    padding-bottom: 75%;
  }
}

//.c-accommodation-search__loading,
// .c-accommodation-search__results {
//   display: none;
// }

/*

.c-accomm-key-info > div {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}

.c-accomm-key-info p {
  margin: 0;
}

.c-accomm-key-info > div:last-of-type {
  margin: 0;
}

.c-accomm-key-info span[class^="uos-"] {
  margin: 0 30px 0 0;
}

.c-accomm-additional-info span[class^="uos-"] {
  display: block;
  margin: 0 0 10px 0;
}

.c-accomm-key-info span[class^="uos-"],
.c-accomm-additional-info span[class^="uos-"] {
  color: $heritage-green;
  font-size: 4.5rem;
}

/*
 * Accommodation Additonal Info
 *

.c-accomm-additional-info {
  text-align: center;
}

@media screen and #{breakpoint(xlarge down)} {
  .c-accomm-key-info span[class^="uos-"],
  .c-accomm-additional-info span[class^="uos-"] {
    font-size: 3.125rem;
  }
}

@media screen and #{breakpoint(small down)} {
  .c-accomm-key-info > div {
    align-items: flex-start;
  }

  .c-accomm-key-info span[class^="uos-"] {
    font-size: 1.875rem;
  }

  .c-accomm-key-info span[class^="uos-"] {
    margin: 0 15px 0 0;
  }

  .c-accomm-additional-info .cell {
    padding: 15px 30px;
  }
}
*/
