/* COUNTRY / REGION PAGES */

.region-reqs-select {
  max-width: 350px;
}

/*

.region-webinars hr {
  border-bottom: 0;
}

.c-course-search-widget__query-wrapper {
  width: 100%;
  position: relative;
}

.c-country-search__query {
  border: none;
  border-bottom: 5px solid #cdcdcd;
  box-shadow: none;
  font-size: 2.0625rem; // 33px
  height: 100%;
  // max-width: 960px;
  margin: 0 2.8125rem 0 0;
  padding: 1rem 0 1rem 4.1875rem;
  background-image: url(../../dist/css/images/icons/magnify-course-search.svg);
  background-repeat: no-repeat;
  background-position: 0 25px;
  background-color: transparent;
  transition: border-bottom 0.3s ease-in-out;
  margin-bottom: 30px;

  &:focus {
    border-bottom: 5px solid $energy-green;
  }
}

*/

/*
.c-countries__link {
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.c-countries__img {
    margin-bottom: 1rem;
}
*/

/*  
   Meet Us Event Listing 
   Mobile First

.country-event-tbl {
  margin-top: 30px;
  background-color: #fff;

  > div {
    padding: 1rem 1rem 0 1rem;

    &:first-of-type {
      background-color: $heritage-green;
      color: #fff;
    }

    &:last-child {
      padding-bottom: 0.7rem;
    }
  }

  &:last-of-type {
    margin-bottom: 30px;
  }
}
 */

/*  
  Medium Large Up (Bespoke)

@media only screen and (min-width: 780px) {
  .country-event-tbl {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 15px;
    grid-template-areas: "A A A A A" "F F F F F" "B C C D D" "E E E E E";

    > div {
      &:first-of-type {
        grid-area: A;
      }

      &:nth-of-type(2) {
        grid-area: B;
      }

      &:nth-of-type(3) {
        grid-area: C;
      }

      &:nth-of-type(4) {
        grid-area: D;
      }

      &:nth-of-type(5) {
        grid-area: E;
      }

      /* Optional alert *
      &:nth-of-type(6) {
        text-align: center;
        grid-area: F;
        margin-bottom: 0;
      }
    }
  }

  /* Move to helpers? *
  .break-4-medium::after {
    content: "\a";
    white-space: pre;
  }
}
 */

/*  
    USED IN REPORT  
    
    NOW moved to head of report html page!!
    But keep here in case more dev needed

    Mobile First
*
.country-reqs-tbl {
  margin-top: 60px;
  background-color: #fff;

  > div {
    padding: 1rem 1rem 0 1rem;
    background-color: #faf4f4;

    p,
    li {
      font-size: 1.125rem;
    }

    h3 {
      font-size: 1.438rem;
    }

    &:first-of-type {
      background-color: #006938;
      color: #fff;
    }

    &:last-child {
      padding-bottom: 0.7rem;
    }
  }

  &:last-of-type {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 780px) {
  .country-reqs-tbl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-template-areas: "C1 C2 C3" "C4 C4 C4" "C5 C5 C5" "C6 C6 C6";

    > div {
      &:first-of-type {
        grid-area: C1;
      }

      &:nth-of-type(2) {
        grid-area: C2;
      }

      &:nth-of-type(3) {
        grid-area: C3;
      }

      &:nth-of-type(4) {
        grid-area: C4;
      }

      &:nth-of-type(5) {
        grid-area: C5;
      }

      &:nth-of-type(6) {
        grid-area: C6;
        margin-bottom: 0;
      }
    }
  }
}
*/
