/* 
	FACULTIES 

.c-faculty-masthead {
	.c-masthead__callout-text:after {
		right: -30px;
	}
}

.c-faculty-intro {
	padding: 70px 0;
}


.c-faculty-promo {
	position: relative;
}

.c-faculty-promo__buttons {
	position: absolute;
	width: 100%;
	bottom: -50px;
}

@media screen and #{breakpoint(medium up)} {
	.c-faculty-promo {
		margin-bottom: 150px;
		min-height: 850px;
	}
}

@media screen and #{breakpoint(small only)} {
	.c-faculty-promo__buttons {
		position: static;
	}
}

.c-section-box__heading {
	border-top: 3px solid $energy-green;
	padding-top: 25px;
	padding-bottom: 15px;
	font-size: 24px;
}

.c-faculty-research-section {
    padding: 80px 0;
    overflow: hidden;
}

.c-faculty-contact {
	margin-bottom: 80px;
}
*/