/*
   INTERNAL AREA

@import "internal/burger-menus";
@import "internal/internal-search";
@import "internal/landing";

*/
/*
   INTERNAL
   Internal signpost dropdown
   Used in header of the Internal Templates
 */

.c-internal-signpost-dropdown {
  position: relative;
  font-family: $header-font-family;
  bottom: 0;
  right: 0;
}

@media screen and #{breakpoint(medium down)} {
  .c-internal-signpost-dropdown {
    display: none;
  }
}

.c-internal-signpost-dropdown__text {
  font-style: normal;
  font-weight: 300;
  font-size: 1.375rem;
}

.c-internal-signpost-dropdown__link {
  text-decoration: none;
  border-bottom: 2px solid $energy-green;

  &::after {
    content: " \e981" !important; // plus
    font-family: "uos" !important;
    font-size: 0.75rem;
    cursor: pointer;
  }

  &:hover {
    border-bottom: 2px solid $heritage-green;
  }

  &.is-active {
    &::after {
      content: " \e979" !important; // minus
    }
  }
}

.c-internal-signpost-dropdown__submenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: $white;
  z-index: 50;

  // shadow line beneath the submenu
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 5px;
    width: 100%;
    border-bottom: 5px solid #000;
    opacity: 0.2;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0px 30px 10px 20px;

    li {
      a {
        font-size: 1.25rem; /* 20px */
        white-space: nowrap;
        font-weight: 300;
      }
    }
  }
}

.c-internal-signpost-dropdown__link--show-submenu {
  .c-internal-signpost-dropdown__submenu {
    display: block !important;
  }
}

/*
   General internal styles
   class is on the body tag of the template
 */

.internal-pages .intro {
  margin-top: 60px;

  h1 {
    color: $heritage-green;
    font-size: 2.25rem;
  }

  p {
    font-size: 1.625rem;
  }
}

@media screen and #{breakpoint(medium down)} {
  .internal-pages {
    .intro {
      h1 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.125rem;
      }
    }

    .placeholder .uos-magnifying-glass {
      font-size: 1.25rem;
    }
  }
}

/*
   BRANDBANK
 */

.bb-note {
  font-size: 0.9rem;
}

/*
   BRANDBANK 
   Masthead alternative code
 *

.c-image-text-block--internal {
  > .grid-container {
    min-height: 250px;
  }

  .c-image-text-block__image {
    background-position: top center;
  }
}
*/

/*
.internal-page-content {
  hr {
    border-bottom: 3px solid #f6f5f4;
    margin: 1.6rem 0 2.3rem;
  }

  // .bb-note {
  //   font-size: 0.9rem;
  // }
}

/* 
   BRANDBANK 


@media screen and #{breakpoint(small down)} {
  .external-pages .internal-page-content {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
}

.internal-page-main-content-header h1 {
  margin: 0 0 40px 0;
}

.internal-page-main-content {
  .promo-box {
    h2 {
      margin-top: 0rem;
    }

    span[class^="uos-"] {
      font-size: 4rem;
    }
  }

  .useful-links {
    background: #3b6938;
    padding: 40px 20px;

    h2 {
      color: #fff;
    }

    ul {
      column-count: 3;
      margin-left: 0;
    }
  }
}

@media screen and #{breakpoint(medium down)} {
  .internal-page-main-content .useful-links ul {
    column-count: 1;
  }
}

.internal-page-main-content {
  .useful-links ul li {
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    a {
      color: #fff;

      &::after,
      &.button::after {
        content: "›";
        left: 10px;
        position: relative;
      }
    }
  }
}
 */
/*
   BRANDBANK


.internal-pages-mobile-menu {
  display: none;
  background-color: #f6f5f4;
  padding: 10px 20px;
  margin: 0 0 35px 0;

  .internal-sidebar-menu nav {
    margin: 0;

    ul {
      margin: 0px;
    }
  }
}
 */
/*
  BRANDBANK


@media screen and #{breakpoint(medium down)} {
  .internal-sidebar-menu li.currentbranch0:before {
    content: "\e93c";
    font-family: "uos";
  }
}
*/
/* 
   BRANDBANK 

.internal-sidebar-menu {
  nav {
    position: sticky;
    top: 30px;
  }

  a {
    color: $black;
    font-size: 1.125rem; 
  }

  li {
    list-style: none;
    margin: 10px 0;
  }

  span {
    color: $heritage-green;
    font-size: 1.125rem; 
  }

  .multilevel-linkul-1 {
    position: relative;

    span[class*="current"] {
      display: block;
      padding-left: 30px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        border-left: 5px solid $energy-green;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }

  span {
    &.currentbranch0 a,
    &.currentbranch1 a {
      color: $heritage-green;
      font-weight: 700;
    }
  }

  ul {
    &.multilevel-linkul-0 a {
      font-size: 1rem; 
    }

    &[class*="multilevel"] {
      padding-left: 30px;
    }
  }
}

@media screen and #{breakpoint(medium down)} {
  .internal-sidebar-menu li.currentbranch0:before {
    content: "\e93c";
    font-family: "uos";
  }
}
 */
