/* 
    KITCHEN SINK COMPONENTS 
*/

@import "kitchensink/5tips";
@import "kitchensink/accordion";
@import "kitchensink/banners";
@import "kitchensink/bleed-feature-image";
@import "kitchensink/breadcrumbs";
@import "kitchensink/buttons";
@import "kitchensink/callout";
@import "kitchensink/civic-cookie-banner";
@import "kitchensink/contact";
@import "kitchensink/forms";
@import "kitchensink/galleries";
@import "kitchensink/half-n-half";
@import "kitchensink/infographics";
@import "kitchensink/mastheads.scss";
@import "kitchensink/image-text-block";
@import "kitchensink/link";
@import "kitchensink/pagination";
@import "kitchensink/past-recordings";
@import "kitchensink/promo-box";
@import "kitchensink/slick";
@import "kitchensink/tables";
@import "kitchensink/tabs";
@import "kitchensink/pullquote";
@import "kitchensink/wysiwyg";
@import "kitchensink/zoom";
@import "kitchensink/course-search-widget";

@import "kitchensink/accordion-listing";
@import "kitchensink/debug";
@import "kitchensink/colour-swatch";
@import "kitchensink/cta";
@import "kitchensink/download-box";
@import "kitchensink/events-box";
@import "kitchensink/icon-link";
@import "kitchensink/icon-list";
@import "kitchensink/icon-indent";
@import "kitchensink/keyfacts";
@import "kitchensink/search";
@import "kitchensink/share-btns";

@import "kitchensink/hook-promo";
@import "kitchensink/cta-listing";

@import "kitchensink/timeline";

/*
    MINI COMPONENTS
*/

/*
   Wrappers
 */
.c-wrapper {
  position: relative;

  &[data-has-overlapper="up"] {
    padding-bottom: 5rem;
  }
}

/* Foundation Reveal */

.reveal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1005;
  display: none;
  background-color: rgba(58, 60, 57, 0.35);
  overflow-y: auto;
}

.reveal {
  margin: auto;
  width: clamp(20rem, 53.125rem, 80vw);
  z-index: 1006;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  padding: 2rem;
  border: none; //1px solid #cacaca;
  border-radius: 0;
  background-color: #fff;
  position: relative;
  top: 100px;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.07), -3px -3px 3px rgba(0, 0, 0, 0.07);
}

.close-button,
.close-button.medium {
  right: 1rem;
  top: 0.5rem;
  font-size: 2em;
  line-height: 1;
}
.close-button {
  position: absolute;
  color: #8a8a8a;
  cursor: pointer;
}

/*
   Responsive wrapper 
   For videos, iframe, objects and SVGs.
 */

.responsive-embed.widescreen > iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.c-responsive-embed {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* As on subject pages */
.c-responsive-embed.svg-stat {
  padding-bottom: 108%;
  padding-bottom: 122%;

  &.down-10 {
    margin-top: 10px;
  }

  &.down-20 {
    margin-top: 20px;
  }
}

.c-scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;

  svg,
  object,
  iframe {
    /* override this inline for aspect ratio other than square */
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

object.spritesheet {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

/*
 * Hook on divs
 */
@mixin c-hook {
  position: relative;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    height: 1.9375rem;
    border-top: 7px solid $heritage-green;
    z-index: z($z-index-elements, hook);
    left: 0;
    width: 100%;
  }
}

.c-hook--top-right {
  @include c-hook;
  //z-index: 1;

  &::before {
    border-right: 7px solid $heritage-green;
    top: 0;
  }
}

.c-hook--top-left {
  @include c-hook;

  &::before {
    border-left: 7px solid $heritage-green;
    top: 0;
  }
}

/* 
   Google maps
 */
.c-google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*
 * 
 */
.c-wysiwyg-content-svg-fix .c-wysiwyg-content img[src*="svg"] {
  width: 100%;
}

/*
   Overlap box
   eg Scolarships grey awards box 
 */

.c-overlap-box {
  > div {
    margin-bottom: 60px;
  }

  .grid-x {
    padding: 30px 0;
  }
}

// Medium up
@media screen and #{breakpoint(medium up)} {
  .c-overlap-box {
    position: relative;
    top: -30px;

    > div {
      margin-bottom: 0;
    }

    .grid-x {
      padding: 10px;
    }
  }
}

// Large up
@media screen and #{breakpoint(large up)} {
  .c-overlap-box {
    top: -50px;

    .grid-x {
      padding: 20px;
    }
  }
}

/*
  c-overlaper
	eg Staff Profile template
*/

@media screen and #{breakpoint(large up)} {
  .c-overlaper {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 330px;
    margin-top: 30px;
  }
}

/* Map / Getting around */

.c-maps-travel-mode-list__item {
  display: inline-block;
  margin-right: 30px;
}

.c-map--full-width {
  height: 600px;
  width: 100%;
}

@media screen and #{breakpoint(medium down)} {
  .c-getting-here__header {
    margin: 40px 0;
  }
}

.c-getting-around__travel-mode {
  display: inline-block;
  margin-right: 30px !important;
  &:last-child {
    margin-right: 0px !important;
  }
}

#getting-around__google-maps-link {
  display: none;
}

/* 
    Embeds from 3rd parties
*/

.altmetric-embed a {
  border: none;
}

#google_translate_element {
  margin: 0 0 20px 0;
}

@media screen and #{breakpoint(medium up)} {
  #google_translate_element {
    margin: 0 0 0 0;
  }
}

@media screen and #{breakpoint(large up)} {
  #google_translate_element {
    margin: 20px 0;
  }
}

#_hj_feedback_container {
  button[class$="__closeButton"] {
    outline: 1px dotted black;
    outline-offset: 2px;
    background-color: $heritage-green;
  }
  button:focus > div[class$="__text"] {
    outline: 1px dotted white;
    outline-offset: 1px;
  }
}
