/*
    LAYOUT STYLES

    Putting this in it's own include file coz it makes the app.scss file neater, and
    clearer for devs what the purpose of these styles are

    ...ONLY LAYOUT STYLES HERE, PLEASE :)
*/

@import "layout/cookies-banner";
@import "layout/header";
@import "layout/c-footer";
@import "layout/footer";
@import "layout/internal-homepage";
@import "layout/header-search";
@import "layout/mobile-menu";
@import "layout/megamenu";
@import "layout/sitemap";

/*
    SITE WIDE STYLES
*/

body .grid-container {
  width: 77.5rem;
  max-width: 90%;
}

@include breakpoint(small down) {
  body .grid-container {
    width: 100%;
    max-width: 77.5rem;
  }
}

a {
  color: map-get($uos-web-supplementary, heritage-green-a11y);
}

p a,
table a,
.wrapper-content li:not(.c-search-letters__box) a {
  border-bottom: 2px solid currentColor;
  font-size: inherit;
}

p.c-image-block-search-result__heading a {
  border: 0;
}

h2 a,
h3 a,
h4 a {
  border-bottom: 2px solid transparent;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
  border-bottom-color: currentColor;
}

a:hover {
  border-bottom-color: $energy-green;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

ul.no-style,
ul.no-style ul,
li.no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin-left: 2.5rem;
}

form,
input {
  outline: none;
  position: relative;
}

input {
  border: none;
  // width: 100%;
}

[type="text"]:focus,
[type="password"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="week"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="color"]:focus,
textarea:focus {
  background-color: inherit;
  //border: none;
  box-shadow: none;
}

table {
  margin: 30px 0 30px 0;
}

table th,
table td {
  vertical-align: top;
  text-align: left;
}

/*
  Progress bar eg used on search
*/
progress {
  &[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    background-color: #d2d2d2;
  }

  &::-webkit-progress-value {
    background-color: #76bd22;
  }

  &::-webkit-progress-bar {
    background-color: #d2d2d2;
  }

  &::-moz-progress-bar {
    background-color: #76bd22;
  }
}

/*
    Back to main website button
*/

a.back-to-main-site {
  color: $heritage-green;
  display: inline-block;
  font-family: $header-font-family;
  font-size: 1.625rem; // 26px;
  font-weight: $header-font-weight;
}

@include breakpoint(medium down) {
  a.back-to-main-site {
    font-size: 1.375rem; // 22px;
    margin: 20px 0 0 0;
  }
}

/*
    HOOK STYLES
    Styles a hook under the content wrapped with the class '.hook'.
*/

.hook {
  display: inline-block;
  position: relative;
}

.hook-right {
  padding: 0 20px 20px 0;
}

.hook-left {
  padding: 0 0 20px 20px;
}

.hook::before,
.hook::after {
  background-color: currentColor;
  bottom: 0;
  content: "";
  position: absolute;
}

.hook::before {
  height: 31px;
  width: 7px;
}

.hook-right::before {
  right: 0;
}

.hook-left::before {
  left: 0;
}

.hook::after {
  height: 8px;
  left: 0;
  width: 100%;
}

.hook-infinite {
  max-width: max-content;

  &::after {
    width: 100vw;
  }
  &.hook-right::after {
    left: auto;
    right: 0;
  }
}

.hook-energy-green::after,
.hook-energy-green::before {
  background-color: $energy-green;
}

/*
    HIGHLIGHT STYLES
    Styles a short highlight line under the content wrapped with the class '.higlight'.
*/

.highlight {
  color: $heritage-green;
  padding: 0 0 30px 0;
  position: relative;
}

.highlight:after {
  content: "";
  background-color: $energy-green;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 67px;
  height: 8px;
}

/*
    Callout button
    Styles the featured buttons on the homepage.
*/

// .callout-buttons {
//   padding-top: 60px;
//   padding-bottom: 70px;
// }

// .button-callout {
//   font-size: 1.25rem; // 20px;
//   min-width: 350px;
//   max-width: 350px;
//   padding: 33px 50px;
// }

.c-header-nav__icon {
  padding-left: 5px;
}

img.objfitcover,
.c-image-text-block > img,
.c-half-n-half__image > img,
.c-masthead__image > img,
.c-bleed-feature__image > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#google_translate_element {
  margin: 0 0 20px 0;
}

@media screen and #{breakpoint(medium up)} {
  #google_translate_element {
    margin: 0 0 0 0;
  }
}

@media screen and #{breakpoint(large up)} {
  #google_translate_element {
    margin: 20px 0;
  }
}

.objfit-container {
  min-height: 27rem; /* 432px */
}

@media screen and (min-width: 640px) {
  .objfit-container {
    min-height: 30rem; /* 464px */
  }
}
@media screen and (min-width: 1024px) {
  .objfit-container {
    min-height: 33rem; /* 580px */
  }
}

.altmetric-embed a {
  border: none;
}

/* 
    Focus
*/

.c-promo-box--image .c-promo-box__content > div span:focus-within,
.button:focus,
input:focus,
textarea:focus,
select:focus,
.c-search-ordered-filters button:focus,
a:focus {
  outline: 1px solid $heritage-green !important;
  outline-offset: 4px;
}

.u-white--all {
  .c-promo-box--image .c-promo-box__content > div span:focus-within,
  .button:focus,
  input:focus,
  textarea:focus,
  select:focus,
  a:focus {
    outline: 1px solid #fff !important;
    outline-offset: 4px;
  }
}
