/*
    LAYOUT STYLES

    Putting this in it's own include file coz it makes the app.scss file neater, and
    clearer for devs what the purpose of these styles are

    ...ONLY LAYOUT STYLES HERE, PLEASE :)
*/

/*
    RESETS
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Template */

body {
  margin: 0;
  font-family: $body-font-family !important;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;

  a {
    text-decoration: none;
  }
}

body .grid-container {
  width: clamp(20rem, 94vw, 77.5rem);
  margin: 0 auto;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

hr {
  clear: both;
  max-width: 77.5rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #cacaca;
  border-left: 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

@import "layout/cookies-banner";
@import "layout/header";
@import "layout/footer";
@import "layout/internal-homepage";
@import "layout/header-search";
@import "layout/mobile-menu";
@import "layout/megamenu";
@import "layout/sitemap";

@import "layout/grid";

/* 
    Objectfit helpers - MOVE
*/

img.objfitcover,
.c-image-text-block > img,
.c-half-n-half__image > img,
.c-masthead__image > img,
.c-bleed-feature__image > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.objfit-container {
  min-height: 27rem; /* 432px */
}

@media screen and #{breakpoint(medium up)} {
  .objfit-container {
    min-height: 30rem; /* 464px */
  }
}

@media screen and #{breakpoint(large up)} {
  .objfit-container {
    min-height: 33rem; /* 580px */
  }
}
