/*
	News 
*/

.c-image-caption {
  color: #746e64;
  display: inline-block;
  font-size: 0.875rem; /* 14px */
  margin: 10px 0;
}

.c-news__single-article {
  p > img {
    margin: 40px 0 0;
  }

  .c-image-caption {
    margin: 0 0 40px;
    max-width: 600px;
  }

  .c-testimonial,
  .c-responsive-embed {
    margin: 40px 0;
  }
}

@media screen and #{breakpoint(xlarge up)} {
  .c-news__single-article {
    p > img {
      margin: 3.75rem 0 0;
    }

    .c-image-caption {
      margin: 0 0 3.75rem;
    }
  }
}

.c-image-caption.c-main-image-caption {
  margin: 1rem 0 2.5rem 0;
}

/* 
  Conversation 
*/

article.c-convo {
  //padding-bottom: 1rem;
  h3 {
    // border-top: 2px solid $energy-green;
    padding: 1rem 0;
  }
  small {
    color: inherit;
  }
}
