/*
    Only type spectic stuff in here 
    Otherwise use layout

    Use this file for defaults
    Overides could be a utility in utilties/_type 
    eg u-font-primary
*/

/* 
    Base Sizes 
*/

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

@media screen and #{breakpoint(medium up)} {
  h1 {
    font-size: 2.625rem;
  }

  h2 {
    font-size: 2.25rem;
  }
}

@media screen and #{breakpoint(large up)} {
  h1 {
    font-size: 3.625rem;
  }
}

@media screen and #{breakpoint(xlarge up)} {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2.625rem;
  }

  h3 {
    font-size: 1.625rem;
  }
}

small {
  font-size: 0.75rem; /* 12px */
}

li small {
  font-size: 0.6875rem; /* 11px */
}

p,
li,
th,
td,
legend {
  font-size: 1.25rem; // 16px * 1.5 = 20px
}

/* 
    General styling 
*/

ul,
ol,
dl {
  margin-left: 2.5rem;
  margin-bottom: 2rem;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 2rem;
  margin-left: 2.5rem;
}

ul.no-style,
ul.no-style ul,
li.no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

b,
strong {
  font-weight: 700;
  line-height: inherit;
}

small {
  line-height: inherit;
}

h1 {
  color: $heritage-green;
  font-family: $header-font-family;
  font-weight: 300;
  line-height: 120%;
  margin: 0 0 40px 0;
  position: relative;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: relative;
  line-height: 1.5;
}

h2,
h3 {
  margin: 0 0 2rem 0;
  padding: 0 0 2rem 0;
}

h3 {
  font-weight: 700;
}

h4,
h5 {
  margin: 0 0 2rem 0;
}

h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.6;
}

h2,
h2 > strong {
  color: $heritage-green;
  font-family: $header-font-family;
  font-size: 2.25rem; // 16px * rem = 36px
  font-weight: 300;
}

h2:after,
h3:after {
  content: "";
  background-color: #76bd22;
  bottom: 13px;
  left: 0;
  position: absolute;
  width: 60px;
  height: 8px;
}

h2 a,
h3 a,
h4 a {
  border-bottom: 2px solid transparent;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
  border-bottom-color: currentColor;
}

a {
  color: map-get($uos-web-supplementary, heritage-green-a11y);
}

p a,
table a {
  // border-bottom: 2px solid currentColor;
  font-size: inherit;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

a:hover {
  //border-bottom-color: $energy-green;
  text-decoration-color: $energy-green;
}

/* 


    OVERRIDES - MOVE!

    
*/

/* 
    c-wysiwyg-content 
*/

.c-wysiwyg-content h2:first-of-type,
.c-wysiwyg-content h3:first-of-type {
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
}

.c-wysiwyg-content h2,
.c-wysiwyg-content h3,
.c-wysiwyg-content > p + h2:first-of-type,
.c-wysiwyg-content > p + h3:first-of-type,
.c-wysiwyg-content ul + h2:first-of-type,
.c-wysiwyg-content ul + h3:first-of-type,
.c-wysiwyg-content ol + h2:first-of-type,
.c-wysiwyg-content ol + h3:first-of-type {
  margin: 40px 0 40px 0;
}

.c-wysiwyg-content ol:not(.numberlist) > li {
  margin-bottom: 1em;
}

/* 
    stir-tabs
*/
.stir-tabs {
  h3 {
    font-size: 1.313rem;
  }

  h4 {
    font-size: 1.125rem;
  }
}

/* 
    P Variations 
*/

p.smaller {
  font-size: 1rem;

  a.c-link {
    font-size: 1rem;
    border-bottom: none;

    &::after {
      margin: 0 0 0 2px;
      font-size: 0.8rem;
    }
  }
}

.u-p-last-mb-0 p:last-child {
  margin-bottom: 0;
}

/* 
    H1 Variations 
*/

h1.c-automatic-page-heading {
  margin: 0;
}

h1.u-header-smaller {
  font-size: 2.625rem; /* 42px */
  margin-bottom: 20px;
}

@media screen and #{breakpoint(medium up)} {
  h1.u-header-smaller {
    font-size: 3.25rem; /* 52px */
  }
}

@media screen and #{breakpoint(large up)} {
  h1.u-header-smaller {
    font-size: 3.875rem; /* 62px */
  }
}

/* 
    H2 Variations 
*/

h2.u-header-larger {
  font-size: 2rem; /* 32px */
}

@media screen and #{breakpoint(large up)} {
  h2.u-header-larger {
    font-size: 2.8125rem; /* 45px */
  }
}

/* 
    Overide classes 
*/

.header-stripped {
  padding: 0;
  &:after {
    display: none;
  }
}

.u-header--secondary-font {
  font-family: "Open Sans", sans-serif;
  font-size: 1.875rem; /* 30px */
  font-weight: 700;
}

.u-header--margin-stripped {
  margin: 0 0 10px !important;
}

.u-line-height-1 {
  line-height: 1;
}

.u-line-height-1_2,
.u-compress-line-height,
.u-line-height-compress {
  line-height: 1.2;
}

.u-line-height-default {
  line-height: 1.6;
}

.text-larger,
.h4, // DEPRECATED
p.text-larger,
p.lead {
  font-size: 1.5rem; /* 24px */
}

span.icon--large {
  font-size: 4rem;
}

span.icon--medium {
  font-size: 30px;
}
