// CUSTOM
@charset 'utf-8';

// 1. Layout
// ---------
$global-width: rem-calc(1240);
$global-lineheight: 1.5;

// 2. Colours
// ---------

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$dark-grey: #616361;
$grey: #bebebe;
$black: #3a3c39; // Tertiary Colour
$white: #fff; //fefefe;

$foundation-palette: (
  primary: #006938,
  secondary: #767676,
  success: #006938,
  warning: #ecaa00,
  alert: #d10056,
  black: $black,
  white: $white,
);

$primary-color: map-get($foundation-palette, primary);

$uos-web-supplementary: (
  black: $black,
  white: $white,
  dark-grey: $dark-grey,
  heritage-green-a11y: #006636 //Added for WCAG-AAA contrast (against white bg),
);

$brand-palette: (
  // Tertiary Colours
  light-mink: #c5bfb7,
  medium-mink: #79766f,
  dark-mink: #373a36,
  // Energy Colours
  energy: #77bf22,
  energy-green: #77bf22,
  energy-teal: #008996,
  energy-yellow: #f4c400,
  energy-orange: #ff6d00,
  energy-light-blue: #5fb4e5,
  energy-blue: #3d7dca,
  energy-pink: #e80068,
  energy-purple: #592c82,
  energy-turq: #00a5ac,
  // Heritage Colours
  heritage-green: #006938,
  heritage-teal: #005e63,
  heritage-yellow: #ecaa00,
  heritage-orange: #e14504,
  heritage-blue: #385dae,
  heritage-navy: #14315e,
  heritage-berry: #9d1e65,
  heritage-purple: #31006f,

  // Web versions
  web-turq: #00838a
);

$uos-button-palette: (
  primary: map-get($foundation-palette, primary),
  secondary: map-get($foundation-palette, secondary),
  success: map-get($foundation-palette, success),
  warning: map-get($foundation-palette, warning),
  alert: map-get($foundation-palette, alert),
  // Energy
  energy-green: map-get($brand-palette, energy-green),
  energy: map-get($brand-palette, energy-green),
  energy-pink: map-get($brand-palette, energy-pink),
  energy-turq: map-get($brand-palette, energy-turq),
  energy-purple: map-get($brand-palette, energy-purple),
  // Heritage
  heritage-green: map-get($brand-palette, heritage-green),
  heritage-berry: map-get($brand-palette, heritage-berry),
  heritage-purple: map-get($brand-palette, heritage-purple),
  // Misc
  dark-mink: map-get($brand-palette, dark-mink),
  info: map-get($brand-palette, heritage-blue),
);

// Widening Participation campaign colours
$uos-wp-palette: (
  wp-green: #00af99,
  wp-red: #d10056,
  wp-blue: #00a5db,
);

$uos-button-palette: (
  primary: map-get($foundation-palette, primary),
  secondary: map-get($foundation-palette, secondary),
  success: map-get($foundation-palette, success),
  warning: map-get($foundation-palette, warning),
  alert: map-get($foundation-palette, alert),
  // Energy
  energy-green: map-get($brand-palette, energy-green),
  energy: map-get($brand-palette, energy-green),
  energy-pink: map-get($brand-palette, energy-pink),
  energy-turq: map-get($brand-palette, energy-turq),
  energy-purple: map-get($brand-palette, energy-purple),
  // Heritage
  heritage-green: map-get($brand-palette, heritage-green),
  heritage-berry: map-get($brand-palette, heritage-berry),
  heritage-purple: map-get($brand-palette, heritage-purple),
  // Misc
  dark-mink: map-get($brand-palette, dark-mink),
  info: map-get($brand-palette, heritage-blue),
);

$button-palette: $uos-button-palette;

$body-background: $white;
$body-font-color: $black;
$body-font-family: "Open Sans", sans-serif; //'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

// 3. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1240px,
  xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge);

// 4. Base Typography
// ------------------

$global-font-size: 100%;
$header-font-family: "FSMaja", serif; //$body-font-family;
$header-font-weight: 300;

// 5. Spacing
// ------------------

$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-radius: 0;
$global-text-direction: "ltr";

// new button settings
$button-padding-list: (
  tiny: 1.1em 1em,
  small: 1.1em 1em,
  default: 20px 28px,
  large: 69px 20px,
);

@import "settings/functions";
@import "settings/colors";
@import "settings/zindex";

// NPM STUFF...

@import "node_modules/tiny-slider/src/tiny-slider.scss";

// CUSTOM...

@import "layout";
@import "type";

// re-usable components that can be used site wide
@import "kitchensink";

// collections
@import "internal";
@import "search";
@import "aos/aos";

// standalone - TODO break into reusable components
@import "homepage";
@import "courses";
@import "research-hub";
@import "news-article";

// Utilities
@import "utilities/utilities";
